
{% extends 'views/_layout.html.twig' %}

{% block bodyClass %}page{% endblock bodyClass %}

{% block content %}

    <div class="section full-height-4 over-hide append-logo">
        {% if content.highlightpic is not empty %}
            <div class="parallax parallax-center" style="background-image: url('{{ content.highlightpic }}')"></div>
        {% endif %}
        <div class="grey-fade-over-2"></div>
        <div class="hero-center-wrap move-top-on-mob z-bigger">
            <div class="container parallax-fade-top">
                <div class="row justify-content-center">
                    <div class="col-md-8 text-center">	
                        <div class="main-title on-dark text-center">
                            <h1>{{ content.title }}</h1>
                            {% if content.subtitle is not empty %}
                                <div class="main-subtitle-bottom mt-3">{{ content.subtitle }}</div>	
                            {% endif %}
                        </div>	
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if content.introduction is not empty %}
        <!-- Introduction -->
        <div class="section padding-top-bottom-smaller background-custom-1 z-bigger-2 cta-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 offset-1">	
                        <div class="call-box-1 homepage-quote dark text-center text-center">
                            <p>{{ content.introduction }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Introduction -->
    {% endif %}

    <div class="section padding-top-bottom background-white over-hide">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">	
                    {{ render(url('render-content-collection', {'collectionTpl':'default', 'tplName': 'default', 'code': content.id ~ '-col1', 'order': 'position', 'direction': 'asc', 'noElementText': 'Aucun contenu à afficher' })) }}
                </div>
                <div class="col-md-6">	
                    {{ render(url('render-content-collection', {'collectionTpl':'default', 'tplName': 'default', 'code': content.id ~ '-col2', 'order': 'position', 'direction': 'asc', 'noElementText': 'Aucun contenu à afficher' })) }}
                </div>
            </div>
        </div>
    </div>


{% endblock content %}