<div class="section padding-top-bottom-1 background-white">
    <div class="container">	
        <div class="row">
            <div class="col-md-12">	
                <div class="separator-wrap">	
                    <span class="separator"><span class="separator-line dashed"></span></span>
                </div>
            </div>
        </div>
    </div>		
</div>

<div class="section background-white over-hide footer-1">	
    <div class="container scd-foot pb-3">
        <div class="row justify-content-center pt-5 pb-3">
            <div class="col-md-12 text-center pb-0">
                {{ render(url('render-content',{'tplName':'default', 'contentCode': 'C9'})) }}
            </div>
        </div>
    </div>	
    <div class="scd-foot background-grey pt-4 pb-4">
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="mb-0">©2017 {{ app.default_title }} - <a href="/mentions-legales">Mentions légales</a> - Réalisation : <a target="_blank" title="Editeur logiciels et sites internet pour communes, entreprises, TPE et PME - AVIGNON Vaucluse" href="http://www.argsolutions.fr">ARG Solutions</a></p>
            </div>
        </div>	
    </div>
</div>
