<div class="block-content-image-background-wrapper" data-code="{{ content.code }}" data-overlay="6">

    <div class="block-content-image-content" {% if content.highlightpic is not empty %}style="background-image: url({{ content.highlightpic }})"{% endif %}>
    </div>
    
    <!--<div class="block-content-wrapper">-->
        <div class="block-content">
            {% if content.title is not empty %}
                <div class="title">{{ content.title }}</div>
            {% endif %}

            {% if content.subtitle is not empty %}
                <div class="subtitle">{{ content.subtitle }}</div>
            {% endif %}

            {% if content.introduction is not empty %}
                <div class="introduction">{{ content.introduction }}</div>
            {% endif %}

            {% if content.content is not empty %}
                <div class="content">{{ content.content|raw }}</div>
            {% endif %}
        </div>
    <!--</div>-->
        
</div>