<div class="block-content-image-wrapper" data-code="{{ content.code }}">

    {% if content.highlightpic is not empty %}
        <div class="block-content-image" style="background-image: url({{ content.highlightpic }});">
        </div>
    {% endif %}
    
    <div class="block-content-image-content-wrapper">
        <div class="block-content">
            {% if content.title is not empty %}
                <div class="title">{{ content.title }}</div>
            {% endif %}

            {% if content.subtitle is not empty %}
                <div class="subtitle">{{ content.subtitle }}</div>
            {% endif %}
{#
            {% if content.introduction is not empty %}
                <div class="introduction">{{ content.introduction }}</div>
            {% endif %}

            {% if content.content is not empty %}
                <div class="content">{{ content.content|truncate(100)|raw }}</div>
            {% endif %}
            #}
        </div>
    </Div>
</div>