<div class="block-content-wrapper" data-code="{{ content.code }}">

    <div class="block-content">
        {% if content.title is not empty %}
            <div class="title">{{ content.title }}</div>
        {% endif %}

        {% if content.subtitle is not empty %}
            <div class="subtitle">{{ content.subtitle }}</div>
        {% endif %}

        {% if content.introduction is not empty %}
            <div class="introduction">{{ content.introduction }}</div>
        {% endif %}

        {% if content.content is not empty %}
            <div class="content">{{ content.content|raw }}</div>
        {% endif %}
    </div>
    
</div>