<div class="block-content-video-background-wrapper" data-code="{{ content.code }}" data-overlay="3">
    <div class="block-content-video-content">
        {% if content.title is not empty %}
            <div class="title">{{ content.title }}</div>
        {% endif %}

        {% if content.subtitle is not empty %}
            <div class="subtitle">{{ content.subtitle }}</div>
        {% endif %}
    </div>
    <div class="block-content-video">
        {% if content.content is not empty %}
            <div class="content">{{ content.content|raw }}</div>
        {% endif %}
    </div>

</div>