
<div id="menu-wrap" class="cbp-af-header black-menu-background-1st-trans menu-fixed-padding menu-shadow">
    <div class="container">
        <div class="row">
            <div class="col-md-12">	
                <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse bg-faded">
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavMenuMain" aria-controls="navbarNavMenuMain" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('accueil') }}">
                        {{ render(url('render-content',{'tplName': 'logo', 'contentCode':'L1'})) }}
                    </a>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNavMenuMain">
                        <ul class="navbar-nav">
                            {{ render(url('render-organise',{'tplName': 'nav', 'areaName':'navigation'})) }}
                        </ul>
                    </div>
                </nav>		
            </div>
        </div>	
    </div>		
</div>