{% extends 'views/_layout.html.twig' %}

{% block title %}
    {{ content.title|escape }} - {{ parent() }}
{% endblock %}

{% block metadesc %}
    {{ content.introduction|escape }}
{% endblock %}


{% block content %}

    <section class="height-50 bg--primary imagebg page-title page-title--animate parallax"{% if content.highlightpic is not empty %} data-overlay="3"{% endif %}>
        {% if content.highlightpic is not empty %}
            <div class="background-image-holder">
                <img alt="image" src="{{ content.highlightpic }}" />
            </div>
        {% endif %}
        <div class="container pos-vertical-center">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 text-center">
                    <h1>{{ content.title }}</h1>
                </div>
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
    
    <section class="block-content-wrapper" data-code="{{ content.code }}">
        <div class="container">
            <div class="full-content-wrapper" data-code="{{ content.code }}">
                <div class="full-content">

                    {% if content.subtitle is not empty %}
                        <div class="subtitle" data-content-id="{{ content.id }}" data-content-field="subtitle">
                            {{ content.subtitle }}
                        </div>
                    {% endif %}

                    {% if content.introduction is not empty %}
                        <div class="introduction" data-content-id="{{ content.id }}" data-content-field="introduction">
                            {{ content.introduction|raw }}
                        </div>
                    {% endif %}

                    {% if content.content is not empty %}
                        <div class="content" data-content-id="{{ content.id }}" data-content-field="content">
                            {{ content.content|raw }}
                        </div>
                    {% endif %}

                </div>  
            </div>
        </div>
    </section>

{% endblock content %}