{% if slider is defined %}

    {% if slider.slides|length > 0 %}
        <div id="slider{{ slider.id }}" class="owl-carousel owl-theme">
    {% endif %}
    
    {% for slide in slider.slides %}
        <div src="{{ slide.file }}" data-src="{{ slide.file }}" class="item owl-lazy background-image-cover full-height"></div>
    {% endfor %}
        
    {% if slider.slides|length > 0 %}
        </div>
    {% endif %}

{% endif %}