{% extends 'views/_layout.html.twig' %}

{% block title %}
    {{ content.title|escape }} - {{ parent() }}
{% endblock %}

{% block metadesc %}
    {{ content.introduction|escape }}
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <!-- add extra container element for Masonry -->
        <div class="grid">
            <div class="grid-sizer"></div>
            <div class="grid-item grid-item--width2">
                <!-- add inner element for column content -->
                <div class="grid-item-content">
                    <div class="grid-item-video-background">
                        <!-- Video Background -->
                        {{ render(url('render-content',{'tplName':'contenu-video', 'contentCode': 'C2'}))}}
                        <!-- /Video Background -->
                    </div>
                </div>
            </div>
            <div class="grid-item grid-item--height3">
                <div class="grid-item-content">
                    <div class="grid-item-image-background">
                        <!-- Image Background -->
                        {{ render(url('render-content',{'tplName':'contenu-image-fond', 'contentCode': 'C3'}))}}
                        <!-- /Image Background -->
                    </div>
                </div>
            </div>
            <div class="grid-item grid-item--height2">
                <div class="grid-item-content">
                    <!-- Image -->
                    {{ render(url('render-content',{'tplName':'contenu-image', 'contentCode': 'C1'}))}}
                    <!-- /Image -->
                </div>
            </div>
            <div class="grid-item grid-item">
                <div class="grid-item-content">
                    <!-- Image -->
                    {{ render(url('render-content',{'tplName':'contenu', 'contentCode': 'C4'}))}}
                    <!-- /Image -->
                </div>
            </div>
                    
            <div class="grid-item grid-item">
                <div class="grid-item-content">
                    <div class="block-weather-wrapper">
                        <div class="block-content">
                            {{ render(url('render-weather',{'tplName':'default'}))}}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock content %}

{% block js %}
    <script>

        $('.grid').isotope({
            itemSelector: '.grid-item', // use a separate class for itemSelector, other than .col-
            percentPosition: true,
            masonry: {
                gutter: 20,
                columnWidth: '.grid-sizer'
            }
        });

        $(".grid-item").fitVids({customSelector: "video"});
        $(".grid-item video").get(0).play();


    </script>
{% endblock %}