{% set link = event.linkToContentObject.readMoreLink|default('javascript:void(0);')  %}

<a href="{{ link }}">
    <div class="card card-3 ">
        {% if event.linkToContentObject.highlightpic is not empty %}
            <div class="card__image">
                <img alt="Pic" src="{{ event.linkToContentObject.highlightpic }}" />
            </div>
        {% endif %}
        <div class="card__body boxed bg--white">
            <div class="card__date">
                <span>{{ event.date|localizeddate('long', 'none', 'fr-FR') }}</span>
            </div>
            {% if event.linkToContentObject.title is not empty %}
                <div class="card__title">
                    <h5>{{ event.linkToContentObject.title }}</h5>
                </div>
            {% endif %}
            {% if event.linkToContentObject.introduction is not empty %}
                <div class="card__introduction">
                    <em>{{ event.linkToContentObject.introduction|truncate(100, true, '...') }}</em>
                </div>
            {% endif %}
            {% if event.linkToContentObject.content is not empty %}
                <div class="card__content">
                    <em>{{ event.linkToContentObject.content|truncate(100, true, '...')|raw }}</em>
                </div>
            {% endif %}
        </div>
    </div>
</a>