{% extends 'views/_layout.html.twig' %}

{% block slider %}
    <!-- Slider -->
    {{ render(url('render-slider',{'tplName':'slider-cover','sliderName':'homepage'}))}}
    <!-- /Slider -->
{% endblock slider %}


{% block content %}

    <!-- CTA -->
    {{ render(url('render-content',{'tplName':'cta', 'contentCode': 'B4'}))}}
    <!-- /CTA -->

    <!-- Push -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    {{ render(url('render-content',{'tplName':'push', 'contentCode': 'B1'})) }}
                </div>
                <div class="col-md-4 col-sm-6">
                    {{ render(url('render-content',{'tplName':'push', 'contentCode': 'B2'})) }}
                </div>
                <div class="col-md-4 col-sm-6">
                    {{ render(url('render-content',{'tplName':'push', 'contentCode': 'B3'})) }}
                </div>
            </div>
        </div>
    </section>
    <!-- /Push -->

    <!-- Parallax -->
    <section class="height-70 bg--dark imagebg page-title page-title--animate parallax" data-overlay="5">
    {{ render(url('render-content',{'tplName':'parallax', 'contentCode': 'B5'})) }}
    </section>
    <!-- /Parallax -->
    
    <!-- Accordion -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="elements--title text-center">
                        <h4>Services</h4>
                    </div>
                    {{ render(url('render-content-collection', {'collectionTpl':'accordion', 'tplName': 'accordion-item', 'areaName': 'services', 'order': 'position', 'direction': 'asc', 'noElementText':'' })) }}
                </div>
            </div>

        </div>
    </section>
    <!-- /Accordion -->
    
    <!-- Image left -->
    {{ render(url('render-content',{'tplName':'image-left', 'contentCode': 'B6'})) }}
    <!-- /Image left -->

{% endblock content %}