{#% set analytics_account = app.analytics_account %#}

<!DOCTYPE html>
<html lang="en">
    <head>
        
        {% block meta %}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
        {% endblock meta %}
        
        {% block addMeta %}
            <meta name="description" value="{{app.default_desc }}"/>
        {% endblock addMeta %}
        
        <title>{% block title app.default_title %}</title>
        {#<link href="{{ asset('bower_components/cookieconsent/build/cookieconsent.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bower_components/animate.css/animate.min.css') }}" rel="stylesheet" type="text/css" />#}
        <link href="{{ asset(app.theme ~ '/css/bootstrap.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset(app.theme ~ '/css/build.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset(app.theme ~ '/css/theme.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset(app.theme ~ '/css/main.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset(app.theme ~ '/css/impression.css') }}" rel="stylesheet" type="text/css"  media="print">
        
        <link href="{{ asset(app.theme ~ '/css/theme-' ~ app.style ~ '.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset(app.theme ~ '/css/nice-select.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset(app.theme ~ '/images/favicon-' ~ app.style ~ '.ico') }}" rel="icon" type="image/x-icon"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="{{ app.fonts|default('https://fonts.googleapis.com/css?family=Lora:400,400italic,700%7CMontserrat:400,700') }}" rel="stylesheet">
        <!-- https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i%7CLora:400,400italic,700%7CMontserrat:400,700 -->
        {% block css %}
        {% endblock css %}

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', '{{ app.analytics_account }}', 'auto');
            ga('send', 'pageview');
           
        </script>
        <script src='https://www.google.com/recaptcha/api.js'></script>
    </head>

    <body class="{% block bodyClass %}{% endblock %} scroll-assist">

        <a id="top"></a>
        <!--<div class="loader"></div>-->
        
        {% block header %}
            <!-- Navigation -->
            {% include 'components/header/' ~ app.header|default('header-1') ~ '.html.twig' %}
            <!-- /Navigation -->
        {% endblock header %}

        {% block content %}
        {% endblock content %}

        {% block footer %}
            <!--- Footer -->
            {% include 'components/footer/' ~ app.footer|default('footer-1') ~ '.html.twig' %}
            <!--- /Footer -->
        {% endblock footer %}
        
        
        <script src="{{ asset(app.theme ~ '/js/build.js') }}" type="text/javascript"></script>
        <script src="{{ asset(app.theme ~ '/js/scripts.js') }}" type="text/javascript"></script>
        {#<script src="{{ asset('bower_components/cookieconsent/build/cookieconsent.min.js') }}"></script>#}
        <script src="{{ asset(app.theme ~ '/js/cookieConsent.js') }}" type="text/javascript"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
        <script src="{{ asset('bower_components/waypoints/lib/jquery.waypoints.min.js') }}"></script>
        <script src="{{ asset(app.theme ~ '/js/main.js') }}" type="text/javascript"></script>
        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTO1xbvRXkCYXfkNM7mjDJfRfX1cF_Xrs&callback=initMap">
        </script>          
<!---<script src="{{ asset(app.theme ~ '/js/bootstrap.js') }}" type="text/javascript"></script> -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="{{ asset(app.theme ~ '/js/jquery.nice-select.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset(app.theme ~ '/js/fastclick.js') }}" type="text/javascript"></script>
        <script src="{{ asset(app.theme ~ '/js/prism.js') }}" type="text/javascript"></script>
        <script src="{{ asset(app.theme ~ '/js/theme-fp2i.js') }}" type="text/javascript"></script>
        {% block js %}
        {% endblock js %}
        


    </body>
</html>

