{% extends 'views/_layout.html.twig' %}

{% block title %}
    {{ content.title|escape }} - {{ parent() }}
{% endblock %}

{% block metadesc %}
    {{ content.introduction|escape }}
{% endblock %}

{% block bodyClass %}actualites{% endblock %}


{% block content %}

<div class="main-container transition--fade">
    <section class="imagebg parallax height-50" data-overlay="2">
        {% if content.highlightpic is not empty %}
        <div class="background-image-holder background--bottom">
            <img alt="image" src="{{ content.highlightpic }}" />
        </div>
        {% endif %}
        <div class="container pos-vertical-center">
            <div class="row">
                <div class="col-sm-12 text-center">
                    {% if content.title is not empty %}
                    <h1>{{ content.title }}</h1>
                    {% endif %}
                    {% if content.subtitle is not empty %}
                    <p class="lead">{{ content.subtitle }}</p>
                    {% endif %}
                </div>
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
        
    <section class="masonry-contained">
        
        <div class="container">

            <div class='row'>
                
                <div class="masonry">
                    
                    <div class="masonry__filters text-center" data-filter-all-text="Toutes">
                        {#{render(url('render-extrafield',{'viewType':'block', 'tplName': 'masonry-list', 'index': '0', 'urlPrefix': '/actualites' })) }#}
                    </div>
                   
                    <div class='masonry__container masonry--animate masonry--active'>
                        {% if (current_rubrique.title is defined) %}
                            {{ render(url('render-content-collection',{'collectionTpl':'blog', 'tplName': 'blog-item', 'areaName': 'actualite', 'order': 'date', 'direction': 'desc', 'extrafield[0]':current_rubrique.title, 'noElementText':'Aucune actualité disponible' })) }}
                        {% else %}
                            {{ render(url('render-content-collection',{'collectionTpl':'blog', 'tplName': 'blog-item', 'areaName': 'actualite', 'order': 'date', 'direction': 'desc', 'noElementText':'Aucune actualité disponible' })) }}
                        {% endif %}
                    </div>
                    <!--
                    <div class='col-sm-3 col-sm-offset-1 blog-filters'>
                        <div class="blog-filters-wrapper">
                            <h4>Par catégories</h4>
                        </div>
                        {#{render(url('render-extrafield',{'viewType':'block', 'tplName': 'block', 'index': '0', 'urlPrefix': '/blog' })) }#}
                    </div>
                    -->
                </div>
            </div>
                    
        </div>

    </section>
</div>

{% endblock %}
