{% extends 'views/_layout.html.twig' %}

{#% block title %}
    {{ content.title|escape }} - {{ parent() }}
{% endblock %#}

{#% block metadesc %}
    {{ content.introduction|escape }}
{% endblock %#}

{% block bodyClass %}contact{% endblock %}

{% block js %}
    <script src="{{ asset('bower_components/jquery-validation/dist/jquery.validate.min.js') }}"></script>
    <script src='{{ asset('bower_components/jquery-validation/src/localization/messages_fr.js') }}'></script>
{% endblock %}

{% block content %}

    {#<section class="page-contenu  bg--primary page-title page-title--animate parallax"{% if content.highlightpic is not empty %} data-overlay="2"{% endif %}>
        {% if content.highlightpic is not empty %}
            <div class="background-image-holder">
                <img alt="image" src="{{ content.highlightpic }}" />
            </div>
        {% endif %}
        <div class="container ">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 text-center">
                    <h1>Contactez-nous</h1>
                </div>
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>#}
    <section class="page-contenu  bg--primary page-title page-title--animate">
        <div class="container ">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 text-center">
                    <h1>{{language == 'fr' ? 'CONTACTEZ-NOUS' : 'CONTACT US'}}</h1>
                </div>
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>

    <section class="contactSection">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <a class="" href="https://rootelo.elocms.com/assets/images/www.fp2i-entreprises.com/fp-2i-entreprises-qsn3.jpg"><img style="" src="https://rootelo.elocms.com/assets/images/www.fp2i-entreprises.com/fp-2i-entreprises-qsn3.jpg" alt="" width="100%" height=""></a>
                        {{ render(url('render-content',{'language':language,'tplName':'cta', 'contentCode': 'C10'}))}} 
                </div>
                <div class="col-sm-5 col-sm-offset-1">

                    {% if sended is not defined %}

                        {% if spam %}
                            <p class='alert'>
                                Une erreur s'est produite durant l'envoi du formulaire.
                            </p>
                        {% endif %}

                        <div class="form-container">
                            <p class="gras">{{language == 'fr' ? 'Formulaire de contact' : 'Contact form'}}</p>
                            {{ form_start(form, {'attr': {'class': 'form--square form-validate'}}) }}

                            {{ form_errors(form) }}
                            <div class="form-group formContact">
                                {{ form_label(form.raison) }}
                                {{ form_widget(form.raison) }}
                                {{ form_errors(form.raison) }}
                            </div>
                            <div class="form-group formContact">
                                {{ form_label(form.offre) }}
                                {{ form_widget(form.offre) }}
                                {{ form_errors(form.offre) }}
                            </div> 
                            <div class="form-group formContact">
                                {{ form_label(form.societe) }}
                                {{ form_widget(form.societe) }}
                                {{ form_errors(form.societe) }}
                            </div>    
                            <div class="form-group formContact">
                                {{ form_label(form.civilite) }}
                                {{ form_widget(form.civilite) }}
                                {{ form_errors(form.civilite) }}
                            </div>
                            <div class="form-group formContact">
                                {{ form_label(form.name) }}
                                {{ form_widget(form.name) }}
                                {{ form_errors(form.name) }}
                            </div>
                            <div class="form-group formContact">
                                {{ form_label(form.prenom) }}
                                {{ form_widget(form.prenom) }}
                                {{ form_errors(form.prenom) }}
                            </div>
                            <div class="form-group formContact">
                                {{ form_label(form.phone) }}
                                {{ form_widget(form.phone) }}
                                {{ form_errors(form.phone) }}
                            </div>
                            <div class="form-group formContact">
                                {{ form_label(form.ville) }}
                                {{ form_widget(form.ville) }}
                                {{ form_errors(form.ville) }}
                            </div>
                            <div class="form-group formContact">
                                {{ form_label(form.email) }}
                                {{ form_widget(form.email) }}
                                {{ form_errors(form.email) }}
                            </div>
                            <div class="form-group formContact">
                                {{ form_label(form.message) }}
                                {{ form_widget(form.message) }}
                                {{ form_errors(form.message) }}
                            </div>
                            <div class="form-group">
                                <div class="g-recaptcha" data-sitekey="6LcFo4EUAAAAAHq2YvHxfhpvxHmGBDpNXTLQk0xY"></div>
                            </div>
                            <div class="form-group formContact ">
                                {{ form_errors(form.rgpd) }}
                                <div class="col-md-2 col-xs-2 text-left pl-0">
                                    {{ form_widget(form.rgpd) }}                                
                                </div>
                                <div class="col-md-10 col-xs-10 ">
                                    {{ form_label(form.rgpd) }}
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.fax) }}
                            {{ form_widget(form.fax) }}
                            {{ form_errors(form.fax) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.portable) }}
                            {{ form_widget(form.portable) }}
                            {{ form_errors(form.portable) }}
                        </div>

                        <div class="form-group">
                            {{ form_widget(form.submit, {'attr': {'class': 'btn btn--sm btn--primary btnContact'}}) }}
                        </div>

                        {{ form_end(form) }}

                        <br /><br /><br /><br />

                    </div>

                {% else %}

                    <p class='contact-success'>Nous vous remercions pour l'attention que vous nous portez. Nous traiterons votre demande dans les plus brefs délais.</p>

                {% endif %}

            </div>
        </div>
    </div>
</section>

{% endblock %}



