

<div class="row">

    <div class="col-md-12">

        {% if sended is not defined %}

            {% if spam %}
                <p class='alert'>
                    Une erreur s'est produite durant l'envoi du formulaire.
                </p>
            {% endif %}

            <div class="form-container hidden-print">
                {{ form_start(form, {'attr': {
                    'class': 'form--square form-validate',
                    'action':'/' ~ language ~'/contact?id=' ~ id ~'&criteria0='~ criteria0 ~'&criteria1='~ criteria1 ~'&criteria3='~ criteria3 ~''
                }}) }}

                {{ form_errors(form) }}
                <div class=""> 
                    <div class="form-group col-md-12 formContactAnnonce">
                        {{ form_label(form.message) }}
                        <div class="row">
                            <div class="col-md-9 col-xs-6">
                                <label for="etreRappele">{{language == 'fr' ? 'Etre rappelé' : 'To be recalled'}}</label>
                            </div>
                            <div class="col-md-3 col-xs-6 text-right">
                                <input type="checkbox" id="etreRappele" name="etreRappele" value="etreAppele" checked>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-9 col-xs-6">
                                <label for="plusDinforlation">{{language == 'fr' ? "Plus d'informations" : 'More information'}}</label>
                            </div>
                            <div class="col-md-3 col-xs-6 text-right">
                                <input type="checkbox" id="plusDinformation" name="plusDinformation" value="plusDinformation" checked>
                            </div>
                        </div>

                        {{ form_widget(form.message) }}
                        {{ form_errors(form.message) }}
                        {#<div class="form-group formContactAnnonce">
                            {{ form_label(form.raison) }}
                            {{ form_widget(form.raison) }}
                            {{ form_errors(form.raison) }}
                        </div>
                        <div class="form-group formContactAnnonce">
                            {{ form_label(form.offre) }}
                            {{ form_widget(form.offre) }}
                            {{ form_errors(form.offre) }}
                        </div> 
                        <div class="form-group formContactAnnonce">
                            {{ form_label(form.societe) }}
                            {{ form_widget(form.societe) }}
                            {{ form_errors(form.societe) }}
                        </div>    
                        <div class="form-group formContactAnnonce">
                            {{ form_label(form.civilite) }}
                            {{ form_widget(form.civilite) }}
                            {{ form_errors(form.civilite) }}
                        </div>#}
                        <div class="form-group ">
                            {{ form_label(form.name) }}
                            {{ form_widget(form.name) }}
                            {{ form_errors(form.name) }}
                        </div>{#
                        <div class="form-group formContactAnnonce">
                            {{ form_label(form.prenom) }}
                            {{ form_widget(form.prenom) }}
                            {{ form_errors(form.prenom) }}
                        </div>
                        <div class="form-group formContactAnnonce">
                            {{ form_label(form.phone) }}
                            {{ form_widget(form.phone) }}
                            {{ form_errors(form.phone) }}
                        </div>
                        <div class="form-group formContactAnnonce">
                            {{ form_label(form.ville) }}
                            {{ form_widget(form.ville) }}
                            {{ form_errors(form.ville) }}
                        </div>#}
                        <div class="form-group ">
                            {{ form_label(form.email) }}
                            {{ form_widget(form.email) }}
                            {{ form_errors(form.email) }}
                        </div>
                        <div class="form-group col-md-12">
                            <div class="g-recaptcha" data-sitekey="6LcFo4EUAAAAAHq2YvHxfhpvxHmGBDpNXTLQk0xY"></div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.fax) }}
                            {{ form_widget(form.fax) }}
                            {{ form_errors(form.fax) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.portable) }}
                            {{ form_widget(form.portable) }}
                            {{ form_errors(form.portable) }}
                        </div>
                        <div class="form-group formContact ">                            
                            {{ form_errors(form.rgpd) }}
                                <div class="col-md-2 col-xs-2 text-left pl-0">
                                    {{ form_widget(form.rgpd) }}                                
                                </div>
                                <div class="col-md-10 col-xs-10 ">
                                    {{ form_label(form.rgpd) }}
                                </div>
                            </div>
                        <div class="form-group col-md-12">
                            {{ form_widget(form.submit, {'attr': {'class': 'btn btn--sm btn--primary btnContact'}}) }}
                        </div>

                    </div>
                    {{ form_end(form) }}

                </div>

            {% else %}

                <p class='contact-success'>Nous vous remercions pour l'attention que vous nous portez. Nous traiterons votre demande dans les plus brefs délais.</p>

            {% endif %}

        </div>

        <div class="col-sm-4 col-sm-offset-1">
            {#{ render(url('render-content',{'tplName':'cta', 'contentCode': 'C10'}))}#}    
        </div>
    </div>
</div>

