{% extends 'views/_layout.html.twig' %}

{% block title %}
    flash infos-{{ parent() }} 
{% endblock %}

{% block content %}

    {#<div class="row">
        <div class="col-xs-offset-1">
             <h1 id="pageTitle">
                 Flash infos
             </h1> 
         </div>
     </div>#}
    <!-- Push -->
    <section class=" page-contenu  bg--primary page-title page-title--animate parallax"{% if content.highlightpic is not empty %} data-overlay="2"{% endif %}>
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 text-center">
                    <h1>FLASH INFOS</h1>
                </div>
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
    <section id ="sectionAnnonce" >


        <div class="container">
            {% for content in flashContent %}
                
                <div class="col-sm-12 masonry__item">
                        <div class="card card--horizontal card-12" style="margin-bottom:40px;">
                            <div class="card__body col-sm-12 col-md-12 boxedFlash boxed--lg bg--white">

                                <div class="row ligneTitreBoxedFlash">
                                    <div class="col-sm-10 mt-3">
                                        <div class="card__title">
                                            <h4 class="titreFlashInfoVignette">{{content.title}}</h4>
                                            <a name="flash{{content.id}}"></a>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 text-right">
                                        {{content.date|date("d/m/Y")}}
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-sm-4">
                                        {% if content.photo1file is defined and content.photo1file|length > 3 %}
                                            <img alt="{{content.title}}" src="{{ content.photo1file}} " />
                                        {% elseif content.highlightpic is defined and content.highlightpic|length > 3 %}
                                            <img alt="{{content.title}}" src="{{ content.highlightpic }} "  />
                                        {% else %}
                                            <img alt="{{content.title}}" src="https://rootelo.elocms.com/documents/users/271/editor/pics/fp2i/fp2i-no-picture.png" />
                                        {% endif %}
                                        {% if content.annonceId is defined %} 
                                            <div class="text-center">
                                                <a id="hrefUrl{{content.id}}" class="btn btn--sm btn--primary text-right flashBtnAnnonce" href="/{{language}}/annonce-{{content.url}}">
                                                    <span class="btn__text" >Voir le bien</span>
                                                </a>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-sm-8">
                                        {{content.content | raw}}
                                    </div>
                                </div>
                                <!--<p>{#{content.reference}#}</p>-->




                                <!--<div class="">
                                    <span class="flashPresident">par</span>
                                    <span class="flashPresident">Franck Testaniere</span>
                                </div>-->
                            </div>
                        </div>
                </div>
                
            {% endfor %}              
        </div>
    </section>
    <!-- /Push -->



{% endblock content %}
