{% extends 'views/_layout.html.twig' %}

{% block title %}
   {{ content.title|escape }} - {{ parent() }} 
{% endblock %}


{% block content %}
        <!-- Moteur de recherche -->
            {{ render(url('render-recherche',{'language':language,'place':'accueil','target' : '/'~ language ~ '/liste-annonces','buttonType':'submit'}))}}
        <!-- Moteur de recherche -->  
    <!-- Slider -->

        <section class="slider slider--animate height-60 cover cover-5 parallax" data-arrows="true" data-paging="true" data-timing="5000" data-animateIn="fadeIn" data-animateOut="fadeOut">
        {{ render(url('render-slider',{'language':language,'tplName':'slider','sliderName':'homepage'}))}}
    </section>

    <!-- /Slider -->
    <!-- CTA -->
    <section class="testimonial testimonial-4 section--even bg--white">
        <div class="container">
            <div class="row">
                {{ render(url('render-content',{'language':language,'tplName':'cta-large', 'contentCode': 'B4'}))}}
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
     {#{ render(url('render-content',{'tplName':'cta-large', 'contentCode': 'B4'}))}#}
    <!-- /CTA -->

    <!-- Annonces -->
    <section class="annonce" style="padding-bottom:0;">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="elements--title">
                        {{language == 'fr' ? '<h3>Notre Sélection</h3>' : '<h3>Our Selection</h3>'}}
                    </div>
                </div>

                {{ render(url('render-annonces',{'language':language,'collectionTpl':'vertical-blog-cards','isPromoted': '1','tplName': 'vertical-blog-cards-item', 'areaName' : 'page-personnalisee', 'limit': '6', 'order': 'dateAdded','direction': 'desc'  })) }}


                <!-- Bloc catégories 
                <div class="col-md-4 col-sm-6 categorie">
                    <div class="card card-4">
                        <div class="card__body boxed boxed--sm ">
                            <div class="card__title lienAcceuil">
                                <a href="/{#{language}}/annonces-entrepots-logistiques-1943.html"><h5>{{language == 'fr' ? 'Entrepôts Logistiques' : 'Logistics Warehouses'}}</h5></a>
                            </div>        
                        </div>
                    </div>
                    <div class="card card-4">
                        <div class="card__body boxed boxed--sm ">
                            <div class="card__title lienAcceuil">

                                <a href="/{{language}}/annonces-batiments-activites-1940.html"><h5>{{language == 'fr' ? "Bâtiments d'Activités" : 'Activity Buildings'}}</h5></a>

                            </div>
                        </div>
                    </div>
                    <div class="card card-4">
                        <div class="card__body boxed boxed--sm ">
                            <div class="card__title lienAcceuil">

                                <a href="/{{language}}/annonces-bureaux-1946.html"><h5>{{language == 'fr' ? "Bureaux" : 'Offices'}#}</h5></a>
                            </div>
                        </div>                      
                    </div>
            
                </div>
                -->
            </div>
            <!--end of container-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <a class="btn btn--sm btn--primary" href="{{ path('liste-annonces',{'_locale':language})}}">
                            <span class="btn__text">
                                {{language == 'fr' ? 'Voir toutes les annonces' : 'See all the announcements'}}
                            </span>
                        </a>
                    </div>
                </div>
            </div>
    </section>
    <!-- /Annonces -->
    <!-- Annonce Promue plein largeur -->
    <section class="annonce" style="padding-top:2em !important;">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="elements--title">
                         {{language == 'fr' ? '<h3>Notre Flash Infos</h3>' : '<h3>Our Flash Infos</h3>'}}
                    </div>
                </div>
                  {{ render(url('render-flashinfo',{'language':language,'collectionTpl':'vertical-blog-cards-flash','tplName': 'vertical-blog-cards-item-flash', 'areaName' : 'flash-info', 'order': 'date', 'limit': '3','direction': 'desc' })) }}
                  {#{ render(url('render-annonces',{'language':language,'collectionTpl':'vertical-blog-cards','isPromoted': '1','tplName': 'vertical-blog-cards-item', 'areaName' : 'actualites', 'order': 'id', 'limit': '3','direction': 'asc' })) }#}
            </div>
            <!--end row-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <a class="btn btn--sm btn--primary" href="/{{language}}/annonces-1954.html">
                            <span class="btn__text">
                                {{language == 'fr' ? 'Voir toutes les actus' : 'See all the flash infos'}}
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--end of container-->
    </section>
    <!-- /Annonce Promue plein largeur-->


    <!-- Témoignages-->
    <section class="testimonial testimonial-4 section--even">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="elements--title">
                        {{language == 'fr' ? '<h3>Nos témoignages</h3>' : '<h3>Testimonials</h3>'}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 ">
                    <div class="temoignage-slider slider slider--controlsoutside sliderTemoignage bg--white" data-animation="fade" data-arrows="false" data-paging="true" data-timing="20000">
                        {{ render(url('render-content-collection', {'collectionTpl':'carousel','language':language, 'tplName': 'carousel-item-full', 'areaName': 'carrousel', 'order': 'position', 'limit': '3','direction': 'asc', 'noElementText':'' })) }}
                    </div> 
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <a class="btn btn--sm btn--primary" href="{{ path('liste-temoignage',{'_locale':language})}}">
                        <span class="btn__text">
                            {{language == 'fr' ? 'Voir tous les témoignages' : 'See all testimonials'}}
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- /Témoignage -->

{% endblock content %}
