{% extends 'views/_layout.html.twig' %}

{% block title %}
        {% if criteria0  %}{{criteria0|capitalize}} -{% endif %}
        {% if criteria1  %}{{criteria1|capitalize}} -{% endif %}
        {% if criteria3  %}{{criteria3|capitalize}} -{% endif %}
        {% if infoFlash  %}{{infoFlash|capitalize}} -{% endif %}
        {% if criteria3 is empty and criteria0 is empty and criteria1 is empty and infoFlash is empty %} Toutes les annonces {% endif %}{{ parent() }} 
{% endblock %}

{% block content %}
   <!-- Moteur de recherche -->
   {{ render(url('render-recherche',{'target' : 'searchAnnonces();', 'language':language, 'buttonType':'button','mr_boucheDuRhone':mr_boucheDuRhone,'criteria0' : criteria0,'criteria1' : criteria1,'criteria61' : criteria61,'criteria3' : criteria3,'language': language}))}}
   <!-- Moteur de recherche -->
 
    <div class="row">
       <div class="col-xs-offset-1">
            <h1 id="pageTitle">
                {% if criteria0 is not null %}{{criteria0|capitalize}} {% endif %}
                {% if criteria1 is not null %}{{criteria1|capitalize}} {% endif %}
                {% if criteria3 is not null %}{{criteria3|capitalize}} {% endif %}
                {% if infoFlash is not null %}{{infoFlash|capitalize}} {% endif %}
                {% if criteria3 is empty and criteria0 is empty and criteria1 is empty and infoFlash is empty %} Toutes les annonces {% endif %}
            </h1> 
        </div>
    </div>
    <div id="chargement">
         <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
    </div>
   <!-- Push -->
   {% if isPromoted == 0 %} 
       <section class="annonce">
   {% else %}
       <section id ="sectionAnnonce" >
   {% endif %}

        <div class="container">

               
            <div class="row" id="ajaxAnnonces">
                {{ render(url('render-annonces',{'criteria0' : criteria0,'criteria1' : criteria1,'criteria61' : criteria61,'criteria3' : criteria3,'collectionTpl':twigCollectionTpl,'isPromoted': isPromoted,'tplName': tplName, 'areaName' : 'page-personnalisee','reference': reference,'language': language, 'order': 'dateAdded','direction': 'desc' })) }}   
            </div>
        </div>
                    <div id="language" class="invisible">{{language}}</div>
    </section>
    <!-- /Push -->



{% endblock content %}