<div class="map" id="map">map</div>
<img id="carteImpression" style="display:none" src="https://maps.googleapis.com/maps/api/staticmap?center={{lat}},{{lng}}&zoom=12&size=500x500&markers=color:red%7Clabel:{{title}}%7C{{lat}},{{lng}}&maptype=roadmap&key=AIzaSyDTO1xbvRXkCYXfkNM7mjDJfRfX1cF_Xrs"/>
<div id="mapInfo" class="mapInfo">
    <div id="lat">{{lat}}</div>
    <div id="lng">{{lng}}</div>
    <div id="title">{{title}}</div>
    <div id="tplMapName">{{tplMapName}}</div>
</div>
