
{% block content %} 
    
         <div class="formulaire boxed boxed{{place}}">
            <div class="container">
                <div class="row">
                    <form class="form--square form--labels text-center-xs" action="{{target}}" method="post">
                        <div class="row">
  {#                          <div class="col-md-1 col-sm-6">
                                <label>Ventes</label>
                                <div class="input-radio {%if criteria0 =="Vente"%}checked{%endif%}">
                                    <div class="inner"></div>
                                    <input name="criteria0"  type="radio" value="Vente" {%if criteria0 =="vente"%}checked{%endif%} >
                                </div>
                            </div>
                            <div class="col-md-1 col-sm-6 ">
                                <label>Locations</label>
                                <div class="input-radio {%if criteria0 =="Location"%}checked{%endif%}">
                                    <div class="inner"></div>
                                    <input  name="criteria0" id="location" type="radio" value="Location" {%if criteria0 =="location"%}checked="checked"{%endif%}>
                                </div>
                            </div>
#}
                            {%for info in criteria %}
                            {% set num = loop.index %} 
                            {#{dump(num)}#}
                            <div class="col-md-2 col-sm-6 col-xs-11  pad20">
                                <!-- <label>Type de biens</label>-->
                                <select id="idSearch{{info.id}}" name="{{searchValue[num-1].label}}" class=" custom-select custom-select-lg searchOption{{place}}">
                                    <option value="">{{info.label}}</option>
                                    {% for value in info.valeurs %}
                                    <option {%if mr_boucheDuRhone == value or criteria0 == value or criteria3 == value or criteria61 == value or criteria1 == value %}selected="selected"{%endif%} dataSearch="{{searchValue[num-1].valeurs[loop.index-1]}}" value="{{searchValue[num-1].valeurs[loop.index-1]}}">{{value}}</option> 
                                    {%endfor%}
                                </select>
                            </div>
                            {%endfor%}
                            <div class="col-md-2 col-sm-6 col-xs-11  pad20">
                                <div class="input-with-icon">
                                    <!--<label>Référence</label>-->
                                    <input id="referenceId" type="text" name="reference" placeholder="Référence" onkeypress="searchAnnonces();"/>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-11 pad20">
                                <button class=" btn btn-red input-with-icon" type="{{buttonType}}" onclick="{{target}}">
                                    {{language == 'fr' ? 'Rechercher' : 'Search'}}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!--end container-->
        </div>

{% endblock content%} 