{% extends 'views/_layout.html.twig' %}

{% block slider %}
    <!-- Slider -->
    {{ render(url('render-slider',{'tplName':'slider-cover','sliderName':'homepage'}))}}
    <!-- /Slider -->
{% endblock slider %}


{% block content %}

    <div>test</div>
{% endblock content %}