{% extends 'views/_layout.html.twig' %}

{% block title %}
    {{ content.title|escape }} - {{ parent() }}
{% endblock %}

{% block metadesc %}
    {{ content.introduction|escape }}
{% endblock %}

{% block bodyClass %}page-contenu-4{% endblock %}

{#{% block css %}
    <link href="{{ asset('css/' ~ app.theme ~ '/page.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}#}

{#{% block js %}
{% endblock %}#}



{% block breadcrumb %}
    <!-- Breadcrumb -->
    <div class="breadcrumb-wrapper">
        <div class="container">
            {{render(url('render-breadcrumb',{'viewType':'block', 'tplName': 'block', 'object': content}))}}
        </div>
    </div>
    <!-- /Breadcrumb -->
{% endblock breadcrumb %}


{% block content %}

    <section class="block-content-wrapper" data-code="{{ content.code }}">
        <div class="container">
            <div class="full-content-wrapper" data-code="{{ content.code }}">
                <div class="full-content">


                    {% if content.title is not empty %}
                        <h1 class="title" data-content-id="{{ content.id }}" data-content-field="title">
                            {{ content.title }}
                        </h1>
                    {% endif %}

                    {% if content.subtitle is not empty %}
                        <div class="subtitle" data-content-id="{{ content.id }}" data-content-field="subtitle">
                            {{ content.subtitle }}
                        </div>
                    {% endif %}

                    {% if content.introduction is not empty %}
                        <div class="introduction" data-content-id="{{ content.id }}" data-content-field="introduction">
                            {{ content.introduction|raw }}
                        </div>
                    {% endif %}

                    <!--- content de la page  --->
                    <div class="row">
                        <div class="col-sm-12">
                            {% if content.content is not empty %}
                                <div class="content" data-content-id="{{ content.id }}" data-content-field="content">
                                    {{ content.content|raw }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <!--- /content de la page  --->
                    <!--- contenus  --->
                    <div class="row">
                        <div>
                           
                           {{ render(url('render-content-collection', 
                                {
                                    'collectionTpl':'horizontal-cards', 
                                    'tplName': 'block-standard',
                                    'code': content.id ~ '-contenu-standard-1',
                                    'order': 'date', 
                                    'limit': '20',
                                    'direction': 'asc', 
                                    'noElementText':'' 
                                }
                            )) }}
                        </div>
                    
                        <div>
                           {{ render(url('render-content-collection', 
                                {
                                    'collectionTpl':'horizontal-cards', 
                                    'tplName': 'block-standard',
                                    'code': content.id ~ '-contenu-standard-2',
                                    'order': 'date', 
                                    'limit': '20',
                                    'direction': 'asc', 
                                    'noElementText':'' 
                                }
                            )) }}
                        </div>
                    </div>
                    <div class="row">
                        <div>
                           {{ render(url('render-content-collection', 
                                {
                                    'collectionTpl':'horizontal-blog-cards', 
                                    'tplName': 'block-standard',
                                    'code': content.id ~ '-contenu-standard-3',
                                    'order': 'date', 
                                    'limit': '20',
                                    'direction': 'asc', 
                                    'noElementText':'' 
                                }
                            )) }}
                            
                        </div>
                 
                    </div>
                    
                    <!--- /contenus  --->
                </div>
            </div>
        </div>
    </section>

{% endblock %}