{% extends 'views/_layout.html.twig' %}

{% block title %}
    {{ content.title|escape }} - {{ parent() }}
{% endblock %}

{% block metadesc %}
    {{ content.introduction|escape }}
{% endblock %}

{% block bodyClass %}page-contenu-fp2i{% endblock %}
{% block content %}

    <section class=" page-contenu  bg--primary page-title page-title--animate parallax"{% if content.highlightpic is not empty %} data-overlay="2"{% endif %}>
        {% if content.highlightpic is not empty %}
            <div class="background-image-holder">
                <img alt="image" src="{{ content.highlightpic }}" />
            </div>
        {% endif %}
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 text-center">
                    <h1>{{ content.title|upper }}</h1>
                </div>
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
    <section class="block-content-wrapper " data-code="{{ content.code }}">
        <div class="container ">
            <div class="row">
                {% if content.title in 'Nos références ' or content.title in 'Our references '%}
                    <div class="col-sm-12 col-md-12">
                {% else  %}
                    <div class="col-sm-12 col-md-9">
                {% endif  %}
                    <div class="full-content-wrapper" data-code="{{ content.code }}">
                        <div class="full-content">

                            {% if content.subtitle is not empty %}
                                <div class="subtitle" data-content-id="{{ content.id }}" data-content-field="subtitle">
                                    {{ content.subtitle }}
                                </div>
                            {% endif %}

                            {% if content.introduction is not empty %}
                                <div class="introduction" data-content-id="{{ content.id }}" data-content-field="introduction">
                                    {{ content.introduction|raw }}
                                </div>
                            {% endif %}

                            {% if content.content is not empty %}
                                <div class="content " data-content-id="{{ content.id }}" data-content-field="content">
                                    {{ content.content|raw }}
                                </div>
                            {% endif %}

                        </div>  
                    </div>
                </div>
                {% if content.title not in 'Nos références ' and content.title not in 'Our references ' %}
                    <div class=" col-sm-12 col-md-3 container-annonce-contenu ">
                        {{ render(url('render-annonces',{'language':language,'collectionTpl':'horizontal-blog-cards-fp2i','isPromoted': '1','tplName': 'vertical-blog-cards-item-pageContenu', 'areaName' : 'page-personnalisee', 'order': 'dateAdded', 'limit': '3','direction': 'desc' })) }}
                    </div>
                {% endif  %}

            </div>
        </div>
    </section>

{% endblock content %}