
<footer class="bg--white footer-1 text-center-xs">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <a href="index.html">
                    {{ render(url('render-content',{'tplName': 'logo', 'contentCode':'L2', 
                   'params': {
                       'class': 'logo logo-dark'
                   }
                })) }}
                </a>
                {{ render(url('render-content',{'tplName':'block', 'contentCode': 'contenu-footer-1'}))}}
            </div>
            <div class="col-md-4 col-sm-8">
                
                <ul class="footer__navigation">
                    {{render(url('render-organise',{'tplName':'nav-footer','areaName':'footer'}))}}
                </ul>
                
            </div>
            <div class="col-md-4 col-sm-12">
                {{ render(url('render-content',{'tplName':'block', 'contentCode': 'contenu-footer-2'}))}}
            </div>
        </div>
        <div class="row footer__lower text-center-xs">
            <div class="col-sm-12">
                <hr>
            </div>
            <div class="col-sm-6">
                {{ render(url('render-content',{'tplName':'block', 'contentCode': 'contenu-footer-3'}))}}
            </div>
            <div class="col-sm-6 text-right text-center-xs">
                <ul class="social-list">
                    <li class="facebook">
                        <a href="#">
                            <i class="socicon-facebook"></i>
                        </a>
                    </li>
                    <li class="twitter">
                        <a href="#">
                            <i class="socicon-twitter"></i>
                        </a>
                    </li>
                    <li class="dribbble">
                        <a href="#">
                            <i class="socicon-dribbble"></i>
                        </a>
                    </li>
                    <li class="vimeo">
                        <a href="#">
                            <i class="socicon-vimeo"></i>
                        </a>
                    </li>
                    <li class="instagram">
                        <a href="#">
                            <i class="socicon-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>