<footer class="footer-2 text-center-xs ">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    {{ render(url('render-content',{'tplName':'span', 'contentCode': 'D3'}))}}
                </div>
                <div class="col-sm-6">
                    {{ render(url('render-content',{'tplName':'span', 'contentCode': 'D4'}))}}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-9">
                    <ul class="footer__navigation">
                        {{render(url('render-organise',{'tplName':'nav-footer','areaName':'footer'}))}}
                    </ul>

                </div>
                <div class="col-sm-3 text-right text-center-xs">
                    <ul class="social-list">
                        <li>
                            <a href="#">
                                <i class="socicon-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="socicon-facebook"></i>
                            </a>
                        </li>


                    </ul>
                </div>
            </div>
            <!--end row-->
             <div class="row">
                 <div class="col-sm-12">
                     <span class="type--underline">
                         <em>Notre offre de service est destinée aux professionnels.</em>
                     </span>
                 </div>
             </div>
            <!--end row-->
            {#<div class="row">
                <div class="col-sm-12">
                    <div class="footer__lower">
                        <span class="type--fine-print">
                            <span class="update-year"></span> Medium Rare - All Rights Reserved</span>
                    </div>
                </div>
            </div>#}
            <!--end row-->
        </div>
        <!--end container-->
    </footer>