<footer class="footer-2 text-center-xs bg--white">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="footer__navigation">
                    {{render(url('render-organise',{'language':language,'tplName':'nav-footer','areaName':'footer'}))}}
                </ul>

            </div>
            {#<div class="col-sm-3 text-right text-center-xs">
                <ul class="social-list">

                    <li class="facebook">
                        <a href="#">
                            <i class="fa fa-facebook-square"></i>
                        </a>
                    </li>
                    <li class="linkedin">
                        <a href="#">
                            <i class="fa fa-linkedin-square"></i>
                        </a>
                    </li>


                </ul>
            </div>#}
        </div>
        <div class="row">
            <div class="col-sm-12">
                {{ render(url('render-content',{'language':language,'tplName':'block', 'contentCode': 'contenu-footer-1'}))}}
            </div>
        </div>
        <div class="row footer-mention">
            <div class="col-sm-12">
                <p class='copyright'>©{{ "now"|date("Y") }} {{language == 'fr' ? 'Tous droits réservés' : 'All rights reserved'}} - {{language == 'fr' ? 'Notre offre de service est destinée aux professionnels' : 'Our service offer is intended for professionals'}} - <a href="/{{language}}/mentions-legales">{{language == 'fr' ? 'Mentions légales' : 'Legal notice'}}</a> - Réalisation : <a href="http://www.vertuoz.fr" target="_blank" title="Agence web & mobile Avignon">Vertuoz</a>
                </p>
            </div>
    </div>
    <!--end container-->
</footer>