<footer class="footer-3   bg--dark text-center-xs">
    <div class='row'>
        <div class="col-sm-2">
            <a href="{{ path('accueil') }}">
                {{ render(url('render-content',{'tplName': 'logo', 'contentCode':'L2', 
                       'params': {
                           'class': 'logo logo-dark'
                       }
                    })) }}
            </a>
            <span>{{ render(url('render-content',{'tplName':'block', 'contentCode': 'D1'}))}}</span>
            <a href="#" class="type--underline">
                {{ render(url('render-content',{'tplName':'block', 'contentCode': 'D2'}))}}
            </a>
        </div>

        <div class="col-sm-7 text-center">
            
            <ul class="footer__navigation">
                {{render(url('render-organise',{'tplName':'nav-footer','areaName':'footer'}))}}
            </ul>
            
            <p class='copyright'>©{{ "now"|date("Y") }} Tous droits réservés - Réalisation: <a href="/mentions-legales">Mentions légales</a> - Réalisation : <a href="http://www.argsolutions.fr" target="_blank" title="Editeur logiciels et sites internet pour communes, entreprises, TPE et PME - AVIGNON Vaucluse">ARG Solutions</a></p>
            
        </div>

        <div class="col-sm-3 text-right text-center-xs">
            <ul class="social-list">
                <li>
                    <a href="#">
                        <i class="socicon-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="socicon-facebook"></i>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class="socicon-instagram"></i>
                    </a>
                </li>
            </ul>

        </div>
        
    </div>
        
</footer>