
<footer class="bg--dark footer-1 text-center-xs">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <a href="index.html">
                    {{ render(url('render-content',{'tplName': 'logo', 'contentCode':'L2', 
                   'params': {
                       'class': 'logo logo-dark'
                   }
                })) }}
                </a>
                {{ render(url('render-content',{'tplName':'block', 'contentCode': 'contenu-footer-1'}))}}
            </div>
            <div class="col-md-4 col-sm-4">

                <ul class="footer__navigation">
                    {{render(url('render-organise',{'tplName':'nav-footer','areaName':'footer'}))}}
                </ul>

            </div>
            <div class="col-md-4 col-sm-4">

                {{ render(url('render-content',{'tplName':'block', 'contentCode': 'contenu-footer-2'}))}}
            </div>
        </div>
        <div class="row footer__lower text-center-xs">
            <div class="col-sm-12 hr">
                <hr>
            </div>
            <div class="col-sm-8 ">
                <div class="newsletter">
                <h3>Newsletter</h3>
                <div class="left">
                    
                    <p>
                        Inscrivez-vous pour recevoir nos actualités.
                    </p> 
                </div>

                <div class="right">
                    <form class="form--merge form--no-labels" action="http://mrareco.createsend.com/t/d/s/kieth/" method="post" id="subForm" data-error="Please fill all fields correctly." data-success="Thanks for signing up! Please check your inbox for confirmation email.">
                    <p>
                        <label for="fieldEmail">Adresse Mail</label>
                        <br />
                        <input class="col-md-8 col-sm-6 validate-required validate-email" id="fieldEmail" name="cm-kieth-kieth" type="email" required />
                    </p>
                    <p>
                        <button type="submit">Ok</button>
                    </p>
                </form>
                </div>
              </div>  
            </div>
            <div class="col-sm-4 text-right text-center-xs">
                <ul class="social-list">
                    <li class="twitter">
                        <a href="#">
                            <i class="socicon-twitter"></i>
                        </a>
                    </li>
                    <li class="dribbble">
                        <a href="#">
                            <i class="socicon-dribbble"></i>
                        </a>
                    </li>
                    <li class="vimeo">
                        <a href="#">
                            <i class="socicon-vimeo"></i>
                        </a>
                    </li>
                    <li class="instagram">
                        <a href="#">
                            <i class="socicon-instagram"></i>
                        </a>
                    </li>
                    <li class="facebook">
                        <a href="#">
                            <i class="socicon-facebook"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 text-center">
                <p class='copyright'>©{{ "now"|date("Y") }} Tous droits réservés - Réalisation: <a href="/mentions-legales">Mentions légales</a> - Réalisation : <a href="http://www.argsolutions.fr" target="_blank" title="Editeur logiciels et sites internet pour communes, entreprises, TPE et PME - AVIGNON Vaucluse">ARG Solutions</a></p>
            </div>
        </div>
    </div>
</footer>