<footer class="footer-3   bg--dark text-center-xs">
    <div class="row">
        <div class="col-sm-3">
            <a href="index.html">
                {{ render(url('render-content',{'tplName': 'logo', 'contentCode':'L2', 
                   'params': {
                       'class': 'logo logo-dark'
                   }
                })) }}
            </a>
            <span>{{ render(url('render-content',{'tplName':'block', 'contentCode': 'D1'}))}}</span>
            <a href="#" class="type--underline">
                {{ render(url('render-content',{'tplName':'block', 'contentCode': 'D2'}))}}
            </a>
        </div>
        <div class="col-sm-6 text-center">
            <ul class="footer__navigation">
                {{render(url('render-organise',{'tplName':'nav-footer','areaName':'footer'}))}}
            </ul>
        </div>
        <div class="col-sm-3 text-right text-center-xs">
            <ul class="social-list">
                <li>
                    <a href="#">
                        <i class="socicon-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="socicon-facebook"></i>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class="socicon-instagram"></i>
                    </a>
                </li>
            </ul>

        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            {{ render(url('render-content',{'tplName':'block', 'contentCode': 'D3'}))}} 

        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            {{ render(url('render-content',{'tplName':'block', 'contentCode': 'D4'}))}} 

        </div>
    </div>
</footer>