/**
* Scaffolding
*/

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.75em; /* 26/16 */
    background-color: #16090f;
    color: #FFF;
    padding: 30px;
}


/**
* Grid
*/

.grid-item .grid-item-content {
    height: 100%;
    color: #212121;
    background: transparent;
    overflow: hidden;
    box-sizing: border-box;
}

.grid-item .title {
    font-family: "Lora", Helvetica, Arial, sans-serif;
    font-size: 2.0em;
    line-height: 1.3em;
    font-weight: 700;
    margin-bottom: 20px;
}

.grid-item .subtitle {
    font-size: 1em;
}


.grid-item ul {
    margin: 30px 0 0 20px;
    padding: 0;
}

.grid-item li {
    margin-bottom: 5px;
}

/**
* Bootstrap overrides
*/

.container-fluid {
    padding: 0;
}


/**
* Contenu 
*/

.block-content-wrapper {
    height: 100%;
    padding: 20px 30px;
    background-color: #FFF;
}

.ellip {
  display: block;
  height: 100%;
}

.ellip-line {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  max-width: 100%;
}

.ellip,
.ellip-line {
  position: relative;
  overflow: hidden;
}


/**
* Contenu image
*/

.block-content-image-wrapper {
    position: relative;
    height: 100%;
    background-color: #FFF;
}

.block-content-image-wrapper .block-content-image {
    width: 100%;
    height: 65%;
    background-size: cover;
    background-position: center;
}

.block-content-image-wrapper .block-content {
    padding: 30px;
}


/**
* Contenu image fond
*/

.grid-item-image-background {
    color: #FFF;
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
}

.grid-item-image-background .block-content-image-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    z-index: 1;
}

.grid-item-image-background .block-content-image-background-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.grid-item-image-background .block-content {
    position: absolute;
    width: 100%;
    padding: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
}

.grid-item-image-background .block-content .content {
    margin-top: 20px;
}

/**
* Contenu vidéo
*/

video {
    max-width: 100%;
    height: auto;
}

iframe,
embed,
object {
  max-width: 100%;
}

.block-content-video-background-wrapper {
    color: #FFF;
}

.block-content-video-background-wrapper .title {
    font-size: 4em;
}

.block-content-video-background-wrapper .block-content-video-content {
    position: absolute;
    left: 15px;
    bottom: 0px;
    padding: 20px;
    z-index: 5;
}

.fluid-width-video-wrapper {
    padding-top: 0 !important;
}


.block-weather-wrapper {
    background: #E65F5C;
    height: 100%;
    padding: 30px;
    color: #FFF;
}

.block-weather-wrapper  .date {
    font-size: 1.2em;
    margin: 10px 0;
}

.block-weather-wrapper .title {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    margin: 20px 0;
}

.block-weather-wrapper .jour {
    font-size: 1.4em;
    font-weight: 700;
} 

.block-weather-wrapper .title span {
    font-size: 2.5em;
}

.block-weather-wrapper .title sup {
    display: inline-block;
    vertical-align: top;
    margin-top: 25px;
    font-size: 1.2em;
}

.block-weather-wrapper .block-content {
    height: 100%;
}

.block-weather-wrapper .block-content .row {
    display: table;
    width: 100%;
    height: 100%;
}

.block-weather-wrapper .block-weather-left,
.block-weather-wrapper .block-weather-right {
    display: table-cell;
    float: none;
    vertical-align: middle;
}



/**
* Helpers
*/

.grid-sizer,
.grid-item { width: calc(33% - 10px); }
.grid-item--width2 { width: 66%; }

.grid-item {
    border: 1px solid #16090f;
    border-radius: 5px;
    overflow: hidden;
    height: calc(30vh - 10px);
    margin-bottom: 20px;
}

.grid-item.grid-item--height2 { 
    height: 60vh; 
}

.grid-item.grid-item--height3 { 
    height: calc(90vh + 10px); 
}

.grid-item.grid-item--height3 .title {
    font-size: 2.5em;
    line-height: 1.2em;
}

.grid-item.grid-item--height3 .content {
    font-size: 1.1em;
}

.grid-item.grid-item--height2 .title {
    font-size: 2em;
}


@media (max-width: 992px) {
    
    .grid-sizer,
    .grid-item { width: 50%; }
    /* 2 columns */
    .grid-item--width2 { width: 100%; }
    
}

@media (max-width: 768px) {
    
    .grid-sizer,
    .grid-item { width: 100%; }
    
    body {
        font-size: 14px;
    }
    
}

[data-overlay="1"]:after {
    background-color: rgba(0,0,0,.1);
}

[data-overlay="2"]:after {
    background-color: rgba(0,0,0,.2);
}

[data-overlay="3"]:after {
    background-color: rgba(0,0,0,.3);
}

[data-overlay="4"]:after {
    background-color: rgba(0,0,0,.4);
}

[data-overlay="5"]:after {
    background-color: rgba(0,0,0,.5);
}

[data-overlay="6"]:after {
    background-color: rgba(0,0,0,.6);
}

[data-overlay="7"]:after {
    background-color: rgba(0,0,0,.7);
}

[data-overlay="8"]:after {
    background-color: rgba(0,0,0,.8);
}

[data-overlay]:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}