{% extends 'views/_layout.html.twig' %}

{% block title %}
    {{ content.title|escape }} - {{ parent() }}
{% endblock %}

{% block metadesc %}
    {{ content.introduction|escape }}
{% endblock %}


{% block content %}

    <section class="height-30 bg--primary">
        <div class="container pos-vertical-center">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    {% if content.title is not empty %}
                        <h1 class="title" data-content-id="{{ content.id }}" data-content-field="title">
                            {{ content.title }}
                        </h1>
                    {% endif %}
                    {% if content.subtitle is not empty %}
                        <p class="lead" data-content-id="{{ content.id }}" data-content-field="subtitle">
                            {{ content.subtitle }}
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    <section class="space--xs">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Carousel <em><span class="type--fine-print">carousel.html.twig / carousel-item.html.twig</span></em></h2>
                    <ul class="bullets">
                        <li>Champs disponibles : date, titre, sous-titre, introduction, contenu</li>
                        <li>Paramètres : Lecture automatique, nombre d'éléments, affichage en boucle</li>
                    </ul>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>      

    <!-- Carousel -->
    <section>
        <div class="container">
            <div class="row">
                <div class="slider slider--controlsoutside" data-arrows="false" data-paging="true" data-items="3">
                    {{ render(url('render-content-collection', 
                            {
                                'collectionTpl':'carousel', 
                                'tplName': 'carousel-item', 
                                'areaName': 'carousels', 
                                'order': 'date', 
                                'limit': '20',
                                'direction': 'asc', 
                                'noElementText':'' 
                            }
                        )) }}
                </div>
            </div>
        </div>
    </section>
    <!-- /Carousel -->  
    
    
    <section class="space--xs">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Carousel + parallax <em><span class="type--fine-print">carousel.html.twig / carousel-item.html.twig / parallax.html.twig</span></em></h2>
                    <ul class="bullets">
                        <li>Champs disponibles : date, titre, sous-titre, introduction, contenu</li>
                        <li>Paramètres : Lecture automatique, nombre d'éléments, affichage en boucle</li>
                    </ul>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section> 
    
    
    <!-- Parallax -->
    <section class="height-70 bg--dark imagebg page-title page-title--animate parallax" data-overlay="5" data-injectable=".slider">
    {{ render(url('render-content',{'tplName':'parallax', 'contentCode': 'PARALLAX-1'})) }}
    </section>
    <!-- /Parallax -->
    
    <div class="slider slider--controlsoutside" data-arrows="false" data-paging="true" data-items="3">
        {{ render(url('render-content-collection', 
                    {
                        'collectionTpl':'carousel', 
                        'tplName': 'carousel-item', 
                        'areaName': 'carousels', 
                        'order': 'date', 
                        'limit': '20',
                        'direction': 'asc', 
                        'noElementText':'' 
                    }
                )) }}
    </div>



{% endblock content %}