{% extends 'views/_layout.html.twig' %}

{% block title %}
    {{ content.title|escape }} - {{ parent() }}
{% endblock %}

{% block metadesc %}
    {{ content.introduction|escape }}
{% endblock %}


{% block content %}

    <section class="height-30 bg--primary">
        <div class="container pos-vertical-center">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    {% if content.title is not empty %}
                        <h1 class="title" data-content-id="{{ content.id }}" data-content-field="title">
                            {{ content.title }}
                        </h1>
                    {% endif %}
                    {% if content.subtitle is not empty %}
                        <p class="lead" data-content-id="{{ content.id }}" data-content-field="subtitle">
                            {{ content.subtitle }}
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class='container'>
            <p class="lead text-center">
                Il n'y a pas de composant en cours de développement pour le moment. Revenez plus tard ;)
            </p>
            <h5>TODO :</h5>
            <ul class='bullets'>
                <li>Slider logos (home-business-corporate.html - Puyvert)</li>
                <li>Compteurs défilants (home-business-classic.html + countUp.js)</li>
                <li>Cartes masonry</li>
                <li>Témoignages clients (elements-testimonials.html - FP2i)</li>
            </ul>
        </div>
    </section>


{% endblock content %}