{% extends 'views/_layout.html.twig' %}

{% block title %}
    {{ content.title|escape }} - {{ parent() }}
{% endblock %}

{% block metadesc %}
    {{ content.introduction|escape }}
{% endblock %}


{% block content %}

    <section class="height-30 bg--primary">
        <div class="container pos-vertical-center">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    {% if content.title is not empty %}
                        <h1 class="title" data-content-id="{{ content.id }}" data-content-field="title">
                            {{ content.title }}
                        </h1>
                    {% endif %}
                    {% if content.subtitle is not empty %}
                        <p class="lead" data-content-id="{{ content.id }}" data-content-field="subtitle">
                            {{ content.subtitle }}
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    <section class="space--xs">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>CTA <em><span class="type--fine-print">cta.html.twig</span></em></h2>
                    <ul class="bullets">
                        <li>Avec ou sans sous-titre</li>
                        <li>Avec ou sans bouton d'action</li>
                    </ul>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>      

    <div class="space-xs bg--white">
        <!-- CTA -->
        {{ render(url('render-content',{'tplName':'cta', 'contentCode': 'CTA-1'}))}}
        <!-- /CTA -->
    </div>
        
    <section class="space--xs">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>CTA séparateur <em><span class="type--fine-print">cta-separator.html.twig</span></em></h2>
                    <ul class="bullets">
                        <li>Avec ou sans bouton d'action</li>
                    </ul>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section> 
        
    <section class="bg--primary space--sm cta cta-5">
        <!-- CTA -->
        {{ render(url('render-content',{'tplName':'cta-separator', 'contentCode': 'CTA-1'}))}}
        <!-- /CTA -->
    </section>
        
    <section class="space--xs">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Image gauche <em><span class="type--fine-print">image-left.html.twig</span></em></h2>
                    <ul class="bullets">
                        <li>Champs disponibles : titre, sous-titre, introduction
                        <li>Avec ou sans bouton d'action</li>
                    </ul>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>    
        

    <!-- Image left -->
    <section class="imageblock about-1 bg--white">
        {{ render(url('render-content',{'tplName':'image-left', 'contentCode': 'IMG-LEFT-1'})) }}
    </section>
    <!-- /Image left -->
    
    <section class="space--xs">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Image droite <em><span class="type--fine-print">image-right.html.twig</span></em></h2>
                    <ul class="bullets">
                        <li>Champs disponibles : titre, sous-titre, introduction, contenu
                        <li>Avec ou sans bouton d'action</li>
                    </ul>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>      

    <!-- Image right -->
    <section class="imageblock about-1 bg--white">
        {{ render(url('render-content',{'tplName':'image-right', 'contentCode': 'IMG-RIGHT-1'})) }}
    </section>
    <!-- /Image right -->
    
    <section class="space--xs">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Carte horizontale <em><span class="type--fine-print">horizontal-card.html.twig</span></em></h2>
                    <ul class="bullets">
                        <li>Champs disponibles : titre, sous-titre, introduction, contenu
                        <li>Avec ou sans bouton d'action</li>
                    </ul>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>  
    
    <!-- Card horizontal -->
    <section class="imageblock">
        <div class="container">
        {{ render(url('render-content',{'tplName':'horizontal-card', 'contentCode': 'HORIZONTAL-CARD-1'})) }}
        </div>
    </section>
    <!-- /Card horizontal -->


{% endblock content %}