{% extends 'views/_layout.html.twig' %}

{% block title %}
    {{ content.title|escape }} - {{ parent() }}
{% endblock %}

{% block metadesc %}
    {{ content.introduction|escape }}
{% endblock %}


{% block content %}

    <section class="height-30 bg--primary">
        <div class="container pos-vertical-center">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    {% if content.title is not empty %}
                        <h1 class="title" data-content-id="{{ content.id }}" data-content-field="title">
                            {{ content.title }}
                        </h1>
                    {% endif %}
                    {% if content.subtitle is not empty %}
                        <p class="lead" data-content-id="{{ content.id }}" data-content-field="subtitle">
                            {{ content.subtitle }}
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    <section class="space--xs">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Gabarit 1</h2>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section> 
                    
    <section class='text-center'>
        <div class='container'>
            <p class="lead">Il n'y a pas de modèle de gabarit pour le moment. Revenez plus tard ;)</p>
        </div>
    </section>
{% endblock content %}