{% extends 'views/_layout.html.twig' %}


{% block content %}
    
    <!-- Slider -->
     <section class="slider slider--animate height-100 cover cover-5 parallax" data-arrows="true" data-paging="true" data-timing="5000">
    {{ render(url('render-slider',{'tplName':'slider','sliderName':'slider-1'}))}}
     </section>
    <!-- /Slider -->
    
    <!-- CTA -->
    {{ render(url('render-content',{'tplName':'cta', 'contentCode': 'CTA-HOME'}))}}
    <!-- /CTA -->
    
{% endblock content %}