{% extends 'views/_layout.html.twig' %}

{% block title %}
    {{ content.title|escape }} - {{ parent() }}
{% endblock %}

{% block metadesc %}
    {{ content.introduction|escape }}
{% endblock %}


{% block content %}

    <section class="height-30 bg--primary">
        <div class="container pos-vertical-center">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    {% if content.title is not empty %}
                        <h1 class="title" data-content-id="{{ content.id }}" data-content-field="title">
                            {{ content.title }}
                        </h1>
                    {% endif %}
                    {% if content.subtitle is not empty %}
                        <p class="lead" data-content-id="{{ content.id }}" data-content-field="subtitle">
                            {{ content.subtitle }}
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    <section class="space--xs">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Parallax <em><span class="type--fine-print">parallax.html.twig</span></em></h2>
                    <ul class="bullets">
                        <li>Champs disponibles : titre, contenu</li>
                        <li>Hauteur variable</li>
                        <li>Avec ou sans bouton d'action</li>
                    </ul>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>      

                
    <!-- Parallax -->
    <section class="height-70 bg--dark imagebg page-title page-title--animate parallax" data-overlay="5">
    {{ render(url('render-content',{'tplName':'parallax', 'contentCode': 'PARALLAX-1'})) }}
    </section>
    <!-- /Parallax -->


{% endblock content %}