{% extends 'views/_layout.html.twig' %}

{% block title %}
    {{ content.title|escape }} - {{ parent() }}
{% endblock %}

{% block metadesc %}
    {{ content.introduction|escape }}
{% endblock %}


{% block content %}

    <section class="height-30 bg--primary">
        <div class="container pos-vertical-center">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    {% if content.title is not empty %}
                        <h1 class="title" data-content-id="{{ content.id }}" data-content-field="title">
                            {{ content.title }}
                        </h1>
                    {% endif %}
                    {% if content.subtitle is not empty %}
                        <p class="lead" data-content-id="{{ content.id }}" data-content-field="subtitle">
                            {{ content.subtitle }}
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    <section class="space--xs">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    {% if content.introduction is not empty %}
                        <div class="introduction" data-content-id="{{ content.id }}" data-content-field="introduction">
                            {{ content.introduction }}
                        </div>
                    {% endif %}

                    {% if content.content is not empty %}
                        <div class="content" data-content-id="{{ content.id }}" data-content-field="content">
                            {{ content.content|raw }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>


    <section class="space--xs">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Slider <em><span class="type--fine-print">slider.html.twig</span></em></h2>
                    <ul class="bullets">
                        <li>Défilement possible avec un effet slide ou de fade</li>
                        <li>Hauteur variable</li>
                        <li>Avec ou sans bouton d'action</li>
                    </ul>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>      

    <!-- Slider -->
    <section class="slider slider--animate height-100 cover cover-5 parallax" data-arrows="true" data-paging="true" data-timing="5000">
        {{ render(url('render-slider',{'tplName':'slider','sliderName':'slider-1'}))}}
    </section>
    <!-- /Slider -->



{% endblock content %}