{% extends 'views/_layout.html.twig' %}

{% block title %}
    {{ content.title|escape }} - {{ parent() }}
{% endblock %}

{% block metadesc %}
    {{ content.introduction|escape }}
{% endblock %}


{% block content %}

    <section class="height-30 bg--primary">
        <div class="container pos-vertical-center">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    {% if content.title is not empty %}
                        <h1 class="title" data-content-id="{{ content.id }}" data-content-field="title">
                            {{ content.title }}
                        </h1>
                    {% endif %}
                    {% if content.subtitle is not empty %}
                        <p class="lead" data-content-id="{{ content.id }}" data-content-field="subtitle">
                            {{ content.subtitle }}
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    <section class="space--xs">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Zones de push <em><span class="type--fine-print">push.html.twig</span></em></h2>
                    <ul class="bullets">
                        <li>Champs disponibles : titre, sous-titre, introduction</li>
                        <li>Avec ou sans bouton d'action</li>
                    </ul>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>      

    <!-- Push -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    {{ render(url('render-content',{'tplName':'push', 'contentCode': 'B1'})) }}
                </div>
                <div class="col-md-4 col-sm-6">
                    {{ render(url('render-content',{'tplName':'push', 'contentCode': 'B2'})) }}
                </div>
                <div class="col-md-4 col-sm-6">
                    {{ render(url('render-content',{'tplName':'push', 'contentCode': 'B3'})) }}
                </div>
            </div>
        </div>
    </section>
    <!-- /Push -->

    <section class="space--xs">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Zones de push + parallax <em><span class="type--fine-print">push.html.twig / parallax.html.twig</span></em></h2>
                    <ul class="bullets">
                        <li>Champs disponibles : titre, sous-titre, introduction</li>
                        <li>Avec ou sans bouton d'action</li>
                    </ul>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section> 



    <!-- Parallax -->
    <section class="height-70 bg--dark imagebg page-title page-title--animate parallax" data-overlay="5" data-injectable=".zones-push">
        {{ render(url('render-content',{'tplName':'parallax', 'contentCode': 'PARALLAX-1'})) }}
    </section>
    <!-- /Parallax -->

    <!-- Push -->

    <div class='zones-push'>
        <div class="col-md-4 col-sm-6">
            {{ render(url('render-content',{'tplName':'push', 'contentCode': 'B1'})) }}
        </div>
        <div class="col-md-4 col-sm-6">
            {{ render(url('render-content',{'tplName':'push', 'contentCode': 'B2'})) }}
        </div>
        <div class="col-md-4 col-sm-6">
            {{ render(url('render-content',{'tplName':'push', 'contentCode': 'B3'})) }}
        </div>
    </div>
    <!-- /Push -->

{% endblock content %}