/*************************
** Typo *****************
*************************/

/*font-family: 'Lora', serif;
font-family: 'Crimson Text', serif;
font-family: 'Oxygen', sans-serif;*/

h1,h2,h3,h4,h5,h6{
    font-family: 'Noto Serif', serif;
    font-weight: 500;
}

h1, .h1 {
    font-size: 3.5em;
    line-height: 1.2em;
}

h2.subtitle,
.subtitle{
    font-family: 'Crimson Text', serif;
    font-style: italic;
    color:#646464;
    margin-bottom: 1em;
}
body{
    font-family: 'Oxygen', sans-serif!important;
    font-size: 16px;
}
a,
.btn{
    font-family: 'Oxygen', sans-serif!important;
}
p.lead {
    font-size: 1.2em;
}
.slider-title {
    font-family: 'Noto Serif', serif;
    font-weight: 500;
    color:#232323;
}
.slider-title p.lead{
    font-size: 40px;
    font-family: 'Crimson Text', serif;
    font-style: italic;
    color: #646464;
    margin-top: 24px;

}

.footer-1 .footer__navigation {
    margin-left: 100px;
}

.footer-1 .footer__navigation li{
    font-family: 'Oxygen', sans-serif!important;
    text-transform: initial;
    font-size: 15px;
    font-weight: 600;
    line-height: 2.5em;
}
.footer-1 .footer__navigation li a {
    color: #212121;
    font-weight: 400;
    opacity: 1;
}

.footer-1 .footer__navigation h3 {
    font-size: 1.5em;
}

/*************************
**  LINK ************
*************************/
.menu > li:hover > a{
    opacity: 1;
    color: #38b324;
}
.footer-1 .footer__navigation li a:hover,
.footer-1 .social-list li:hover i{
    color: #38b324!important;
}

/*************************
**  BTN ************
*************************/
.btn.btn--primary{
    border-radius: 4px;
    background: #38b324;
    border-color: #38b324;

}
.btn.btn--primary:hover{
    border-color: #38b324;
    opacity: 0.8;
}
.btn.btn--primary .btn__text{
    font-size: 0.8em;

}
.btn.btn--primary .btn__text:after{
    content: "";

}
/*************************
** Navigation ************
*************************/

.nav-bar{
    background-color: #FFF !important;
    padding-right: 52px;
}
.menu > li{
    font-size: 16px;
}
.menu > li a {
    position: relative;
    color: #000;
    text-transform: none;
}
.menu > li:first-child > a {
    padding-left: 1.3em;
}
.menu > li:last-child a {
    padding-right: 1.3em;
}
.menu > li a:after {
    opacity: 0;
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    border-bottom: 4px solid #38b324;
    transition: all 0.2s ease-out;
}
.menu > li:hover a:after {
    opacity: 1;
}
.nav-bar {
    will-change: scroll-position, transform;
    height: 105px;
    max-height: 105px;
    line-height: 105px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.nav-bar .nav-module {
    height: 105px;
}
.nav-module.menu-module.right .menu li:last-child a{
    border-radius: 4px;
    padding: 12px 46px;

    border-width: 2px;
    font-size: 0.8em;
    line-height: 1.625em;
    text-transform: uppercase;

    background-color: #ff9d00;
    border-color: #ff9d00 !important;
    color: #fff;
}
.nav-module.menu-module.right .menu li:last-child a:hover{
    opacity: 0.8;
/*    color: in;*/
}
.nav-module.menu-module.right .menu li:last-child a:after{
    display: none;
}
/*************************
** Logo ************
*************************/
.nav-bar .logo{
    max-height: none;

}

/*************************
** Slider ************
*************************/

@media all and (max-width: 1600px) {
    .slider-title {
        margin-top: -50px;
    }
    section.slider {
        height: 60vh !important;
    }
}

@media all and (max-width: 1200px) {
    section.slider {
        height: 50vh !important;
    }
}

.slider-title {
    font-size: 5em;
}

.owl-theme .owl-controls .owl-nav{
    width: 10%;
    right: 0;
    bottom: 6%;
    top: auto;
}
.slider.slider--controlsoutside[data-arrows="true"] .owl-theme .owl-controls .owl-nav .owl-prev,
.slider.slider--controlsoutside[data-arrows="true"] .owl-theme .owl-controls .owl-nav .owl-next{
    color: #232323;
    opacity: 1;
}
.slider.slider--controlsoutside[data-arrows="true"] .owl-theme .owl-controls .owl-nav .owl-prev{
    left: 18px;
}
.slider.slider--controlsoutside[data-arrows="true"] .owl-theme .owl-controls .owl-nav .owl-next{
    right: 18px;
}
.slider li[data-overlay]:before{
    display: none;
}
.slider-header .slider .btn--primary {
    font-size: 1.2em;
    box-shadow: 0px 3px 12px rgba(60,178,73,.6);
}
/*************************
** CTA-inline ***********
*************************/

.space--sm.cta.cta-5 .subtitle,
.space--sm.cta.cta-5 .content{
    display: none;
}
.cta-5 .lead,
.cta-5 h4{
    margin-right: 1em;
    font-size: 1.5em;
}
.cta-5 .lead{
    margin: 0;
    display: inline-block;
    position: relative;
    top: 3px;
    white-space: nowrap;
}
.cta-5 .lead {
    display: none;
}
.space--sm.cta.cta-5{
    background: #242424;
}
.cta-5 h4{
    font-style: italic;
    margin-top: -12px;
    font-size: 2.5em;
    color:#fff;
}
.cta-5 .lead{
    color: #999999;

}
.cta-5 {
    text-align: center;
}
.btn.btn--jaune {
    background-color: #ff9d00;
    border-color: #ff9d00 !important;
}

@media (min-width: 768px) {
    .btn + .btn {
        margin-left: 0;
        margin-top: 1em;
    }
}

.space--sm.cta.cta-5 .btn.btn--primary {
    padding: 12px 46px;
    font-size: 1.2em;
    background-color: #ff9d00;
    border-color: #ff9d00 !important;
}

/*************************
** Section--title1 *******
*************************/
.section--title1{
    padding-top: 8em!important;
}

.noparallax {
    position: relative;
    height: 500px;
    overflow: hidden;
}

.noparallax h3 {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4.5em;
    font-weight: 500;
}

.noparallax .background-image-holder {
    background-repeat: no-repeat;
    background-size: auto !important;
    background-position: 0 0 !important;
}


/*************************
** carrousel-promo ***********
*************************/
.slider--products{
    padding-top: 3em; 
}
.slider--products .card-8 .card__body{
    position: relative;
}

.slider--products .card-8 p {
    font-size: 1.2em;
    line-height: 1.6em;
    margin-bottom: 3.5em;
}
.slider--products .card__title h4{
    font-size: 40px;
}
.slider--products .card__intro{
    margin-bottom: 0.8125em;
}
.slider--products .card-8 .card__price{
    position: relative;
    top: 13px;
    right: 0;
}

.slider--products .slider{
    position: relative;
}
.slider--products .slider:before{
    content: "Promo";
    display: block;
    /* width: 100px; */
    /* height: 100px; */
    position: absolute;
    top: -34px;
    right: -4px;
    text-transform: uppercase;
    font-family: 'Noto Serif', serif;
    /* transform: rotate(-45deg); */
    border: 6px solid #ff9d00;
    padding: 50px;
    text-align: center;
    z-index: 9;
    font-size: 27px;
    color: #ff9d00;
}
.slider--products a .card:hover{
    box-shadow: none;
}
/*************************
** Liste produits homepage ***********
*************************/
/*.liste--produits .card__body{
    text-align: left;
}*/

.liste--produits .card__body .card__price {
    font-size: 1.4em;
    color: #999;
    margin-bottom: 1em;
}
.liste--produits .card__body .card__title{
    font-size: 1.3em;
    margin-bottom: 30px;
}
.liste--produits .card__body span h6{
    font-size: 1em;
    display:none;
}
.liste--produits .card__body .btn.btn--primary{
    margin-top: 1em;
}
.liste--produits .card__body .card__price{
    position: relative;
    top: 0;
    right: 0;
}

/*************************
** Grid icons homepage ******
*************************/

.grid-icons .feature.feature-1{
    text-align: center;
}
.grid-icons .feature.feature-1 .title{
    font-weight: 600;
}
section.grid-icons{
    padding: 6em 0 2em 0 !important;
}
.grid-icons .feature.feature-3 .title{
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
}

.grid-icons .feature.feature-3:hover .title{
    color: #2c911d;
}
/*************************
** Footer ******
*************************/
footer {
    min-height: 550px;
    background: #FFF url(http://rootcms.elocms.com/documents/users/271/editor/pics/basilic/footer.jpg) no-repeat !important;
    background-size: cover !important;
}

footer.footer-1 .content-notfound{
    display: none;
}
footer .logo{
    max-height: 60px;
}
footer.footer-1 .block .date{
    display: none;
}
.social-list .dribbble,
.social-list .vimeo,
.social-list .twitter{
    display: none;
}
footer {
    padding: 8em 0;
}
footer h3 {
    display: none;
    font-size: 1.5em;
}
[data-code="contenu-footer-2"] p {
    font-size: 1.2em;
    line-height: 2em;
}