body { 
    background-color :#fff !important;
    font-family :Serif !important;
    font-size :9pt !important;
}
#page { /* Modifications : suppression de la bordure - marges */
    margin :0;
    border :none;
}

nav,
footer,
.formulaire,
.AVendre,
.annonceSimilaires,
#goTop,
.contactTh,
.owl-controls,
.nav-bar,
.nav-bar2,
.cc_banner-wrapper 
{
    display:none !important;
    margin:0px;
}
.bandeauAnnonce,
.bottomH4{
    padding:0px !important;
}
.bandeauAnnonce .col-md-8 {
    width: 48% !important;
}
.bandeauAnnonce * {
    color:#FFF !important;
}
.container {
    width:100% !important;
    float:none !important;
    padding-bottom:0px !important;
    padding-top:0px !important;
}

.cont-annonce .col-md-8 {
    position:relative;
    float: left;
    width:78% !important;
    padding-bottom:0px !important;
    padding-top:0px !important;
}

.cont-annonce .dpeContact {
    position:relative;
    float: right;
    width:22% !important;
    padding-bottom:0px !important;
    padding-top:0px !important;
}

.contact-annonce {
    margin-top: 0px !important;
}

.contact-annonce,
.table td {
    background-color: #b5a79c !important;
}
.card-header {
    margin-bottom: 0px !important;
}

.table,
.table td,
.table tr {
    border: 0 !important;
    outline: 0 !important;
}

.contact-annonce * {
    font-size:8pt !important;
}
.col-md-6 {
    float:left !important;
    width:49% !important;
}
.col-md-6 {
    padding-right:0px !important;
}
.logo{
    text-align: left;
}
#carrousel {
    display:none !important;
}
#printPhoto {
   display:block !important;
   height:350px;
   overflow: hidden;
}

#printPhoto img {
   width:auto;
   height:350px;
}
/*.bandeauAnnonce{
    margin-bottom:100% !important;

}*/
.new{
    background: #bc151a !important;
}
.bandeauAnnonce .row{
    font-size:1em !important;
    width:100% !important;
    padding:0px !important;
}
.rowBandeau .col-md-4{
    width:33% !important;
    float:left!important;
}

#map{
    height:350px!important;
    width:100% !important;
}

.bandeauAnnonce{
    margin-top:20px;
    width: 100% !important;
    background-color: #665a4f !important;
}

#logo-990,
.logo {
    display:none !important;
    position:absolute;
    top:0px;
    left:0px;
    z-index:10000;
}
.ficheProdTh{
    border:none !important; 
    padding:0px !important;
}
.ficheProdTh h3 {
    padding:5px !important;
    text-transform: uppercase;
    background-color: #665a4f !important;
    border:none !important; 
}
.contactTh {
    padding:0px !important;
}
.h3ficheProduit {
    background-color: #665a4f !important;
     padding:5px !important;
}
.content-annonce{
    border:none; /*0px solid gray;*/
    padding:0px !important;
    margin:0px!important;
    background-color: #b5a79c !important
    color:#FFF !important;
}
.sectionFicheAnnonce{
    margin:0px !important;
    padding:0px !important
}
.sectionFicheAnnonce .container{
    margin:0px !important;
    padding:0px !important;
}
/*tbody tr{
    background: #584d44 !important;
}*/

#carteImpression{
    /*display:block !important;*/
}
