
/*****************************/
/** Theme overrides *********/
/***************************/

/* Slider */
.slider-title {
    font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
    font-size: 4em;
    line-height: 1.015625em;
    font-weight: 200;
    color: #FFF;
    margin-bottom: 0.40625em;
}

/* Accordion */
.accordion {
   overflow: hidden;
}

/* Owl Carousel */
.owl-theme .owl-controls .owl-dots .owl-dot {
    overflow: auto;
    padding: 0px 1px;
}
.owl-theme .owl-controls .owl-dots .owl-dot span {
    width: 8px;
    height: 8px;
}

/* Cards */
a .card.card-3 p {
    margin-top: 1.5em;
}

 /** Full-content **/
 .full-content-wrapper .full-content .content ul, ol{
     list-style: inherit;
 }
 
 
/*****************************/
/** Form ********************/
/***************************/

label {
    margin-left: 0;
}

label.error,
.alert {
    padding: 5px 0;
    color: #d20000;
    text-transform: none;
}

label[for="form_fax"],
label[for="form_portable"]{
    display: none;
}

input,
textarea {
    width: 100%;
}

textarea {
    margin-top: 0.8125em;
    height: 180px;
    -moz-transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
}

textarea:focus {
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
}
 
 
/*****************************/
/** Misc ********************/
/***************************/

#printPhoto {
    display:none;
}
/* Content not found */

.content-notfound {
    background-color: #F3FF11;
    color: #000;
    font-size: 1em;
    line-height: 1.015625em;
    padding: 20px;
}
