/*************************
** Général ************
*************************/

body{
    color:#5b5b5b;
    font-family: "Open-Sans", "Helvetica", "Arial", sans-serif;
}

h1,h2,h3,h4,h5{
    font-family: "Lora", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
}
.lead{
    font-style: italic;
    font-family: "Lora", "Helvetica", "Arial", sans-serif;
}
a:hover{
    color:#ffa500 !important;
}
footer.footer-2 li,
nav li,
a{
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
}
/*************************
** BTN ************
*************************/

.btn.btn--primary{ border-color: #fcc74e;}
.btn--primary, .btn--primary:visited{
    background: #fcc74e;
}
.btn.btn--primary:hover{
    border-color: #ffa500;
    background: #ffa500;
    opacity: 0.8;
}
.btn--primary .btn__text, .btn--primary:visited .btn__text{
    color: #232323;
    font-size: 11px;
}
/*************************
** Navigation ************
*************************/

/*** Liens ***/
.menu > li{
    font-size: 11px;
}
.menu > li a{
    color:#5b5b5b;
}
.menu > li:hover:not(:last-child){
    background:  #5b5b5b;
}
.menu > li:hover a{
    color: #fff;
    opacity: 1;
}
.menu > li:first-child > a {
    padding-left: 1.3em;
}
.nav-module.menu-module.left ul:not(.menu) li:last-child a,
.nav-module.menu-module.left ul:not(.menu) li:last-child a:hover{
    border-radius: inherit;
    padding: 0;
    border-width: 0;
    font-size: inherit;
    line-height: inherit;
    text-transform: uppercase;
    background-color: transparent;
    border-color: inherit;
    color: #fff;
    margin-left: 0;
}
/*** Liens btn Newsletter ***/
.nav-module.menu-module.left .menu li:last-child a {
    border-radius: 4px;
    padding: 12px 46px;
    border-width: 2px;
    font-size: 0.8em;
    line-height: 1.625em;
    text-transform: uppercase;
    background-color: #ffa500;
    border-color: #ffa500 !important;
    color: #232323;
    margin-left: 30px;
}
.nav-module.menu-module.left .menu li:last-child a:hover{
    border-radius: 4px;
    padding: 12px 46px;
    border-width: 2px;
    font-size: 0.8em;
    line-height: 1.625em;
    text-transform: uppercase;
    background-color: #5b5b5b;
    border-color: #5b5b5b !important;
    color: #ffa500;
    margin-left: 30px
}
.nav-bar .logo{
    max-height: 87%;
}
.nav-module.menu-module.left{
    width: 80%;
    float: right;
    padding-right: 15px;
}
.nav-module.menu-module.left .menu{
    width: 100%;
}
.nav-module.menu-module.left .menu li:last-child{
    float: right;
}
.nav-module.menu-module.left ul:not(.menu) li:last-child{
    float: none;
}
/*************************
** Accueil ************
*************************/

/*** Typo ***/
.homepage h1{
    font-size: 3em;
}
.homepage .title1{
    padding-bottom: 2em;
}
.slider-title{
    font-weight: 400;
}

/*** zone de push ***/
.homepage section.zone-push{
    padding-top: 0;
}
.homepage .feature.boxed.feature-1{
    text-align: center;
}
.homepage .feature.boxed.feature-1 .title{
    min-height: 65px;
}

/*** carrousel ***/
.homepage .imagebg.parallax .title h3{
    font-size: 3em;
}
.homepage .imagebg.parallax [data-overlay]::before{
    opacity: 0.6;
}
.homepage .slider .card-3 .card__body .card__title  h5{
    color: #ffa500;
    font-size: 1.3em;
}
.homepage .slider .card-3 .card__body .card__introduction{
    color: #232323;
}


/*** actualité synthese finance ***/
.homepage .actualite {
    padding-top: 6em;
    padding-bottom: 4em;
}
.homepage .actualite  .bouton-wrap{
    text-align: center;
    padding-top: 30px;

}
.homepage .actualite  .card-3{
    text-align: left;
}
.homepage .actualite  .card-3 .card__body .btn.btn--sm.btn--primary{
    display: none;
}
.homepage .actualite .card-3 .card__title{
    font-size: 1.5em;
}
/*************************
** Footer ************
*************************/
footer.footer-2 .block-content-wrapper .block .title,
footer.footer-2 .block-content-wrapper .block .background-image-holder,
footer.footer-2 .block-content-wrapper .block .lead,
footer.footer-2 .block-content-wrapper .block .subtitle,
footer.footer-2 .block-content-wrapper .block .date,
footer.footer-2 .social-list .twitter,
footer.footer-2 .social-list .dribbble,
footer.footer-2 .social-list .vimeo,
footer.footer-2 .social-list .instagram{
    display: none;
}
footer.footer-2 .block-content-wrapper{
    padding-top: 15px;
}

footer.footer-2 .social-list li a:hover i{
    color: #ffa500 !important;
} 
