
/* Content not found */
body{
    font-family: 'Open Sans', sans-serif, 'Helvetica', 'Arial';
}
.content-notfound {
    background-color: #fff000;
}

a:hover .card.card-3 .btn.btn--primary {
    border-color: #911126;
    background:#911126;;
}
.width-100{
    width: 100%;
}
#pageTitle{
    padding-top: 40px;
    padding-bottom:10px;
}
.invisible{
    visibility: hidden;
}
/***************************/
/*** Navigation-Utility ****/
/***************************/
/*.nav-bar .menu > li:last-child {
    margin-left: 50px;  
}*/
nav{
    min-height: 100px!important;
}
.nav-bar{
    background: #F8F8F8 !important;
    box-shadow:none !important;
}
/*/test/*/

.nav-bar2{
    background: #b5a79c !important;
    padding: 0px !important;
}
.menu > li{
    font-family: 'Open Sans', sans-serif, 'Helvetica', 'Arial';
    font-size: 11px;
    
}
.utility-bar.bg--secondary p{
    margin: 0;
}
.utility-bar.bg--secondary img{
    margin: 0 8px;

}
/**** Top  ***/
.bg--secondary {
    background: #665a4f;
}
.utility-bar.bg--secondary,
.utility-bar.bg--secondary .social-list a{
    color: #F4F4F4;
   
}
.utility-bar.bg--secondary .row span{
    font-size: 22px;
}
.utility-bar.bg--secondary .social-list li {
    display: inline-block; 
}
.type--fine-print{
    font-size: 14px;
}
.testimonial{
  padding-top: 3em!important;  
  padding-bottom: 3em!important; 
}


/***** Bottom  ****/

.menu > li ul{
    background: #b5a79c;
    
}
.menu > li ul li a{
    color:#232323;
     
}
.menu > li ul li a:hover{
    /*color: rgba(188, 21, 26, 1) !important;*/
    color:#a51127;
}
.menu > li:hover > a{
    /*color: rgba(188, 21, 26, 1);*/
    color:#a51127;
    opacity: 1;
}

ul.menu li a{
    font-weight: bold;  
}

#logo-990{
    display: none;
}

.nav-bar .logo{
    margin-top: 3px;
    margin-left: 20px;
    margin-right:0.5em !important;
    max-height: none;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.17);
}
.nav-mobile-toggle i{
    margin-top: 80px !important;
}

.nav--fixed .logo {
    max-height: 63px;
    margin-top:0px;
}
.nav--fixed {
    /*border:solid 1px #EAEAEA !important;*/
}

.type--fine-print {
    font-weight: 200;
}

.contentD2 span p{
   font-weight: bolder !important;
   color: #b5a79c;
}

/***************************/
/*** Sous-menus ****/
/***************************/
.multi-column li{
    float: left;
}
.multi-column li:nth-child(2),
.multi-column li:nth-child(3),
.multi-column li:nth-child(5),
.multi-column li:nth-child(6){
    padding-left: 20px; 
}
.multi-column li{
    width: 21em;
}

/***************************/
/*** cta ****/
/***************************/
.cta{
    background: #fff;
}

/***************************/
/*** BTN ****/
/***************************/
.btn--primary, .btn--primary:visited{
    background: #911126;
}
.btn.btn--primary{
    border-color: #911126;
    margin-top: 1.625em;
}
.btn.btn--primary:hover{
    border-color: #bc151a;
    background: #bc151a;
    opacity: 0.8;
}
.btn .btn__text{
    font-size: 12px;
    font-family: 'Open Sans', sans-serif, 'Helvetica', 'Arial';
    font-weight: 600;
}
.btnContact:hover{
  border-color: #bc151a !important;
  background: #bc151a !important;
  opacity: 0.8 !important; 
}

.btnContact{
  border-color: #bc151a !important;
  background: #bc151a !important;
  margin-top: 1.625em !important; 
  border-radius:100px !important;
}
.btnContact:visited{
   background: #bc151a; 
}
/***************************/
/*** Typo ****/
/***************************/

h1, h2{
    color:#911126; ; 
    /*color:#665a4f ;*/
    margin-bottom: 0.0em !important;
    font-weight:bold;
}
h3, .h3{
    margin-bottom: 0.2em !important;
}
/***************************/
/*** Footer****/
/***************************/
.footer-2 .footer__navigation,
.footer-2 .social-list{
    margin-top: 35px;
}
.footer-2 .footer__navigation a:hover{
    color: #6a101a;
}
.footer-2.text-center-xs h4{
    margin-bottom: 0;
}
.footer-2 {
/*    padding-top: 2em !important;
    padding-bottom: 2em !important;*/
    background-color:#f8f8f8;
}

/***************************/
/*** Moteur de recherche ***/
/***************************/
.formulaire.boxed{
    position: relative;
    overflow: hidden;
    z-index: 2;
    bottom: 0;
    width: 100%;
    height: 57px;
    background: #b5a79c;
    padding: 0px !important;
    overflow:visible !important;
    box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.07);
    
} 
.boxed{
    margin-bottom: 30px !important;
}
.pad20{
    padding-top: 13px!important;
    
}

.formulaire.boxed button {
    height:31px !important;
}
/*.searchOption{
    height: 35px !important;
    z-index: 2;
    padding: 0px !important;
}*/
/*** Moteur de recherche acceuil ****/

/* .formulaire.boxedaccueil{
    overflow: hidden;
    padding: 1.5em;
    z-index: 2;
    bottom: 0;
    width: 100%; 
    background: rgba(188, 21, 26, 0.3);

 } 
 .boxedaccueil{
     padding: 0px !important;
     margin-bottom: 30px !important;
 }
 .searchOptionaccueil{
     height: 35px !important;
     z-index: 2;
     padding: 0px !important;
 }
*/
 .slider--animate div[class*="col-"]{
    opacity: 1;
    transform: translate3d(0, 0px, 0);
    -webkit-transform: translate3d(0, 0px, 0);
 }
 .slider--animate .formulaire.boxed div[class*='col-']{
    opacity: 1;
    transform: none;
}

.slider--animate .formulaire.boxed select{
    
    margin-top: 0px;
}
.slider--animate .formulaire.boxed label{
    color:#fff;
    font-family: 'Open Sans', sans-serif, 'Helvetica', 'Arial';
    font-weight: 600;
    font-size: 11px;
}
.slider--animate .formulaire.boxed  .btn.btn-red{
    margin-top: 0!important;
}
.slider--animate .formulaire.boxed  .btn.btn-red:hover{
    background: #911126;
    border-color:#911126!important;
}
.slider--animate .input-radio .inner:after{
    width: 50%;
    height: 50%;
    background: #bc151a;
}
.slider--animate .input-radio.checked .inner{
    background: #fff;
}
.input-with-icon{
   height: 35px !important;

}

input[type="submit"]{
    height: 35px !important;
    padding: 0px !important;
}
#referenceId{
    height: 31px !important;
    font-size:12px;
    padding: 5px !important;
}
.input-with-icon .input{
    height: 35px !important;
    width: 0px !important;
    margin: 0px !important;
    padding:0px !important;
}
.select-style {
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    background: #fff url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==")no-repeat 90% 50%;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}

.btn-red, .btn-red:visited{
    background: #fff;
    border-color: #fff!important;
    color:#bc151a;;
}
.btn.btn-red{
    border-color: #fff!important;
}
.btn.btn-red:hover{
    border-color: #fff !important;
    background: #bc151a;
    opacity: 0.8;
}
.nice-select {
    width: 100% !important;
    font-size:12px !important;
    height: 32px !important;
    line-height: 29px !important;
} 

.custom-select {
    display:none;
}

.nice-select span.current {
    display: block;
    overflow:hidden !important;
}
 /* 
.custom-select {
display: inline-block;
  max-width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  line-height: 1.25;
  color: #464a4c;
  overflow: hidden;
  vertical-align: middle;
  background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.75rem center;
  -webkit-background-size: 8px 10px;
          background-size: 8px 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.custom-select:focus {
  border-color: #5cb3fd;
  outline: none;
}

.custom-select:focus::-ms-value {
  color: #464a4c;
  background-color: #fff;
}

.custom-select:disabled {
  color: #636c72;
  cursor: not-allowed;
  background-color: #eceeef;
}

.custom-select::-ms-expand {
  opacity: 0;
}

.custom-select-sm {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  font-size: 75%;
}*/

.form.form--labels .row{
    margin-top: 0px !important;
    top: 0px!important;
}
.input-checkbox.checked .inner{
    background-color: red!important;
}
.input-checkbox.checked {
    background-color: red!important;
}
.form-group label{
    font-weight: bolder;
}
.gras{
    font-weight: bold;
}
/*** Moteur de recherche acceuil ****/

 .formulaire.boxedaccueil{
    overflow: hidden;
    padding: 1.5em;
    z-index: 2;
    bottom: 0;
    width: 100%; 

 } 
 .boxedaccueil{
     padding: 0px !important;
     margin-bottom: 0px !important;
 }

 form.form--labels .row button[type="submit"]{
     top: 0 !important;
 }

/***************************/
/*** Section annonces****/
/***************************/

section.annonce{
    padding-top: 2em;
    padding-bottom: 3em !important;

}

.card-base{
    min-height: 350px;
    max-height: 350px;
}
.card-base_1{
    min-height: 150px;
    max-height: 150px;
    margin-bottom: 1.2em;
}
.card__title_1{
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
    padding-right: 1.65em !important;
    background-color: #f8f8f8 !important;
}
section.annonce .boxed{
    padding:0;
    overflow: visible;
}
.boxedFlash{
    padding: 10px !important;
}
.contentFlash{
    margin: 10px !important;
}
section.annonce .card.card-4:hover{
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.17);
}

section.annonce .card.card-4 .card__image2{
    position: relative;
    z-index: 1;
    overflow: hidden;

}
section.annonce .card.card-4 .card__image2_2{
    position: relative;
    z-index: 1;
    overflow: hidden;

}

section.annonce .card.card-4 .card__body{
    z-index: 2;
    background: none;
}
section.annonce .card.card-4 .card__body h6{
    margin-top: -28px;
    margin-bottom:0;
    padding: 0 1.65em;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    background: rgba(145, 17, 38, 0.75);
    text-shadow: 1px 1px 1px hsla(0, 0%, 41%, 0.54);

}
section.annonce .card-4 .card__body .card__title{
    height: auto;
    margin-bottom: 0;
    padding: 1.65em;
    background: #fff;
}
section.annonce .card-4 .card__body hr,
section.annonce .card-4 .card__body .card__lower{
    display: none;
}
.card.card-4 .card__image2::before{
    content: attr(data-content) ;
    color: #fff;
    display: block;
    height: 50px;
    width: 150px;
    background: #911126;
    position: absolute;
    transform: rotate(-45deg);
    padding-top: 14px;
    text-align: center;
    top: 8px;
    left: -40px;
    font-weight: 700;

}
.card.card-4 .card__image2_2::before{

    color: #fff;
    display: block;
  
    width: 150px;
    background: #911126;
    position: absolute;
    transform: rotate(-45deg);
    padding-top: 14px;
    text-align: center;
    top: 8px;
    left: -40px;
    font-weight: 700;

}
.card.card-4_1 .card__image2_1::before{
    content: attr(data-content) ;
    color: #fff;
    display: block;
    height: 30px;
    width: 140px;
    /*background: #bc151a;*/
    background: rgba(145, 17, 38, 0.9);
    position: absolute;
    transform: rotate(-45deg);
    padding-top: 8px;
    text-align: center;
    top: 3px;
    left: -50px;
    font-weight: 500;

}
.card__image2{
    min-height: 270px;
    max-height: 270px;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    
}
.card__image2_1{
    min-height: 150px;
    max-height: 150px;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
}
.card__image2_2{
    min-height: 270px;
    max-height: 270px;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    
}
.vente{
    display:none;
}


#chargement{
    text-align: center;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.33);
    height: 400%;
    width: 100%;
    z-index: 3;
    display:none;
} 

#chargement i{
    color:#fff;
    z-index: 4;
    margin-top:200px;
} 
.content-annonce{
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.33), 0 5px 5px rgba(0, 0, 0, 0.33);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.12);
}


/** Catégories ***/

section.annonce .categorie .card-4 .card__body .card__title a:hover{
    text-decoration: underline;
    color: #fff;
}
section.annonce .categorie .card-4 .card__body .card__title h5{
    color: #fff;
}
section.annonce .categorie .card-4 .card__body .card__title{
    background: #665a50;
    text-align: center;
}
/** fiche-produit-fp2i ***/
.cont-annonce{
    margin-bottom: 25px;
}
.row-annonce{

}
.content-annonce{
    background: white;
    text-align: center;
}
.contactTh{
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.33), 0 5px 5px rgba(0, 0, 0, 0.33);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.12);
    padding: 8px;
}
.contactBody{
}
.ficheProdTh, .contactTh{
    background: #665a4f;
    color: #fff;
    font-weight: normal;
}
th h3, .contactTh h3{
    color: #665a50;
    text-align :center;
    
}
.titreContact{
    margin-bottom: 20px!important;
    margin-top: 20px;
}
.owl-prev, .owl-next{
    opacity: 1 !important;
}
.owl-prev:active, .owl-next:active{
    opacity: 0,5!important;
    
    color: rgb(188, 21, 26) !important;
}
.owl-prev:hover, .owl-next:hover{
    opacity: 0,5!important;
    
    color: black !important;
}
.owl-nav{
    color: rgb(188, 21, 26) !important;
}
.imageCarrousel{
    height:500px;
    width: 100%;
}
.imageMin{
    width: 200px!important;
    height: 140px!important;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.33), 0 5px 5px rgba(0, 0, 0, 0.33);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.12);
}

.containerImageMin{
    width: 200px!important;
    height: 140px!important;
}
.containerImageMin img:hover {
  transform: scale(0.98);

}
.containerImageMin img:active .card {
  transform: scale(0.99);
  -webkit-transform: scale(0.99);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.27);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.07);
}
.imageMin{
    height:100%;
    margin-top : 0px;
}
.rowSlider{
    margin-top: 0px !important;
    
    margin-top: -15px!important;
    padding-top: 15px; 
    background-color: #f8f8f8;
}
.titleAnnonce{
    font-weight: normal;
    
}
.buttonImage{
    height: 100%;
    border-bottom-style: none;
    text-decoration: none;
}

/***************************/
/*** Section flash info ****/
/***************************/
/*.card.card--horizontal.card-6 .card__body.boxed h6,
.card.card--horizontal.card-6 .card__body.boxed hr,
.card.card--horizontal.card-6 .card__body.boxed .card__lower{
    display: none;
}*/
section .flash{
    padding-top: 0px!important;
    padding-bottom: 50px!important;
}
section.flashInfo{
    padding-top:2em!important;

}
.hrefUrl{
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.33), 0 5px 5px rgba(0, 0, 0, 0.33);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.12);
}
/***************************/
/*** Responsive ****/
/***************************/
/*@media (max-width: 1500px){
    .nav-bar .logo{
        max-height: 55px;

    }
    .menu > li{
        font-size: 9px;
    }
}

@media (max-width: 1024px){

    ** Navigation toggle ***
     .nav-mobile-toggle{
         display: block!important;
     }
    
    .nav-bar .nav-module.left, .nav-bar .nav-module.right {
        float: none;
        display: block;
    }
}

@media (max-width: 945px){

    .nav-bar .nav-module.left, .nav-bar .nav-module.right {
        float: none;
        display: block;
    }
}   */
@media (max-width: 1660px){
    .nav-bar .logo{
        max-height: 80px;
        margin-top:20px;
    }
    .menu > li{
        font-size: 11px;
    }
}
@media (max-width: 1538px){

    .nav-bar .menu > li:first-child {
        display: none;  
    }
    .nav-bar .logo{
        margin-top:0px !important;
        max-height: 65px;
    }
}

 @media (max-width: 1362px) and (min-width: 990px){
     
    .nav-bar .menu > li:first-child {
        visibility: hidden;  
    }
     
    .nav-bar .logo{
        max-height: 65px;
        right:0px;

    }
    .menu > li{
        font-size: 9px;
    }
    .pad20{
        font-size: 12px;
    }
}
@media (max-width: 991px) and (min-width: 990px){
    .nav-mobile-toggle {
        display:none;
    }
    .nav-bar .menu > li:first-child {
        display: none;  
    }
    .formulaire.boxed{
        height:160px;
    }
}
/*@media (max-width: 1051px){

    .menu > li{
        font-size: 8px;
    }
} */
@media (max-width: 520px){

    .floatLeft50{
        width: 100%;
        float: left;
    }
    .floatRight50{
        width: 100%;
        float: right;
    }
} 
@media (max-width: 976px){
    .formulaire.boxed{
        height:160px;
    }
    .contentD2 span p{
       /* font-size: 8px !important;
       font-weight: bolder !important;*/ 
    }
    .menu > li{
        font-size: 7px !important;
    }
    .bottomH4{
        margin-top: 20px;
        color: #fff;
    }
} 
@media (max-width: 768px){
    .formulaire.boxed{
        height:300px !important;
    }
    .pad20{
        margin-left:20px;
        margin-right:20px;
    }
    #logo-990{
        margin-top: -10px !important;
    }
}
@media (max-width: 990px){
    .menu > li{
        font-size: 12px !important;
    }
    .formulaire.boxed{
        height:160px;
    }
    #logo-990{
        position: absolute;
        z-index: 100;
        display: none;
        margin-top: 10px;
        margin-left: 20px;
        margin-right:0.5em !important;
        max-height: none;
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.17);
    }
    #logo-990_plus{
/*        visibility: hidden;*/
        

    }
    .nav-bar .logo{
       max-height: 65px !important; 
    }
    .contentD2 span p{
        font-size: 18px !important;
    }
} 
@media (max-width: 360px){

    #logo-990{
        margin-top: -10px !important;
        margin-left: 25% !important;
        width: 50%;
    }
}
/***************************/
    /*** page-contenu ****/
/***************************/
.annonce-contenu{
    padding-left: 20px !important;
}
.container-annonce-contenu{
    background-color:#fff;
}

.block-content-wrapper{
    padding-bottom: 20px !important;
}

.laReussite{
    font-size : 1.6em;
}

.detail-entreprise{
    color: #665a4f;
    font-size : 1.3em;
    line-height: 1.5;
    
}
.pointRouge
{
    color:#911126;
}

.quote{
    bottom: 5px;
    color: #a51127 !important;
}

.bg--primary {
    background: #a51127!important;
}
.align-bottom {
  vertical-align: bottom !important;
}
.page-contenu{
  padding-top:2em !important;
  padding-bottom:2em !important;
  font-size : 1.2em !important;
}
/*** references ***/
.ref-title {
  vertical-align: text-bottom !important;
  margin:auto;

}

.nopadding-left {
   padding-left: 0px !important;
}

.nopadding-right {
   padding-right: 0px !important;
}

.vertical-align {
  display: flex; 
  vertical-align: bottom;
  margin:20px;
}
.ref-Img{
  margin:auto;

}
.ref-Img img{
/*  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.33), 0 5px 5px rgba(0, 0, 0, 0.33);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.12);*/
}

.lot-ref{
    background: white;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.33), 0 5px 5px rgba(0, 0, 0, 0.33);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.12);
}
.h3-ref{
    text-align: center;
    margin-top: 50px;
}
/***qui sommes nous ***/
.president {
    text-align: right !important;
    color: #a51127 !important;
}
.detail-entreprise{
    margin-left: 10% !important;
    
}

/*** Contact ****/
.row-contact{
    margin-top: 1em !important;
}
.adresse p{
    margin-bottom: 0em !important;
}
.contact-annonce{
    margin-top: 1em !important;
    margin-bottom: 0em !important;
}
.contact-annonce h2{
    text-align: center;
}
.table{
    margin-bottom: 0px !important;
}
.new{
   color: #fff !important; 
   background: #bc151a;
   border-radius: 5px;
   width: 92%;
   margin:auto !important;
}

.tdContent{
   text-align: right;
   font-weight: bold;
}
.floatLeft50{
    width: 50%;
    float: left;
}
.floatRight50{
    width: 50%;
    float: right;
}
.h3ficheProduit{
    font-size: 1.2em !important;
    color:#fff !important;
    font-weight: normal;
    
}
.bandeauAnnonce{
    padding-top: 15px;
    background-color: #665a4f;
}
.ligneBandeau{
    font-size: 1.2em !important;
    color:#fff;
}
.defLigneBandeau{
    color:#b5a79c;
}
.rowBandeau{
    padding-bottom: 10px;
}
.bordeau{
    color:#bc151a;
}
.bottomH4{
    font-size: 1.5em !important;
    margin-bottom:0.5em !important;
    text-align: left;
    color: #fff;
}
.AVendre{
    font-size: 1.5em !important;
    margin-bottom:0.5em !important;
    color: #fff;
    
}
.AVendre i{
    color: #fff; 
}

.labelAnnonce{
}
.sectionFicheAnnonce{
    padding-top:20px !important;
    padding-bottom:20px !important;
    
}

/***************************/
    /*** Map ****/
/**********************/
#map {
    width: 100%;
    height: 500px;
}
.map{
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.33), 0 5px 5px rgba(0, 0, 0, 0.33);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.12);
}
.mapInfo{
          display: none !important;
}

/***************************/
    /*** Erreur ****/
/***************************/
.errorMessageAnnonce{
    font-size: 25px;
    
}
/***************************/
    /*** DPE****/
/***************************/
.dpeImg{
    height:300px;
    
}
#classDpe{
    display: none;
}
.pointerDpe{
    height:20px;
}
.valeurDpe{
    
}
.dpeA{
    margin-top: 10px;
}
.dpeB{
    margin-top: 52px;
}
.dpeC{
    margin-top: 94px;
}
.dpeD{
    margin-top: 136px;
}
.dpeE{
    margin-top: 180px;
}
.dpeF{
    margin-top: 222px;
}
.dpeG{
    margin-top: 266px;
}
.dpe{
    display:none;
}
.dpeEnCours{
    text-align: center;
    width:100%;
    height:100%;
    position : relative;
    z-index : 2;
    padding-bottom:320px;
    padding-right: 100%;
    margin-right: 10px;
    margin-bottom: 15px;
    background-color: rgba(255,255,255,0.8);
}
.dpeEnCoursTitre{
    display:none;
}
iframe{
    background-color: transparent!important;
    min-height: 50px!important;
}
/***************************/
    /*** cookieconsent****/
/***************************/

.cc-window{
    background-color: #c7c7a3!important;
    position:fixed;
    bottom: 0px;
    display: inline;
    float: left;
    z-index:800000;
    width:100%;
    min-height: 50px;
    
}
.cc-message{
    padding-top:10px;
    margin-left:50px;
    float: left;
}
.cc-compliance{
    background-color: #c7c7a3!important;
    text-align: right;
    margin-right:50px;
    color:#bc151a !important;
    float: right;
    padding-top:10px;
    z-index:800001;
}
.cc-compliance a{
    background-color: #c7c7a3!important;
    color:#bc151a !important;
}
.cc-btn{
    z-index:800002;
}