{% if slider is defined %}

    
        {% if slider.slides|length > 0 %}
            <ul class="slides">
        {% endif %}
        {% for slide in slider.slides %}
            <li class="imagebg" data-overlay="4">
                <div class="background-image-holder">
                    <img alt="image" src="{{ slide.file }}">
                </div>
                {% if slide.name|length > 0 %}
                    <div class="container pos-vertical-center">
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <div class="slider-title">
                                    {{ slide.name|raw }}
                                </div>
                                {% if slide.link|length > 0 %}
                                <a class="btn btn--primary" href="{{ slide.link }}">
                                    <span class="btn__text">
                                        {{ slide.textlink|raw }}
                                    </span>
                                </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </li>
        {% endfor %}
        {% if slider.slides|length > 0 %}
            </ul>
        {% endif %}
    
{% endif %}