{% if slider is defined %}
        {% if slider.slides|length > 0 %}
            <ul>
        {% endif %}
        
        {% for slide in slider.slides %}
            <li>
                <img class="imgbg" data-src="{{ slide.file }}" />
            </li>
        {% endfor %}
        
        {% if slider.slides|length > 0 %}
            </ul>
        {% endif %}
{% endif %}