{% extends "views/_layout.html.twig" %}

{% block content %}

    <div class="main-container transition--fade">
        <section class="height-100 page-error">
            <div class="container pos-vertical-center">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <i class="icon icon--lg icon-Compass-4"></i>
                        <h1>Erreur 404 - Page introuvable</h1>
                        <p>
                            La page que vous recherchez n'a pas été trouvée, nous en sommes désolés
                        </p>
                        <a href="/" class='btn btn--primary'>
                            <span class="btn__text">Retour à l'accueil</span>
                        </a>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>
    </div>


{% endblock %}
