{% if organise.menus is defined %}
    {% for  item in organise.menus %}
        {% if item.submenus is iterable and item.submenus is not empty %}
            <li class="nav-item dropdown {% if item.alias == app.active_page %}active{% endif%}">
                <a class="nav-link dropdown-toggle" href="{{ item.alias|default('javascript:void(0)') }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ item.name }}</a>
                <div class="dropdown-menu">
                    {% for sub_item in item.submenus %}
                        <a class="dropdown-item {% if sub_item.alias == app.active_page %}active{% endif%}" href="{{ sub_item.alias }}">{{ sub_item.name }}</a>
                    {% endfor %}
                </div>
            </li>
        {% else %}
            <li class="nav-item {% if item.alias == app.active_page %}active{% endif %}">
                <a class="nav-link" href="{{ item.alias|default('javascript:void(0)') }}">{{ item.name }}</a>
            </li>
        {% endif %}
    {% endfor %}
{% endif %}