{% extends "layout.html.twig" %}

{% block bodyClass %}page{{code}}{% endblock %}

{% block css %}
    <link href="{{ asset('css/' ~ app.theme ~ '/page.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    <section class="block-content-wrapper" data-code="{{ content.code }}">
        <div class="container text-center">
            <h1>{{code}}</h1>
            <h2>Erreur interne</h2>
            <p>
                <a class='btn btn-default' href="/">Retour à l'accueil</a>
            </p>
            <br /><br />
        </div>
    </section>
{% endblock %}
