<!DOCTYPE html>
<html lang="en">
    <head>

        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        {% block meta %}
        {% endblock meta %}

        <title>{% block title app.default_title %}</title>
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Open+Sans:400,400i,700" rel="stylesheet">
        <link href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bower_components/cookieconsent/build/cookieconsent.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset(app.theme ~ '/css/theme-' ~ app.style ~ '.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('favicon.ico') }}" rel="icon" type="image/png"/>

        {% block css %}
        {% endblock css %}

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->


        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', '{{ analytics_account }}', 'auto');
            ga('send', 'pageview');
        </script>

    </head>

    <body class="{% block bodyClass %}{% endblock %}">

        {% block header %}
        {% endblock header %}

        {% block content %}
        {% endblock content %}

        {% block footer %}
        {% endblock footer %}

        <script src="{{ asset('bower_components/cookieconsent/build/cookieconsent.min.js') }}"></script>
        <script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset('bower_components/fitvids/jquery.fitvids.js') }}"></script>
        <script src="{{ asset('bower_components/isotope/dist/isotope.pkgd.min.js') }}"></script>
        <script src="{{ asset('bower_components/masonry/dist/masonry.pkgd.min.js') }}"></script>
        <script src="{{ asset(app.theme ~ '/js/theme-' ~ app.style ~ '.js') }}" type="text/javascript"></script>


        {% block js %}
        {% endblock js %}

    </body>
</html>

