.content-notfound {
    background-color: #F3FF11;
    color: #000;
    font-size: 1em;
    line-height: 1.015625em;
    padding: 20px;
}

.page-content ul {
    margin: 40px 0 40px 20px;
    padding: 0;
}

.page-content img {
    max-width: 100%;
    height: auto;
}

.page-content img[style*="float:left"],
.page-content img[style*="float: left"] {
    margin: 5px 40px 40px 0px;
}

.page-content img[style*="float:right"],
.page-content img[style*="float: right"] {
    margin: 5px 0px 40px 40px;
}

form {
    width: 100%;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}