/******************************/
/******** Custom Font ********/
/****************************/

@font-face {
    font-family: 'ChevalierAT';
    src: url('../../fonts/ChevalierAT.eot?#iefix') format('embedded-opentype'),  url('../../fonts/ChevalierAT.otf')  format('opentype'),
        url('../../fonts/ChevalierAT.woff') format('woff'), url('../../fonts/ChevalierAT.ttf')  format('truetype'), url('../../fonts/ChevalierAT.svg#ChevalierAT') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*****************************/
/******** Scaffolding *******/
/***************************/

body {
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.75;
}

p {
    margin-bottom: 1.5rem;
}

/*****************************/
/********** Colors **********/
/***************************/


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 0.85rem;
}
::-moz-placeholder { /* Firefox 19+ */
  font-size: 0.85rem;
}
:-ms-input-placeholder { /* IE 10+ */
  font-size: 0.85rem;
}
:-moz-placeholder { /* Firefox 18- */
  font-size: 0.85rem;
}

::selection {
  background: #d70056; /* WebKit/Blink Browsers */
  color: #FFF;
}
::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
  color: #FFF;
}

.footer-1 ul li a:hover,
.footer-1 ul li a:focus,
a:hover,
a:focus {
    color: #d70056;
}

.main-title.on-dark .main-subtitle-bottom {
    color: #eee;
}

.btn.btn-primary {
    color: #fff;
    background-color: #d70056;
    border-color: #d70056;
}

.btn.btn-primary:focus,
.btn.btn-primary:hover {
    background-color: #b40048;
    border-color: #b40048;
}

.form-control:focus {
    color: #464a4c;
    border-color: #d70056;
}

.dropdown-item.active, 
.dropdown-item:active {
    background-color: #d70056;
}

.background-custom-1 {
    background-color: #d70056;
}

.background-grey {
    background-color: #f4f4f4;
}


/*****************************/
/******** Typography ********/
/***************************/

h1,
h2 {
    font-family: "Crimson Text", Georgia, Arial, serif;
    text-transform: uppercase;
}

h3, .h3 {
    font-size: 2.5rem;
}


/****************************/
/***** Homepage slider *****/
/**************************/

.homepage-slider {
    background: #212121;
}

.hero-bottom-wrap.ver-2 h2 {
    font-family: "ChevalierAT", "Crimson Text", Georgia, Arial, serif;
    font-size: 2.5rem;
}
.hero-bottom-wrap.ver-2 h3 {
    font-family: "Times New Roman";
    font-size: 1.5rem;
    color: #FFF;
    text-transform: uppercase;
    margin-top: 30px;
}
.hero-bottom-wrap.ver-2 span {
    display: block;
}
.hero-bottom-wrap.ver-2 span.slim {
    line-height: 6rem;
}
.hero-bottom-wrap.ver-2 span.big {
    font-size: 9rem;
}
.hero-bottom-wrap {
    bottom: 80px;
    width: 100%;
    left: 0;
}
.item.background-image-cover:after {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.35);
    content: '';
}
.main-title {
    margin-bottom: 1rem;
}
.main-title h3 {
    color: #d70056;
}
.logo-absolute {
    position: absolute;
    top: 150px;
    left: 200px;
    z-index: 999;
    max-width: 280px;
}
@media (min-width: 1400px) {
    .logo-absolute {
        max-width: 500px;
    }
}
@media (min-width: 1200px) {
    .logo-absolute {
        max-width: 400px;
    }
}


/****************************/
/********* Navbar **********/
/**************************/

.cbp-af-header.cbp-af-header-shrink.black-menu-background-1st-trans {
    background-color: rgba(35,31,32,0.95);
}
.navbar-brand {
    padding: 0.8rem 0;
    display: none;
}
.cbp-af-header-shrink .navbar-brand {
    display: block;
}
#menu-wrap .navbar-brand img, #menu-wrap.cbp-af-header.cbp-af-header-shrink .navbar-brand img {
    max-height: 60px;
}
@media (max-width: 991px) {
    #menu-wrap {
        min-height: 75px;
    }
}
@media (max-width: 991px) {
    .navbar-nav {
        padding: 50px 0;
    }
}


/****************************/
/******* Page contenu ******/
/**************************/

.main-title h1 {
    font-family: "ChevalierAT", "Crimson Text", Georgia, Arial, serif;
    font-size: 2.5rem;
    font-weight: 700;
    color: #FFF;
}

@media (min-width: 768px) {
    .main-title h1 {
        font-size: 3.5rem;
    }
}
@media (min-width: 1200px) {
    .main-title h1 {
        font-size: 4.5rem;
    }
}
@media (min-width: 1600px) {
    .main-title h1 {
        font-size: 5.5rem;
    }
}


.page-content a {
    color: #d70056;
}

.page-content li {
    font-size: 1.05rem;
    color: #212121;
    margin-bottom: 5px;
}


/****************************/
/********** Footer *********/
/**************************/

.footer-1 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-1 li {
    display: inline-block;
    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 4px;
    margin-top: 4px;
}

.footer-1 ul li a {
    font-size: 0.85rem;
}

.footer-1 .scd-foot p a {
    color: #000;
}


/****************************/
/********* Helpers *********/
/**************************/

@media (min-width: 992px) {
    .hero-center-wrap {
        margin-top: 60px;
    }
}

.full-height-3 {
    height: calc(100vh - 200px);
}
.full-height-4 {
    height: calc(100vh - 300px);
}

.parallax.parallax-center { background-position: center center!important; }

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 30px;
}

.box {
    position: relative;
    width: 100%;
    display: block;
    overflow: hidden;
}

.box img {
    max-height: 250px;
}

@media (min-width: 1470px) {
    .container-large {
        width: 1440px;
    }
}
.owl-goDown-in {
    -webkit-animation: goDown 1s ease both;
    -moz-animation: goDown 1s ease both;
    animation: goDown 1s ease both;
}
.owl-goDown-out {
    -webkit-animation: scaleToFade 1s ease both;
    -moz-animation: scaleToFade 1s ease both;
    animation: scaleToFade 1s ease both;
}

.spinner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.spinner {
    width: 40px;
    height: 40px;
    margin: 100px auto;
    background-color: #FFF;
    border-radius: 100%;  
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
    0% { -webkit-transform: scale(0) }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% { 
        -webkit-transform: scale(0);
        transform: scale(0);
    } 100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}


/****************************/
/******** Homepage *********/
/**************************/

.cta-1 .title,
.cta-1 .subtitle,
.cta-1 .introduction {
    display: none;
}

.homepage-quote p {
    font-size: 1.5rem;
}

.push .btn.btn-primary {
    display: inline-block;
    color: #FFF;
    border-color: transparent;
}

.push p {
    font-size: 1.15em;
}

.push h2 {
    font-family: "Crimson Text", Georgia, serif;
    font-size: 2.8rem;
    font-weight: 700;
}

.grid-box .main-subtitle-bottom.smaller {
    font-size: 0.8rem;
}

.team-box-1.image-over-box img {
    width: 8rem;
    height: 8rem;
    transform: translateY(-2rem);
}


/****************************/
/********* Contact *********/
/**************************/

#google-container {
    height: 50vh;
}

#cd-google-map address {
    max-width: 280px;
}


/****************************/
/********** Forms **********/
/**************************/

.form-control {
    font-size: 1.25rem;
}

label.error {
    font-size: 0.85rem;
    color: #b61515;
}

/****************************/
/********* Erreur **********/
/**************************/

body.error {
    background: url(http://rootcms.elocms.com/documents/users/294/editor/pics/erreurs/bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.error-page h1 {
    font-size: 15rem;
    line-height: 9rem;
    font-weight: 700;
    margin-bottom: 3rem;
}

.error .hero-center-wrap {
    margin-top: 110px;
}

.error .error-page,
.error h1,
.error .btn-link {
    color: #FFF;
}