
/*****************************/
/******** Scaffolding *******/
/***************************/

html,
body {
    width: 100%;
    height: 100%;
}

body {
    position: relative;
}

a:hover {
    text-decoration: underline;
}

/*****************************/
/********** Colors **********/
/***************************/

.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #FFF;
    opacity: 1;
}

.form-control::-moz-placeholder { /* Firefox 19+ */
    color: #FFF;
    opacity: 1;
}

.form-control:-ms-input-placeholder { /* IE 10+ */
    color: #FFF;
    opacity: 1;
}

.form-control:-moz-placeholder { /* Firefox 18- */
    color: #FFF;
    opacity: 1;
}

::selection {
    background: #b7a32a; /* WebKit/Blink Browsers */
    color: #FFF;
}

::-moz-selection {
    background: #b7a32a; /* Gecko Browsers */
    color: #FFF;
}

body {
    background-color: #000;
}

a, a:link, a:visited {
    color: #FFF;
}

.form-control {
    font-size: 0.9rem;
    color: #FFF;
    border-bottom: 1px solid rgba(255,255,255,.8);
}

.form-control:focus {
    color: #FFF;
    border-bottom: 1px solid rgba(255,255,255,1);
}

.btn-primary {
    background-color: #b7a32a;
    color: #000;
}

.btn-primary:hover,
.btn-primary:focus {
    color: #000;
    background-color: #dac543;
}

label.error {
    color: #e93131;
}


/****************************/
/***** Global Elements *****/
/**************************/

.logo {
    display: block;
    opacity: 0;
    margin: 40px auto 0px auto;
}

.copyright {
    position: fixed;
    width: 100%;
    bottom: 30px;
    font-size: 0.8rem;
    color: #FFF;
    text-align: center;
}

.form-container {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    margin-top: 60px;
    transform: translate(-50%, -50%);
    padding: 2rem 4rem 4em 4rem;
    background: rgba(0,0,0,0.75);
    height: 100%;
    opacity: 0;
}
@media (min-width: 768px) {
    .form-container {
        max-width: 600px;
    }
    .form-container {
        height: auto;
    }
}

label.error {
    padding-top: 3px;
}


/****************************/
/******* VEGAS SLIDER ******/
/**************************/

.vegas-timer {
    display: none;
}

.vegas-slider .container {
    height: 100%;
}

.vegas-slider ul {
    display: none;
}

.vegas-slider .vegas-slide::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.25);
    z-index: 1;
}

.vegas-slider .slide {
    display: none;
}

.vegas-slider .slide.fadeIn {
    display: block;
}

.vegas-slider h2.title {
    font-size: 2.3rem;
    color: #FFF;
    font-weight: 300;
    text-align: center;
    margin: 50px 0px 0px 0;
    padding: 0 40px;
}

.vegas-slider h3.subtitle {
    font-size: 1rem;
    color: #FFF;
    font-weight: 300;
    text-align: center;
    margin: 30px 0;
    padding: 0 40px;
}


/****************************/
/******** Overrides ********/
/**************************/

.form-control {
    font-size: 0.9rem;
}

.animated {
    animation-duration: 2s;
}

.for-textarea {
    min-height: 140px;
}


.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
    height: 200px;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.ball-scale>div {
    height: 60px;
    width: 60px;
    -webkit-animation: ball-scale 1s 0s ease-in-out infinite;
    animation: ball-scale 1s 0s ease-in-out infinite;
}

.ball-pulse-sync>div, .ball-pulse>div, .ball-scale-random>div, .ball-scale>div {
    background-color: #fff;
    border-radius: 100%;
    margin: 2px;
    display: inline-block;
}
@-webkit-keyframes ball-scale {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0); }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0; } }

@keyframes ball-scale {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0); }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0; } }