<!DOCTYPE html>
<html lang="en">
    <head>
        
        {% block meta %}
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
        {% endblock meta %}
        
        <title>{% block title app.default_title %}</title>
        
        <link href="{{ asset('bower_components/cookieconsent/build/cookieconsent.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bower_components/animate.css/animate.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bower_components/owl.carousel/dist/assets/owl.carousel.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('bower_components/owl.carousel/dist/assets/owl.theme.default.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset(app.theme ~ '/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset(app.theme ~ '/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />
	<link href="{{ asset(app.theme ~ '/css/mind-icons-line.css') }}" rel="stylesheet" type="text/css" />
	<link href="{{ asset(app.theme ~ '/css/funky-style.css') }}" rel="stylesheet" type="text/css" />
	<link href="{{ asset(app.theme ~ '/css/owl.carousel.css') }}" rel="stylesheet" type="text/css" />
	<link href="{{ asset(app.theme ~ '/css/owl.transitions.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset(app.theme ~ '/css/main.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset(app.theme ~ '/css/theme-' ~ app.style ~ '.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset(app.theme ~ '/images/favicon-' ~ app.style ~ '.ico') }}" rel="icon" type="image/x-icon"/>
        <link href="{{ app.fonts|default('https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900|Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Crimson+Text:400,400i,600,600i,700,700i') }}" rel="stylesheet">
        {% block css %}
        {% endblock css %}

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', '{{ analytics_account }}', 'auto');
            ga('send', 'pageview');
        </script>

    </head>

    <body class="{% block bodyClass %}{% endblock %}">

        {% block header %}
            <!-- Navigation -->
            {% include 'components/header/' ~ app.header|default('header-1') ~ '.html.twig' %}
            <!-- /Navigation -->
        {% endblock header %}

        {% block content %}
        {% endblock content %}

        {% block footer %}
            <!--- Footer -->
            {% include 'components/footer/' ~ app.footer|default('footer-1') ~ '.html.twig' %}
            <!--- /Footer -->
        {% endblock footer %}

        <script src="{{ asset(app.theme ~ '/js/jquery-3.2.1.min.js') }}" type="text/javascript"></script>
	<script src="{{ asset(app.theme ~ '/js/tether.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset(app.theme ~ '/js/bootstrap.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bower_components/cookieconsent/build/cookieconsent.min.js') }}"></script>
        <script src="{{ asset('bower_components/owl.carousel/dist/owl.carousel.min.js') }}"></script>
        <script src='{{ asset('bower_components/jquery-validation/dist/jquery.validate.min.js') }}'></script>
        <script src='{{ asset('bower_components/jquery-validation/src/localization/messages_fr.js') }}'></script>
        <script src="{{ asset(app.theme ~ '/js/plugins.js') }}" type="text/javascript"></script>
	<script src="{{ asset(app.theme ~ '/js/main.js') }}" type="text/javascript"></script>
        
        {% block js %}
        {% endblock js %}
        
        <script src="{{ asset(app.theme ~ '/js/theme-' ~ app.style ~ '.js') }}" type="text/javascript"></script>

    </body>
</html>

