
{% extends 'views/_layout.html.twig' %}

{% block bodyClass %}actualites{% endblock bodyClass %}

{% block content %}

    <div class="section full-height-4 over-hide append-logo">
        {% if content.highlightpic is not empty %}
            <div class="parallax parallax-center" style="background-image: url('{{ content.highlightpic }}')"></div>
        {% endif %}
        <div class="grey-fade-over-2"></div>
        <div class="hero-center-wrap move-top-on-mob z-bigger">
            <div class="container parallax-fade-top">
                <div class="row justify-content-center">
                    <div class="col-md-8 text-center">	
                        <div class="main-title on-dark text-center">
                            <h1>{{ content.title }}</h1>
                            {% if content.subtitle is not empty %}
                                <div class="main-subtitle-bottom mt-3">{{ content.subtitle }}</div>	
                            {% endif %}
                        </div>	
                    </div>
                </div>
            </div>
        </div>
    </div>
                        
                        <div class="section padding-top-bottom background-white z-bigger-2">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="grid-filter">
						<ul class="filter">
							<li><a href="#" class="current" data-filter="*" title="">Toutes</a></li>
							<li><a href="#" data-filter=".branding" title="">Le Domaine</a></li>
							<li><a href="#" data-filter=".photo" title="">Le Vin</a></li>
							<li><a href="#" data-filter=".motion" title="">Autres</a></li>
						</ul>
					</div>
				</div>
                                
                            {{ render(url('render-content-collection', {'collectionTpl':'masonry-blog', 'tplName': 'masonry-item', 'areaName':'actualite', 'order': 'date', 'direction': 'desc', 'noElementText': 'Aucune actualité à afficher' })) }}
                            
			</div>	
		</div>		
	</div>

{% endblock content %}