
{% extends 'views/_layout.html.twig' %}

{% block bodyClass %}contact{% endblock bodyClass %}

{% block js %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ app.maps_key }}"></script>
    <script type="text/javascript">
        $('textarea').flexible();
        $('.form-validate').validate();
    </script>
{% endblock js %}

{% block content %}

    <div class="section full-height-4 over-hide append-logo">
        {% if content.highlightpic is not empty %}
            <div class="parallax parallax-center" style="background-image: url('{{ content.highlightpic }}')"></div>
        {% endif %}
        <div class="grey-fade-over-2"></div>
        <div class="hero-center-wrap move-top-on-mob z-bigger">
            <div class="container parallax-fade-top">
                <div class="row justify-content-center">
                    <div class="col-md-8 text-center">	
                        <div class="main-title on-dark text-center">
                            <h1>{{ content.title }}</h1>
                            {% if content.subtitle is not empty %}
                                <div class="main-subtitle-bottom mt-3">{{ content.subtitle }}</div>	
                            {% endif %}
                        </div>	
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section over-hide">
        <div id="cd-google-map" class="parallax-top">
            <div id="google-container"></div>
            <div id="cd-zoom-in" class="bigger-top"></div>
            <div id="cd-zoom-out"></div>
            <address class="img-raised-2 rounded-2 p-4">
                <h5>Le Domaine de Jale</h5>
                <p>Chemin des Fenouils<br />
                    D48 Route de la Garde-Freinet<br />
                    83550 Vidauban<br />
                    04 94 73 51 50
                </p>
            </address> 
        </div>
    </div>    

    {% if content.content is not empty %}
        <!-- Introduction -->
        <div class="section padding-top-bottom-smaller background-custom-1 z-bigger-2 cta-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 offset-1">	
                        <div class="call-box-1 homepage-quote dark text-center text-center">
                            <p>{{ content.content|raw }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Introduction -->
    {% endif %}

    <div class="section padding-top-bottom-small background-white over-hide z-bigger-2">
        <div class="container padding-on-grid-6 mx-auto">
            <div class="row justify-content-center">

                {{ form_start(form, {'attr': {'class': 'form-validate'}}) }}

                {{ form_errors(form) }}

                <div class="col-md-12">	
                    <div class="subscribe-box-1">
                        <div class="form-group">
                            {{ form_label(form.name, null, {
                                'label_attr': {
                                    'class' : 'sr-only'
                                } 
                            }) }}
                            {{ form_widget(form.name, { 
                                'attr': { 
                                    'class' : 'form-control',
                                    'placeholder': "Votre nom *" 
                                } 
                            }) }}
                            {{ form_errors(form.name) }}
                        </div>
                    </div>
                </div>

                <div class="clear"></div>

                <div class="col-md-12 mt-4">	
                    <div class="subscribe-box-1">
                        <div class="form-group">
                            {{ form_label(form.email, null, {
                                'label_attr': {
                                    'class' : 'sr-only'
                                } 
                            }) }}
                            {{ form_widget(form.email, { 
                                'attr': { 
                                    'class' : 'form-control',
                                    'placeholder': "Votre adresse e-mail *" 
                                } 
                            }) }}
                            {{ form_errors(form.email) }}
                        </div>
                    </div>
                </div>

                <div class="clear"></div>

                <div class="col-md-12 mt-4">	
                    <div class="subscribe-box-1">
                        <div class="form-group">
                            {{ form_label(form.message, null, {
                                'label_attr': {
                                    'class' : 'sr-only'
                                } 
                            }) }}
                            {{ form_widget(form.message, { 
                                'attr': { 
                                    'class' : 'for-textarea form-control',
                                    'placeholder': "Votre message *" 
                                } 
                            }) }}
                            {{ form_errors(form.message) }}
                        </div>
                    </div>
                </div>

                <div class="clear"></div>

                <div class="col-md-12 mt-5 text-center">
                    {{ form_widget(form.submit, { 'attr': { 'class': "btn btn-primary btn-round btn-long" } }) }}
                </div>

                {{ form_end(form) }}

            </div>

        </div>
    </div>
</div>

{% endblock content %}