{% extends 'views/_layout.html.twig' %}

{% block bodyClass %}homepage{% endblock bodyClass %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('bower_components/vegas/dist/vegas.min.css') }}">
{% endblock css %}

{% block js %}
    <script src="{{ asset('bower_components/vegas/dist/vegas.min.js') }}"></script>
{% endblock js %}

{% block header %}
{% endblock header %}

{% block content %}

    <!-- Slider -->
    <div class="section full-height vegas-slider" data-loop="true" data-delay="7000" data-preload="true" data-shuffle="true" data-animation="random" data-transition-duration="2000" data-animation-duration="10000">

        {{ render(url('render-slider',{'tplName':'vegas','sliderName':'homepage'})) }}

        <div class="container">
            
            <img class="logo" src="{{ asset('https://rootelo.elocms.com/documents/users/301/editor/pics/logo.png') }}" srcset="{{ asset('https://rootelo.elocms.com/documents/users/301/editor/pics/logo2x.png') }} 2x" />

            
            <ul class="slides-text">
                <li class="slide-1">Lorm ipsum dolor sit amet</li>
                <!--
                <li class="slide-2">Lorm ipsum dolor sit amet 2</li>
                <li class="slide-3">Lorm ipsum dolor sit amet 3</li>
                <li class="slide-4">Lorm ipsum dolor sit amet 4</li>
                <li class="slide-5">Lorm ipsum dolor sit amet 5</li>
                -->
            </ul>
            
            <div class="form-container animated mb-4">
                
                <div class="row">

                    {{ form_start(form, {'attr': {'action': path('contact'), 'class': 'form-validate'}}) }}

                    {{ form_errors(form) }}

                    <div class="row">
                        <div class="col-md-6">
                            {{ form_label(form.name, null, {
                                'label_attr': {
                                    'class' : 'sr-only'
                                } 
                            }) }}
                            {{ form_widget(form.name, { 
                                'attr': { 
                                    'class' : 'form-control',
                                    'placeholder': "Name *" 
                                } 
                            }) }}
                            {{ form_errors(form.name) }}	
                        </div>
                        <div class="col-md-6">	
                            {{ form_label(form.email, null, {
                                'label_attr': {
                                    'class' : 'sr-only'
                                } 
                            }) }}
                            {{ form_widget(form.email, { 
                                'attr': { 
                                    'class' : 'form-control',
                                    'placeholder': "Email *" 
                                } 
                            }) }}
                            {{ form_errors(form.email) }}	
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mt-4">	
                            {{ form_label(form.message, null, {
                                'label_attr': {
                                    'class' : 'sr-only'
                                } 
                            }) }}
                            {{ form_widget(form.message, { 
                                'attr': { 
                                    'class' : 'for-textarea form-control',
                                    'placeholder': "Message *" 
                                } 
                            }) }}
                            {{ form_errors(form.message) }}
                        </div>
                    </div>
                    <div class="col-md-12 mt-5 text-center">
                        {{ form_widget(form.submit, { 'label': 'Submit', 'attr': { 'class': "btn btn-primary btn-round btn-long" } }) }}		
                    </div>

                    {{ form_end(form) }}


                </div>

            </div>

        </div>

    </div>
    <!-- /Slider -->


{% endblock content %}

{% block footer %}
{% endblock footer %}
