{% extends 'views/_layout.html.twig' %}

{% block bodyClass %}homepage{% endblock bodyClass %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('bower_components/vegas/dist/vegas.min.css') }}">
{% endblock css %}

{% block js %}
    <script src="{{ asset('bower_components/vegas/dist/vegas.min.js') }}"></script>
{% endblock js %}

{% block header %}
{% endblock header %}

{% block content %}

    <!-- Slider -->
    <div class="section full-height vegas-slider" data-loop="true" data-delay="8000" data-preload="true" data-shuffle="true" data-animation="random" data-transition-duration="3000" data-animation-duration="12000">

        <div class="loader animated">
            <div class="ball-scale">
                <div></div>
            </div>
        </div>
        
        {{ render(url('render-slider',{'tplName':'vegas','sliderName':'homepage'})) }}

        <div class="container">
            
            <img class="logo animated" src="{{ asset('https://rootelo.elocms.com/documents/users/301/editor/pics/logo.png') }}" srcset="{{ asset('https://rootelo.elocms.com/documents/users/301/editor/pics/logo2x.png') }} 2x" />

            <div class="slides-text"></div>
            
            <div class="form-container animated mb-4">
                
                <div class="row">

                    <form name="form" method="post" action="/index_dev.php/contact" class="form-validate" novalidate="novalidate">

                        <div class="row">
                            <div class="col-md-6">
                                <label class="sr-only required" for="form_name" aria-required="true">Votre nom</label>
                                <input type="text" id="form_name" name="form[name]" required="required" class="form-control" placeholder="Name *" aria-required="true">

                            </div>
                            <div class="col-md-6">	
                                <label class="sr-only required" for="form_email" aria-required="true">Votre adresse e-mail</label>
                                <input type="email" id="form_email" name="form[email]" required="required" class="form-control" placeholder="Email *" aria-required="true">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mt-4">	
                                <label class="sr-only required" for="form_message" aria-required="true">Votre message</label>
                                <textarea id="form_message" name="form[message]" required="required" class="for-textarea form-control" placeholder="Message *" style="resize: none; overflow: hidden;" aria-required="true"></textarea>

                            </div>
                        </div>
                        <div class="col-md-12 mt-5 text-center">
                            <button type="submit" id="form_submit" name="form[submit]" class="btn btn-primary btn-round btn-long">Submit</button>		
                        </div>

                        <input type="hidden" id="form_fax" name="form[fax]" tabindex="-1" autocomplete="off"><input type="hidden" id="form_portable" name="form[portable]" required="required" tabindex="-1" autocomplete="off" value="MTUxNDk3MTQyNw==" aria-required="true"><input type="hidden" id="form__token" name="form[_token]" value="CKi1Q8nK1WBqNnB3XrvHSwHi-JkXEejZglypj-jPNR4"></form>

                </div>

            </div>

        </div>

    </div>
    <!-- /Slider -->

    <div class="copyright">Copyright © Luxury Rentals - <a href="/mentions-legales">Mentions légales</a></div>

{% endblock content %}

{% block footer %}
{% endblock footer %}
