{% extends 'views/_layout.html.twig' %}

{% block bodyClass %}homepage{% endblock bodyClass %}

{% block content %}

    <!-- Slider -->
    <div class="section full-height over-hide slides homepage-slider append-logo" data-lazy-load="true" data-animate-in="owl-goDown-in" data-animate-out="owl-goDown-out" data-autoplay="true" data-autoplay-timeout="6000" data-items="1" data-loop="true">

        <div class="spinner-container">
            <div class="spinner"></div>
        </div>

        {{ render(url('render-slider',{'tplName':'default','sliderName':'homepage'})) }}

        <!-- Titre slider -->
        <div class="hero-bottom-wrap ver-2 text-center z-bigger">
            <div class="container-fluid parallax-fade-top">
                <div class="row">
                    <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">	
                        <h2>Domaine <span class="slim">de</span><span class="big">Jale</span></h2>
                        <h3>Côtes de Provence</h3>
                    </div>	
                </div>		
            </div>			
        </div>
        <!-- /Titre slider -->

    </div>
    <!-- /Slider -->


    <!-- CTA -->
    <div class="section padding-top-bottom-smaller background-custom-1 z-bigger-2 cta-1">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-1">	
                    <div class="call-box-1 homepage-quote dark text-center text-center">
                        {{ render(url('render-content',{'tplName':'cta', 'contentCode': 'C1'})) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /CTA -->

    <!-- Titre : Nos vins -->
    <div class="section padding-top padding-bottom-small background-white over-hide">
        {{ render(url('render-content',{'tplName':'title', 'contentCode': 'C2'})) }}			
    </div>
    <!-- /Titre -->

    <!-- Zones de push -->
    <div class="section background-white z-bigger-2">
        <div class="container container-large">
            <div class="row">
                <div class="col-sm-4 mb-30 transform-on-mob">	
                    {{ render(url('render-content',{'tplName':'push', 'contentCode': 'C3'})) }}	
                </div>
                <div class="col-sm-4 mb-30 transform-on-mob">	
                    {{ render(url('render-content',{'tplName':'push', 'contentCode': 'C4'})) }}	
                </div>
                <div class="col-sm-4 mb-30 transform-on-mob">	
                    {{ render(url('render-content',{'tplName':'push', 'contentCode': 'C5'})) }}	
                </div>
            </div>
        </div>
    </div>
    <!-- /Zones de push -->

    <!-- Titre : Notre caveau de vente -->
    <div class="section padding-top padding-bottom-small background-white over-hide">
        {{ render(url('render-content',{'tplName':'title', 'contentCode': 'C6'})) }}			
    </div>
    <!-- /Titre -->  

    <!-- Parallax -->
    <div class="section padding-top-bottom-smaller push">	
        {{ render(url('render-content',{'tplName':'parallax', 'contentCode': 'C7'})) }}	
    </div>
    <!-- /Parallax -->

    <!-- Titre : Actualités -->
    <div class="section padding-top-bottom bg-inverse over-hide">	
        {{ render(url('render-content',{'tplName':'parallax-title', 'contentCode': 'C8'})) }}
    </div>
    <!-- /Titre -->

    <!-- Actualités -->
    <div class="section background-dark z-bigger">
        <div class="container">
            <div class="row transform-y-120 transform-on-mob">
                <div class="clear"></div>
                <div class="team-slider-wrap">
                    <div class="slides" data-items="3" data-dots="true" data-autoplay="false" data-margin="30">
                        {{ render(url('render-content-collection', {'collectionTpl':'carousel-blog', 'tplName': 'blog-item', 'areaName':'actualite', 'order': 'date', 'direction': 'desc', 'noElementText': 'Aucune actualité à afficher' })) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 padding-bottom-smaller transform-y-40 text-center">
                    <a href="{{ path('actualites') }}" class="btn btn-primary btn-round">Toute notre actualité</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /Actualités -->

{% endblock content %}