{% if contents|length > 0 %}
    <div class="owl-carousel owl-theme on-dark">
        {% for content in contents %}
            {{ render(url('render-content-object',{'tplName':tplName,'viewType':viewType,'contentObject':content})) }}
        {% endfor %}
    </div>
{% endif %}