{% if contents|length > 0 %}
        {% for content in contents %}
            {{ render(url('render-content-object',{'tplName':tplName,'viewType':viewType,'contentObject':content})) }}
        {% endfor %}
{% endif %}