{% if content.readMoreLink is not empty %}
    <a href="{{ content.readMoreLink }}">
{% endif %}
<div class="item">											 
    <div class="team-box-1 light all-padding background-white drop-shadow text-center image-over-box mt-5"> 
        {% if content.highlightpic is not empty %}
            <img src="{{ content.highlightpic }}" alt="{{ content.title }}" class="img-raised" />
        {% endif %}
        <p class="dates">{{ content.date|localizeddate('long', 'none', 'fr-FR') }}</p>
        <h6 class="mb-20">{{ content.title }}</h6>
        {% if content.introduction is not empty %}
            {{ content.introduction }}
        {% endif %}
    </div>	
</div>	
{% if content.readMoreLink is not empty %}
    </a>
{% endif %}