
{% if content.title is not empty %}
    <div class="title">
        <h3>{{ content.title }}</h3>
    </div>
{% endif %}

{% if content.subtitle is not empty %}
    <div class="subtitle">{{ content.subtitle }}</div>
{% endif %}

{% if content.introduction is not empty %}
    <div class="introduction">
        {{ content.introduction }}
    </div>
{% endif %}

{% if content.content is not empty %}
    <div class="content">
        {{ content.content|raw }}
    </div>
{% endif %}

{% if content.readMoreLink is not empty %}
<a class="btn btn-primary" href="{{ content.readMoreLink }}">
    En savoir plus
</a>
{% endif %}