<div class="grid-box float-inline third with-margin photo motion">
    {% if content.readMoreLink is not empty %}
        <a href="{{ content.readMoreLink }}">
    {% endif %}
        <div class="box rounded">	
            {% if content.highlightpic is not empty %}
                <img src="{{ content.highlightpic }}" alt="{{ content.title }}" />
            {% endif %}
            <h5 class="mt-3">{{ content.title }}</h5>
            <p>{{ content.date|localizeddate('long', 'none', 'fr-FR') }}</p>
        </div>	
    {% if content.readMoreLink is not empty %}
        </a>	
    {% endif %} 
</div>