	
    {% if content.highlightpic is not empty %}
        <div class="parallax-4" style="background-image: url('{{ content.highlightpic }}}}')"></div>
    {% endif %}
    <div class="grey-fade-over-2"></div>
    <div class="container z-bigger">
        <div class="row justify-content-center">
            <div class="col-md-8">	
                <div class="main-title on-dark text-center">
                    <h3>{{ content.title }}</h3>
                    {% if content.subtitle is not empty %}
                        <div class="main-subtitle-bottom mt-3">{{ content.subtitle }}</div>
                    {% endif %}
                </div>	
            </div>
        </div>	
    </div>
