{% if content.highlightpic is not empty %}
    <div class="parallax" style="background-image: url('{{ content.highlightpic }}')"></div>
{% endif %}
<div class="grey-fade-over-2"></div>
<div class="container z-bigger">
    <div class="row justify-content-end">
        <div class="col-md-8">
            <div class="section p-5 rounded-2">
                <h2 class="mb-4 color-white">{{ content.title }}</h2>
                {% if content.introduction is not empty %}
                    <p class="color-white mb-4 content">{{ content.introduction }}</p>
                {% endif %}
                {% if content.readMoreLink is not empty %}
                    <a href="{{ content.readMoreLink }}" class="btn btn-primary btn-simple btn-round">En savoir plus</a>
                {% endif %}
            </div>
        </div>
    </div>	
</div>		