
{% if content.readMoreLink is not empty %}
    <a href="{{ content.readMoreLink }}">
{% endif %}
    <div class="grid-wraper background-dark rounded-2 drop-shadow over-hide">	
        {% if content.highlightpic is not empty %}
            <div class="grid-box float-inline half height-40-block background-image-cover" style="background-image: url('{{ content.highlightpic }}')"></div>	
        {% endif %}
        <div class="grid-box float-inline half height-40-block">
            <div class="section-center-wrap">	
                <div class="in-grid-wrap w-80 mg-auto">
                    <div class="main-title mb-0 on-dark">
                        <h4>{{ content.title }}</h4>
                        {% if content.subtitle is not empty %}
                            <div class="main-subtitle-bottom smaller mt-3">{{ content.subtitle }}</div>
                        {% endif %}
                        {% if content.introduction is not empty %}
                            <div class="main-subtitle-bottom smaller mt-3">
                                {{ content.introduction }}
                            </div>	
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>		
    </div>
{% if content.readMoreLink is not empty %}
    </a>
{% endif %}