
{% if content.subtitle is not empty %}
    <div class="big-fade-title on-light text-center">{{ content.subtitle }}</div>
{% endif %}
<div class="container z-bigger">
    <div class="row justify-content-center">
        <div class="col-md-8">	
            <div class="main-title text-center">
                <h3>{{ content.title }}</h3>
                {% if content.introduction is not empty %}
                    <div class="main-subtitle-bottom mt-3">{{ content.introduction }}</div>	
                {% endif %}
            </div>
        </div>
    </div>	
</div>		
