<div class="row">
    <div class="col-md-6 block-weather-left">
        <img src="{{ asset(app.theme ~ icon) }}" class="img-responsive center-block" />
    </div>
    <div class="col-md-6 block-weather-right">
        <div class="jour">Aujourd'hui</div>
        <div class='date'>{{ "now"|localizeddate('long', 'none', 'FR-fr') }}</div>
        <div class='title'><span>{{ tempMax }}</span><sup>°</sup>/ {{ tempMin }}°</div>
    </div>
</div>