
<section class="imagebg videobg height-100" data-overlay="4">
    <video autoplay loop muted>
        <source src="video/video.webm" type="video/webm">
        <source src="video/video.mp4" type="video/mp4">
        <source src="video/video.ogv" type="video/ogg">
    </video>
    <div class="background-image-holder">
        <img alt="image" src="img/video.jpg" />
    </div>
    <div class="container pos-vertical-center">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 text-center">
                <h1>Local Video Background</h1>
            </div>
        </div>
    </div>
</section>
