
{% if content.title is not empty %}
    <div class="accordion__title">
        <span class="h5">{{ content.title }}</span>
    </div>
{% endif %}

{% if content.content is not empty %}
    <div class="accordion__content">
        {{ content.content|raw }}
    </div>
{% endif %}
