
<div class="block-content-wrapper" data-code="{{ content.code }}">

    <div class="block">

        {% if content.highlightpic is not empty %}
            <div class="card__image">
               
                    <img alt="Pic" src="{{ content.highlightpic }}" />
                
            </div>
        {% endif %}

        {% if content.date is not empty %}
            <{{ content.params.date.tagname|default('p') }} class="date">
            {{ content.date|date("d/m/Y") }}
            </{{ content.params.date.tagname|default('p') }}>
        {% endif %}

        {% if content.title is not empty %}
            <h3 class="title">{{ content.title }}</h3>
        {% endif %}

        {% if content.subtitle is not empty %}
            <{{ content.params.subtitle.tagname|default('h4') }} class="subtitle" data-content-id="{{ content.id }}" data-content-field="subtitle">
            {{ content.subtitle }}
            </{{ content.params.subtitle.tagname|default('h4') }}>
        {% endif %}

        {% if content.introduction is not empty %}
            <p class="lead">
                {{ content.introduction }}
            </p>
        {% endif %}

        {% if content.content is not empty %}
            <div class="content">{{ content.content|raw }}</div>
        {% endif %}

    </div>

</div>
