
<div class="block-content-wrapper" data-code="{{ content.code }}">

    <div class="block">

        <div class="card-flip">
            <div class="front">

                {% if content.highlightpic is not empty %}
                    <div class="card__image image">

                        <img alt="Pic" src="{{ content.highlightpic }}" />

                    </div>
                {% endif %}

                {% if content.title is not empty %}
                    <h2 class="title">{{ content.title }}</h2>
                {% endif %}
            </div>

            <div class="back">

                <div class="">
                    {% if content.title is not empty %}
                        <h2 class="title">{{ content.title }}</h2>
                    {% endif %}
                    {% if content.subtitle is not empty %}
                        <h3 class="subtitle">{{ content.title }}</h3>
                    {% endif %}
                    {% if content.introduction is not empty %}
                        <p class="lead">
                            {{ content.introduction}}
                        </p>
                    {% endif %}
                    {% if content.content is not empty %}
                        <div class="content">
                            {{ content.content|raw}}
                        </div>
                    {% endif %}
                </div>

            </div>

        </div>
    </div>

</div>
