{% set link = content.readMoreLink|default('javascript:void(0);')  %}

<a href="{{ link }}">
    <div class="card card-4">
        {% if content.highlightpic is not empty %}
            <div class="card__image">
                <img alt="{{ content.title }}" src="{{ content.highlightpic }}" />
            </div>
        {% endif %}
        <div class="card__body boxed boxed--sm bg--white">
            <!--<h6>Catégorie</h6>-->
            <div class="card__date">
                {{ content.date|localizeddate('long', 'none', 'fr-FR') }}
            </div>
            {% if content.title is not empty %}
                <div class="card__title">
                    <h5>{{ content.title }}</h5>
                </div>
            {% endif %}
        </div>
    </div>
</a>
