{% set link = content.readMoreLink|default('javascript:void(0);')  %}

<a href="{{ link }}">
    <div class="card card-3 ">
        {% if content.highlightpic is not empty %}
            <div class="card__image">
                <img alt="Pic" src="{{ content.highlightpic }}" />
            </div>
        {% endif %}
        <div class="card__body boxed bg--white">
            <div class="card__date">
                <span>{{ content.date|localizeddate('long', 'none', 'fr-FR') }}</span>
            </div>
            {% if content.title is not empty %}
                <div class="card__title">
                    <h5>{{ content.title }}</h5>
                </div>
            {% endif %}
            {% if content.introduction is not empty %}
                <div class="card__introduction">
                    <em>{{ content.introduction|truncate(100, true, '...') }}</em>
                </div>
            {% endif %}
            {% if content.content is not empty %}
                <div class="card__content">
                    <em>{{ content.content|truncate(100, true, '...')|raw }}</em>
                </div>
            {% endif %}
        </div>
    </div>
</a>