<div class="col-sm-10 col-sm-offset-1 text-center">
    {% if content.content is not empty %}
        <blockquote>
            {{ content.content|raw }}
        </blockquote>
    {% endif %}
    {% if content.title is not empty %}
        <h5>{{ content.title }}</h5>
    {% endif %}
</div>
