

                    
                    {% if content.title is not empty %}
                        <h4 class="title">{{ content.title }}</h4>
                    {% endif %}

                    {% if content.subtitle is not empty %}
                        <h5 class="subtitle">{{ content.subtitle }}</h5>
                    {% endif %}

                    {% if content.introduction is not empty %}
                        <p class="lead">
                            {{ content.introduction }}
                        </p>
                    {% endif %}

                    {% if content.content is not empty %}
                        <div class="content">{{ content.content|raw }}</div>
                    {% endif %}

                    {% if content.readMoreLink is not empty %}
                        <a class="btn btn--primary btn--sm " href="{{ content.readMoreLink }}">
                            <span class="btn__text">
                                En savoir plus
                            </span>
                        </a>
                    {% endif %}

