


                
                {% if content.title is not empty %}
                    <div class="col-sm-12 text-center">
                        <h3>{{ content.title }}</h3>
                    </div>
                {% endif %}
                
                <div class="col-sm-12 text-center">

                    {% if content.subtitle is not empty %}
                        <h4>{{ content.subtitle }}</h4>
                    {% endif %}

                    {% if content.introduction is not empty %}
                        <p class="lead">
                            {{ content.introduction }}
                        </p>
                    {% endif %}

                    {% if content.content is not empty %}
                        {{ content.content|raw }}
                    {% endif %}
                </div>
                {% if content.readMoreLink is not empty %}
                <div class="col-sm-12 text-center">
                    <a class="btn btn--sm btn--primary" href="{{ '/'~language~content.readMoreLink }}">
                        <span class="btn__text">
                            {% if language == 'fr' %}
                                En savoir plus
                            {% else  %}
                                Learn more
                            {% endif  %}
                        </span>
                    </a>
                </div>
                {% endif %}

