<a href="{{ content.readMoreLink|default('#') }}">
    <div class="card card--horizontal card-1">
        <div class="card__image col-sm-7 col-md-8">
            {% if content.highlightpic is not empty %}

                <div class="background-image-holder">
                    <img alt="Pic" src="{{ content.highlightpic }}" />
                </div>

            {% endif %}
        </div>
        <div class="card__body col-sm-5 col-md-4 boxed boxed--lg bg--white">

            {% if content.title is not empty %}
                <div class="card__title">
                    <h4>{{ content.title }}</h4>
                </div>
            {% endif %}
            
            {% if content.subtitle is not empty %}
                <span>
                    <h6>{{ content.subtitle }}</h6>
                </span>
            {% endif %}

            {% if content.introduction is not empty %}
                <div class="card__intro">
                    <em>{{ content.introduction|raw }}</em>
                </div>
            {% endif %}
            
            {% if content.content is not empty %}
                {{ content.content|raw }}
            {% endif %}

            {% if content.readMoreLink is not empty %}
                <div class="btn btn--sm btn--primary" href="{{ content.readMoreLink }}">
                    <span class="btn__text">
                        En savoir plus
                    </span>
                </div>
            {% endif %}
        </div>
    </div>
</a>
