<div class="card card--horizontal card-2">

    {% if content.highlightpic is not empty %}
        <div class="card__image col-sm-5">
            <div class="background-image-holder" style="background: url(&quot;img/small2.jpg&quot;); opacity: 1;">


                <img alt="Pic" src="{{ content.highlightpic }}" />


            </div>
        </div>
    {% endif %}

    <div class="card__body col-sm-7 boxed bg--white">

        {% if content.title is not empty %}
            <div class="card__title">
                <h5>{{ content.title }}</h5>
            </div>
        {% endif %}

        {% if content.subtitle is not empty %}
            <span>
                <em>{{ content.subtitle }}</em>
            </span>
        {% endif %}
        {% if content.introduction is not empty %}
            <p>{{ content.introduction|raw }}</p>
            {% endif %}
       {# {% if content.content is not empty %}
            {{ content.content|raw }}
        {% endif %}#}

        {% if content.readMoreLink is not empty %}
            <div class="btn btn--sm btn--primary" href="{{ content.readMoreLink }}">
                <span class="btn__text">
                    En savoir plus
                </span>
            </div>
        {% endif %}

    </div>
</div>     