<div class="col-sm-12 masonry__item">
    <a id="hrefUrl{{content.id}}" class="hrefUrl hrefUrl{{content.id}}"  href="/{{language}}/annonce-{{content.url}}">
        <div class="card card--horizontal card-6">
            <div class="card__image col-sm-7 col-md-8">
                {% if content.photo1file is defined and content.photo1file|length > 3 %}
                    <div class="background-image-holder">
                        <img alt="Pic" src="{{ content.photo1File }} " />
                    </div>
                {% else %}
                    <div class="background-image-holder">
                        <img alt="Pic" src="https://rootelo.elocms.com/documents/users/271/editor/pics/fp2i/fp2i-no-picture.png"  />
                    </div>
                {% endif %}
            </div>
            <div class="card__body col-sm-6 col-md-5 boxedFlash boxed--lg bg--white">
                <h6>{{content.reference}}</h6>
                <div class="card__title">
                    <h4>{{content.title}}</h4>
                </div>
                <p class="contentFlash">
                    {{content.content | raw}}
                </p>
                <hr>
                <div class="card__lower">
                    <span>par</span>
                    <span class="h6">Franck Testaniere</span>
                </div>
            </div>
        </div>
    </a>
</div>
