<a href="{{ content.readMoreLink|default('#') }}">
    <div class="card card--horizontal card-6">
        <div class="card__image col-sm-7 col-md-8">
            {% if content.photo1file is defined and content.photo1file|length > 3 %}
                    <div class="background-image-holder">
                        <img alt="Pic" src="{{ content.photo1File }} " />
                    </div>
                {% else %}
                    <div class="background-image-holder">
                        <img alt="Pic" src="https://rootelo.elocms.com/documents/users/271/editor/pics/fp2i/fp2i-no-picture.png"  />
                    </div>
                {% endif %}
        </div>
        <div class="card__body col-sm-5 col-md-4 boxed boxed--lg bg--white">
            {% if content.date is not empty %}
                <span>
                    {{ content.date }}
                </span>
            {% endif %}
            {% if content.subtitle is not empty %}
                <span>
                    <h6>{{ content.subtitle }}</h6>
                </span>
            {% endif %}

            {% if content.title is not empty %}
                <div class="card__title">
                    <h4>{{ content.title }}</h4>
                </div>
            {% endif %}

            {% if content.introduction is not empty %}
                {{ content.introduction|raw }}
            {% endif %}
            <hr>
            <div class="card__lower">
                <span>Référence:</span>
                <span class="h6">*****</span>
            </div>
            {% if content.readMoreLink is not empty %}
                <div class="btn btn--sm btn--primary" href="{{ content.readMoreLink }}">
                    <span class="btn__text">
                        En savoir plus
                    </span>
                </div>
            {% endif %}
        </div>
    </div>
</a>
