<a href="{{ content.readMoreLink|default('#') }}">
<div class="card card--horizontal card-2">

    <div class="card__image col-sm-5">
        {% if content.highlightpic is not empty %}



            <div class="background-image-holder">
                <img alt="Pic" src="{{ content.highlightpic }}" />
            </div>



        {% endif %}
    </div>
    <div class="card__body col-sm-7 boxed bg--white">

        {% if content.title is not empty %}
            <div class="card__title">
                <h4>{{ content.title }}</h5>
            </div>
        {% endif %}

        {% if content.subtitle is not empty %}
            <span>
                <em>{{ content.subtitle }}</em>
            </span>
        {% endif %}

        {% if content.content is not empty %}
            {{ content.content|raw }}
        {% endif %}



    </div>


</div>
</a>
