


<div class="imageblock__content col-md-6 col-sm-4 pos-left">
    {% if content.highlightpic is not empty %}
        <div class="background-image-holder">
            <img alt="" src="{{ content.highlightpic }}" />
        </div>
    {% endif %}
</div>
<div class="container">
    <div class="row">
        <div class="col-md-5 col-md-push-7 col-sm-8 col-sm-push-4">
            {% if content.title is not empty %}
                <h3>{{ content.title }}</h3>
            {% endif %}

            {% if content.subtitle is not empty %}
                <h4>{{ content.subtitle }}</h4>
            {% endif %}
            {% if content.introduction is not empty %}
                <p class="lead">
                    {{ content.introduction }}
                </p>
            {% endif %}

            {% if content.content is not empty %}
                {{ content.content|raw }}
            {% endif %}
            {% if content.readMoreLink is not empty %}
                <a class="btn btn--sm" href="{{ content.readMoreLink }}">
                    <span class="btn__text">
                        En savoir plus
                    </span>
                </a>
            {% endif %}
        </div>
    </div>
    <!--end of row-->
</div>
<!--end of container-->
