
<div class="imageblock__content col-md-5 col-sm-4 pos-left">
    {% if content.highlightpic is not empty %}
        <div class="background-image-holder">
            <img alt="" src="{{ content.highlightpic }}" />
        </div>
    {% endif %}
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-push-6 col-sm-8 col-sm-push-4">
            {{ render(url('render-content',{'tplName':'block', 'contentCode': 'B7'})) }}
            <hr>
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    {{ render(url('render-content',{'tplName':'standard-grid-based-icons', 'contentCode': 'B3'})) }}
                </div>
                <div class="col-sm-6 col-xs-12">
                    {{ render(url('render-content',{'tplName':'standard-grid-based-icons', 'contentCode': 'B4'})) }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    {{ render(url('render-content',{'tplName':'standard-grid-based-icons', 'contentCode': 'B5'})) }}
                </div>
                <div class="col-sm-6 col-xs-12">
                    {{ render(url('render-content',{'tplName':'standard-grid-based-icons', 'contentCode': 'B6'})) }}
                </div>
            </div>
        </div>
    </div>
    <!--end of row-->
</div>
<!--end of container-->
