


<a href="{{ content.readMoreLink|default('#') }}">

    <div class="hover-element hover-element-1 hover--active" data-title-position="top,right" data-overlay="2">

        {% if content.highlightpic is not empty %}
            <div class="hover-element__initial">

                <img alt="Pic" src="{{ content.highlightpic }}" />

            </div>
        {% endif %}

        <div class="hover-element__reveal" data-scrim-top="6">
            <div class="boxed">
                <div class="pos-vertical-center">
                    {% if content.title is not empty %}

                        <h2 class="title">{{ content.title }}</h2>

                    {% endif %}

                    {% if content.subtitle is not empty %}
                        <span class="subtitle">
                            <em>{{ content.subtitle }}</em>
                        </span>
                    {% endif %}

                    {% if content.content is not empty %}
                        <div class="content">{{ content.content|raw }}</div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

</a>

