
<div class=" ">
    <div class="hover-element hover-element-1" data-title-position="center,center">

        {% if content.highlightpic is not empty %}
            <div class="hover-element__initial">

                <img alt="Pic" src="{{ content.highlightpic }}" />

            </div>
        {% endif %}

        <div class="hover-element__reveal" data-overlay="9">

            <div class="modal-instance">
                <!-- btn icone -->
                <div class="btn-round modal-trigger">
                    <i class="icon-File-HorizontalText icon color--primary"></i>
                </div>
                <!-- /btn icone -->

                <!-- modal-container -->
                <div class="modal-container">
                    <!-- modal-content -->
                    <div class="modal-content height--natural">
                        <div class="card card-1">
                            <div class="card__image">
                                {% if content.highlightpic is not empty %}
                                    <img alt="Pic" src="{{ content.highlightpic }}" />
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!-- /modal-content -->
                </div>
                <!-- /modal-container -->
            </div>

        </div>
       
    </div>
        
</div>

    
        
       
   
    




