
{% if content.highlightpic is not empty %}
    <div class="background-image-holder background--bottom">
        <img alt="image" src="{{ content.highlightpic }}">
    </div>
{% endif %}

<div class="container pos-vertical-center">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 text-center">

            {% if content.title is not empty %}
                <div class="title">
                    <h3>{{ content.title }}</h3>
                </div>
            {% endif %}

            {% if content.content is not empty %}
                <div class="content">
                    <div class="lead">{{ content.content|raw }}</div>
                </div>
            {% endif %}

            {% if content.readMoreLink is not empty %}
                <a class="btn btn--primary" href="{{ content.readMoreLink }}">
                    <span class="btn__text">
                        En savoir plus
                    </span>
                </a>
            {% endif %}

        </div>
    </div>
</div>