<a href="{{ content.readMoreLink|default('#') }}">

    <div class="card card-3 text-center" >

        {% if content.highlightpic is not empty %}
            <div class="card__image">
                
                    <img alt="Pic" src="{{ content.highlightpic }}" />
                
            </div>
        {% endif %}

        <div class="card__body boxed bg--white">

            {% if content.title is not empty %}
                <div class="card__title">
                    <h5>{{ content.title }}</h5>
                </div>
            {% endif %}

            {% if content.subtitle is not empty %}
                <span>
                    <em>{{ content.subtitle }}</em>
                </span>
            {% endif %}

            {% if content.content is not empty %}
                <div class="content">{{ content.content|raw }}</div>
            {% endif %}

            {% if content.readMoreLink is not empty %}
                <div class="btn btn--sm btn--primary" href="{{ content.readMoreLink }}">
                    <span class="btn__text">
                        En savoir plus
                    </span>
                </div>
            {% endif %}

        </div>

    </div>

</a>