<a href="{{ content.readMoreLink|default('#') }}">
    <div class="card card-7">


        {% if content.highlightpic is not empty %}
            <div class="card__image">
                <img alt="Pic" src="{{ content.highlightpic }}" />
            </div>
        {% endif %}

        <div class="card__body boxed bg--white">
            {% if content.subtitle is not empty %}
                <span>
                    <h6>{{ content.subtitle }}</h6>
                </span>
            {% endif %}
            {% if content.title is not empty %}
                <div class="card__title">
                    <h5>{{ content.title }}</h5>
                </div>
            {% endif %}
            {% if content.introduction is not empty %}
                <div class="card__price">
                {{ content.introduction|raw }}
                </div>
            {% endif %}
            {% if content.readMoreLink is not empty %}
                <div class="btn btn--sm btn--primary" href="{{ content.readMoreLink }}">
                    <span class="btn__text">
                        En savoir plus
                    </span>
                </div>
            {% endif %}

        </div>
    </div>

</a>

                                          
                                      
                              