<a href="{{ content.readMoreLink|default('#') }}">
    <div class="card card-8">


        {% if content.highlightpic is not empty %}
            <div class="card__image col-sm-7 col-md-6">
                <img alt="Pic" src="{{ content.highlightpic }}" />
            </div>
        {% endif %}

        <div class="card__body col-sm-5 col-md-6 boxed bg--dark">
            <div class="card__title">
                {% if content.title is not empty %}
                    <h3>{{ content.title }}</h3>
                {% endif %}
            </div>
            <div class="card__price">

                {% if content.subtitle is not empty %}
                    <span>{{ content.subtitle }} </span>
                {% endif %}
            </div>
            <hr>
            {% if content.introduction is not empty %}
                <p class="col-md-10">
                    {{ content.introduction|raw }}
                </p>
            {% endif %}
            {% if content.readMoreLink is not empty %}
                <div class="btn btn--sm btn--primary" href="{{ content.readMoreLink }}">
                    <span class="btn__text">
                        En savoir plus
                    </span>
                </div>
            {% endif %}

        </div>
    </div>

</a>



