<a href="{{ content.readMoreLink|default('#') }}">
    <div class="feature feature-3">
        <div class=" col-sm-3">
            {% if content.highlightpic is not empty %}


                <img alt="Pic" src="{{ content.highlightpic }}" />


            {% endif %}
        </div>
        <div class="col-sm-8">
            {% if content.title is not empty %}

                <h4 class="title">{{ content.title }}</h4>

            {% endif %}

            {% if content.subtitle is not empty %}
                <span class="subtitle">
                    <em>{{ content.subtitle }}</em>
                </span>
            {% endif %}

            {% if content.introduction is not empty %}
                <span class="introduction">
                    <em>{{ content.introduction }}</em>
                </span>
            {% endif %}

            {% if content.content is not empty %}
                <div class="content">{{ content.content|raw }}</div>
            {% endif %}

            {% if content.readMoreLink is not empty %}
                <div class="btn btn--sm btn--primary" href="{{ content.readMoreLink }}">
                    <span class="btn__text">
                        En savoir plus
                    </span>
                </div>
            {% endif %}
        </div>
    </div>
</a>