{#<a href="{{ content.readMoreLink|default(path('render-annonces', {'id': content.id,'collectionTpl':'fiche-produit-fp2i'})) }}">#}

<a id="hrefUrl{{content.id}}" class="hrefUrl hrefUrl{{content.id}}"  href="/{{language}}/annonce-{{content.url}}">

    <div class="card card-4 card-4_1 card-base card-base_1">
        {#% if content.photo1File is not empty %}
            <div id ="{{content.id}}" class="card__image2 card__image2_1"  style=" background-image: url({{ content.photo1File }})" data-content="{{content.fields[0][3].valeur }}">
                <img alt="" src="" />
            </div>
            
        {% endif %#}
        {% if content.photo1File is not empty %}
            {% if content.fields[0][3].valeur != '' and content.fields[0][3].valeur != 'En cours' and content.fields[0][3].valeur != 'In progress' %}
                 <div id ="{{content.id}}" class="card__image2 card__image2_1"  style=" background-image: url({{ content.photo1File }})" data-content="{{content.fields[0][3].valeur }}">
                <img alt="" src="" />
            </div>
            {% else %}
                 <div id ="{{content.id}}" class="card__image2 card__image2_1 cardSansBanniere"  style=" background-image: url({{ content.photo1File }})">
                <img alt="" src="" />
            </div>
            {% endif %}
        {% else %}
            <div id ="{{content.id}}" class="card__image2 card__image2_1"  style=" background-image: url('https://rootelo.elocms.com/documents/users/271/editor/pics/fp2i/fp2i-no-picture.png')" >
                <img alt="" src="" />
            </div>
        {% endif %}
        
        <div class="vente-contenu vente vente{{content.id}}">{{content.fields[0][3].valeur }}</div>

        <div class="card__body boxed boxed--sm bg--white">

            {% if content.fields[0][2].valeur is not empty %}
                <span>
                    <h6>{{ content.fields[0][2].valeur | striptags |slice(0, 17)| raw}}</h6>
                </span>
            {% endif %}
            {% if content.title is not empty %}
                <div class="card__title card__title_1">
                    {% if content.title|length > 45 %}
                        <p class='titreAnnoncePageContenu'>{{ content.title| striptags |slice(0, 42)| raw }}...</p>
                    {% else %}
                        <p class='titreAnnoncePageContenu'>{{ content.title}}...</p>
                    {% endif %}
                </div>
            {% endif %}


            <hr>
            <div class="card__lower">
                <span>Référence:</span>
                <span class="h6">{{ content.reference }}</span>
            </div>
        </div>
    </div>

</a>
