{#<a href="{{ content.readMoreLink|default(path('render-annonces', {'id': content.id,'collectionTpl':'fiche-produit-fp2i'})) }}">#}

<a id="hrefUrl{{content.id}}" class="hrefUrl hrefUrl{{content.id}}"  href="/{{language}}/annonce-{{content.url}}">

    <div class="card card-4 card-base">
    {#% if content.highlightpic is not empty %}
        <div class="block-content-image" style="background-image: url({{ content.highlightpic }});">
        </div>
    {% endif %#}

        {% if content.photo1File is not empty %}
            <div id ="{{content.id}}" class="card__image2"  style=" background-image: url({{ content.photo1File }})">
                <img alt="" src="" />
            </div>
        {% endif %}
        <div class="vente vente{{content.id}}">{{content.fields[0][3].valeur }}</div>

        <div class="card__body boxed boxed--sm bg--white">

            {% if content.fields[0][2].valeur is not empty %}
                <span>
                    <h6>{{ content.fields[0][2].valeur }}</h6>
                </span>
            {% endif %}
            {% if content.title is not empty %}
                <div class="card__title">
                    <h5>{{ content.title }}</h5>
                </div>
            {% endif %}
            {#% if content.introduction is not empty %}
                {{ content.introduction|raw }}
            {% endif %#}

           <hr>
            <div class="card__lower">
                <span>Référence:</span>
                <span class="h6">{{ content.reference }}</span>
            </div>
        </div>
    </div>

</a>
