
    <div class="container pos-vertical-center">
        {% if content.title is not empty %}
            <div class="title">{{ content.title }}</div>
        {% endif %}

        {% if content.subtitle is not empty %}
            <div class="subtitle">{{ content.subtitle }}</div>
        {% endif %}
    </div>
    <div class="content">
        {% if content.content is not empty %}
            <div class="content">{{ content.content|raw }}</div>
        {% endif %}
    </div>


   
                
           