{% extends "views/_layout.html.twig" %}

{% block bodyClass %}error{% endblock bodyClass %}

{% block content %}

    <div class="section full-height over-hide">
        <div class="hero-center-wrap z-bigger">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 error-page text-center parallax-fade-top">	
                        <h1>{{ code }}</h1>
                        <p class="lead mt-3 mb-5">{{ message }}</p>
                        <a href="{{ path('accueil') }}" class="btn-link btn-primary mt-5"><i class="fa fa-long-arrow-left mr-2"></i> Retour</a>
                    </div>
                </div>		
            </div>			
        </div>
    </div>

{% endblock %}
