{% if contents|length > 0 %}
    <div class="masonry masonry-blog">
        <div class="masonry__container masonry--animate">
        {% for content in contents %}
            <div class="col-sm-4 masonry__item" data-masonry-filter="{{ content.extrafields.language1[0].value }}">
                {{render(url('render-content-object',{'tplName':tplName,'viewType':viewType,'contentObject':content}))}}
            </div>
        {% endfor %}
        </div>
    </div>
{% endif %}
    