{% if events|length > 0 %}
    <ul class="slides">
        {% for event in events %}
            {% if date(event.date) >= date() %}
            <li>
                {{render(url('render-event-object',{'tplName':tplName,'eventObject':event}))}}
            </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}
          