{% if contents|length > 0 %}
    <ul class="slides">
        {% for content in contents %}
            <li>
                {{render(url('render-content-object',{'language':language,'tplName':tplName,'viewType':viewType,'contentObject':content}))}}
            </li>
        {% endfor %}
    </ul>
{% endif %}
          