
{% if contents|length > 0 %}

    {% for content in contents %}
<section class="flash">
    <div class="container">
        <div class="row">
            <div class="masonry masonry-blog">
                <div class="masonry__container masonry--animate">
                    {{render(url('render-content-object',{'language':language,'tplName':tplName,'viewType':viewType,'contentObject':content}))}} 
                </div>
            </div>
        </div>
    </div>
</section>
    {% endfor %}

{% endif %}



                    
               