{% if contents|length > 0 %}

    {% for content in contents %}
        <div class="col-md-6 col-sm-12">
            {{render(url('render-content-object',{'language':language,'tplName':tplName,'viewType':viewType,'contentObject':content}))}}  

        </div>
    {% endfor %}

{% endif %}
