
{% if contents|length > 0 %}

    {% for content in contents %}
<section class="annonce annonce-contenu">
        <div class="row">
            <div class=" offset-md-1 col-md-11 ">
                {{render(url('render-content-object',{'language':language,'tplName':tplName,'viewType':viewType,'contentObject':content}))}} 
            </div>
        </div>

</section>
    {% endfor %}

{% endif %}



                    
               