{% if contents|length > 0 %}

    {% for content in contents %}
        <div class="col-md-3 col-sm-6 col-xs-12 masonry__item">
            {{render(url('render-content-object',{'tplName':tplName,'viewType':viewType,'contentObject':content}))}}  
        </div>
    {% endfor %}

{% endif %}
