{% if contents|length > 0 %}
    {% for content in contents %}
        <div class="col-md-4 col-sm-6">
            {{render(url('render-content-object',{'language':language,'tplName':tplName,'viewType':viewType,'contentObject':content}))}}  
        </div>
    {% endfor %}
{% endif %}
