{% if flashContent|length > 0 %}
    {% for content in flashContent %}
        <a class="" href="/{{language}}/flashinfo#flash{{content.id}}">
            {#% if content.annonceId is defined %} 
                    <a id="hrefUrl{{content.id}}" class="hrefUrl hrefUrl{{content.id}}"  href="/{{language}}/annonce-{{content.annonceId}}"></a>
                {%else  %}
                    <a id="hrefUrl{{content.id}}" class="hrefUrl hrefUrl{{content.id}}"  href="#"></a>
                {%endif  %#}
            <div class="col-md-4 col-sm-6">

                <div class="card card-4 card-base">
                    {% if content.photo1file is defined and content.photo1file|length > 3%}
                        <div id ="{{content.id}}" class="card__image2_2"  style=" background-image: url({{ content.photo1file }})">
                            <img alt="" src="" />
                        </div>
                    {% elseif content.highlightpic is defined and content.highlightpic|length > 3%}
                        <div id ="{{content.id}}" class="card__image2_2"  style=" background-image: url({{ content.highlightpic }})">
                            <img alt="" src="" />
                        </div>
                    {% else %}
                        <div id ="{{content.id}}" class="card__image2_2"  style=" background-image: url('https://rootelo.elocms.com/documents/users/271/editor/pics/fp2i/fp2i-no-picture.png')">
                            <img alt="" src="" />
                        </div>
                    {% endif %}
                    <div class="card__body boxed boxed--sm bg--white">

                        {% if content.title is not empty %}
                            <span>
                                <h6>{{ content.date | date('d/m/y') }}</h6>                                
                            </span>
                        {% endif %}
                        {% if content.content is not empty %}
                            <div class="card__title">

                                {% if content.title|length > 32 %}
                                    <h5>{{ content.title | striptags |slice(0, 29) }}...</h5>
                                {% else %}
                                    <h5>{{ content.title }}</h5>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                </div>          
            </div>
        </a>
    {% endfor %}
{% endif %}
