{% set active_page = active_page|default('/') %}

<!--module menu left  -->
        <div class="nav-module menu-module left">

            <ul class="menu">
                {% for  item in organise.menus %}
                    {% if item.submenus is iterable and item.submenus is not empty %}
                        <li class="{% if item.alias == app.active_page %}active{% endif%}">
                            <a href="{{ item.alias|default('javascript:void(0)') }}">{{ item.name }}</a>
                            <ul>
                                {% for sub_item in item.submenus %}
                                    <li class="{% if sub_item.alias == app.active_page %}active{% endif%}"><a href="{{ sub_item.alias }}">{{ sub_item.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% else %}
                        <li{% if item.alias == app.active_page %} class="active"{% endif%}>
                            <a href="{{ item.alias|default('javascript:void(0)') }}">{{ item.name }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <!-- /module menu left -->