{% set active_page = active_page|default('/') %}

{% for item in organise.menus %}
    {% if item.submenus is iterable and item.submenus is not empty %}
        <li>
            <a href="{{ '/'~language~item.alias }}">{{ item.name }}</a>
            <ul>
                {% for sub_item in item.submenus %}
                    <li><a title="{{ sub_item.name }}" href="{{ '/'~language~sub_item.alias }}">{{ sub_item.name }}</a></li>
                    {% endfor %}
            </ul>
        </li>
    {% else %}
        <li><a title="{{ item.name }}" href="{{ '/'~language~item.alias }}">{{ item.name }}</a></li>
        {% endif %}
{% endfor %}
