{% set active_page = active_page|default('/') %}

<nav <nav class="navbar-custom">>
    
    <!-- Nav-Top-Utility -->
    <div class="utility-bar bg--secondary">
        <div class="nav-module left">
            <span class="type--fine-print">{{ render(url('render-content',{'tplName':'span', 'contentCode': 'D1'}))}}</span>
        </div>
        <div class="nav-module left">
            <span class="type--fine-print  ">{{ render(url('render-content',{'tplName':'span', 'contentCode': 'D2'}))}} </span>
        </div>
        <div class="nav-module right hidden-xs">
            <ul class="social-list">
                <li class="twitter">
                    <a href="#">
                        <i class="socicon-twitter"></i>
                    </a>
                </li>
                <li class="dribbble">
                    <a href="#">
                        <i class="socicon-dribbble"></i>
                    </a>
                </li>
                <li class="facebook">
                    <a href="#">
                        <i class="socicon-facebook"></i>
                    </a>
                </li>
                <li class="instagram">
                    <a href="#">
                        <i class="socicon-instagram"></i>
                    </a>
                </li>
                <li class="pinterest">
                    <a href="#">
                        <i class="socicon-pinterest"></i>
                    </a>
                </li>
                <li class="linkedin">
                    <a href="#">
                        <i class="socicon-linkedin"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /Nav-Top-Utility -->
    
    <!-- Nav-Bottom -->
    <div class="nav-bar" data-fixed-at="200">
        <div class="nav-module logo-module left">
            <!-- Logo -->
            <a href="index.html">
                {{render(url('render-content',{'tplName': 'logo', 'contentCode':'L1', 
                   'params': {
                       'class': 'logo logo-dark'
                   }
                }))}}
                {#{render(url('render-content',{'tplName': 'logo', 'contentCode':'L2', 
                   'params': {
                       'class': 'logo logo-light'
                   }
                }))}#}
                <!--
                <img class="logo logo-dark" alt="logo" src="img/logo-dark.png" />
                <img class="logo logo-light" alt="logo" src="img/logo-light.png" />
                `-->
            </a>
            <!-- /Logo -->
        </div>
        <div class="nav-module menu-module left">

             <ul class="menu">
                {% for  item in organise.menus %}
                    {% if item.submenus is iterable and item.submenus is not empty %}
                        <li class="{% if item.alias == app.active_page %}active{% endif%}">
                            <a href="{{ item.alias|default('javascript:void(0)') }}">{{ item.name }}</a>
                            <ul>
                                {% for sub_item in item.submenus %}
                                    <li class="{% if sub_item.alias == app.active_page %}active{% endif%}"><a href="{{ sub_item.alias }}">{{ sub_item.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% else %}
                        <li{% if item.alias == app.active_page %} class="active"{% endif%}>
                            <a href="{{ item.alias|default('javascript:void(0)') }}">{{ item.name }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <!--end nav module-->
    </div>
    <!-- /Nav-Bottom -->
    <!--end nav bar-->
    <div class="nav-mobile-toggle visible-sm visible-xs">
        <i class="icon-Align-Right icon icon--sm"></i>
    </div>
</nav>
            