{% set active_page = active_page|default('/') %}
<div id="logo-990" class="nav-module logo-module left">
        <!-- Logo -->
        <a href="{{'/'~language~'/'}}">
            {{render(url('render-content',{'language':language,'tplName': 'logo', 'contentCode':'L1', 
               'params': {
                   'class': 'logo logo-dark'
               }
            }))}}

        </a>
        <!-- /Logo -->
    </div>
<nav >
    <!-- Nav-Top-Utility -->
    <div class="utility-bar bg--secondary ">
        <div class="row"> 
            <div class="col-sm-3"><span class="type--fine-print contentD2">{{ render(url('render-content',{'language':language,'tplName':'span', 'contentCode': 'D1'}))}}</span>
</div>
            <div class="col-sm-6 text-center contentD2 hidden-xs">
                <span class="type--fine-print  ">{{ render(url('render-content',{'language':language,'tplName':'span', 'contentCode': 'D2'}))}}</span> 
            </div>
            <div class="col-sm-3 right">

                <div class="nav-module right hidden-xs">
                    <ul class="social-list">

                        <li class="facebook" style="margin-right:0em;">
                            <a href="https://www.facebook.com/pg/conseilenimmobilierdentreprises.fp2ientreprises/about/" target="_blank">
                                <img src="/pillar/images/logo-facebook.png" align="absmiddle" style="margin-top:0px;"/>
                            </a>
                        </li>
                        <li class="linkedin">
                            <a href="https://www.linkedin.com/company/fp-2i-entreprises/" target="_blank">
                                <img src="/pillar/images/logo-linkedin.png" align="absmiddle" style="margin-top:0px;"/>
                            </a>
                        </li>
                        <li>
                            {#% if language == "fr" %}
                                <span><a href="{{ path('language',{'language':'en'}) }}" style="font-weight:bold;text-decoration:none !important;">EN</a></span>
                            {% else %}
                                <span><a href="{{ path('language',{'language':'fr'}) }}" style="font-weight:bold;text-decoration:none !important;">FR</a></span>
                            {% endif %#}
                            {% if language == "fr" %}
                                <span><a href="{{ path('language',{'language':'en'}) }}" ><img src="https://rootelo.elocms.com/documents/users/271/editor/pics/fp2i/united-kingdom.png"></a></span>
                            {% else %}
                                <span><a href="{{ path('language',{'language':'fr'}) }}" ><img src="https://rootelo.elocms.com/documents/users/271/editor/pics/fp2i/france.png"></a></span>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <!-- /Nav-Top-Utility -->
    <div id="log"></div>
    <!-- Nav-Bottom -->
    <div class="nav-bar nav-bar2" data-fixed-at="50" >
        <div id="logo-990_plus" class="nav-module logo-module left">
            <!-- Logo -->
            <a href="{{'/'~language~'/'}}">
                {{render(url('render-content',{'language':language,'tplName': 'logo', 'contentCode':'L1', 
                   'params': {
                       'class': 'logo logo-dark'
                   }
                }))}}

            </a>
            <!-- /Logo -->
        </div>

        <div class="container containerMenu">
            <div class=" menu-module ">
                <ul class="menu">
                    {% for  item in organise.menus %}
                        {% if item.submenus is iterable and item.submenus is not empty %}
                            <li class="{% if item.alias == app.active_page %}active{% endif%}">
                                <a href="{{ '/'~language~item.alias|default('javascript:void(0)') }}">{{ item.name }}</a>
                                <ul>
                                    {% for sub_item in item.submenus %}
                                        <li class="{% if sub_item.alias == app.active_page %}active{% endif%}"><a href="{{'/'~language~sub_item.alias }}">{{ sub_item.name }}</a></li>
                                        {% endfor %}
                                </ul>
                            </li>
                        {% else %}
                            <li{% if item.alias == app.active_page %} class="active"{% endif%}>
                                <a href="{{ '/'~language~item.alias|default('javascript:void(0)') }}">{{ item.name }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
                
        </div>
        <!--end nav module-->
    </div>
    <!-- /Nav-Bottom -->
    <!--end nav bar-->
    <div class="nav-mobile-toggle visible-sm visible-xs">
       <i class="fa fa-bars fa-3x menuBars"></i>
    </div>
</nav>

