{% set active_page = active_page|default('/') %}

<nav>
    <div class="container nav-stack" data-fixed-at="70">

        <!-- Top -->
        <div class="row">

            <div class="col-sm-3">

                <!-- Logo -->
                <a href="{{ path('accueil') }}">
                    {{ render(url('render-content',{'tplName': 'logo', 'contentCode':'L1', 
                   'params': {
                       'class': 'logo logo-light'
                   }
                })) }}

                    <!--
                    <img class="logo logo-dark" alt="logo" src="img/logo-dark.png" />
                    <img class="logo logo-light" alt="logo" src="img/logo-light.png" />
                    `-->
                </a>
                <!-- /Logo -->
                <!--
                <div class="col-xs-6 text-right"> 
                    <a href="#" class="btn btn--sm btn--square">
                        <span class="btn__text">
                            Notre boutique
                        </span>
                    </a>
                </div>     
                -->

            </div>
            <!-- /top -->
            <!-- Bottom -->
            <!--<div class="row">-->
            <div class="col-sm-9">
                <div class="nav-bar" data-fixed-at="400">
                    <div class="nav-module logo-module left">

                        <a href="{{ path('accueil') }}">
                            {{ render(url('render-content',{'tplName': 'logo', 'contentCode':'L1', 
                   'params': {
                       'class': 'logo logo-light'
                   }
                })) }}
                            {{ render(url('render-content',{'tplName': 'logo', 'contentCode':'L2', 
                   'params': {
                       'class': 'logo logo-dark'
                   }
                })) }}
                            <!--
                            <img class="logo logo-dark" alt="logo" src="img/logo-dark.png" />
                            <img class="logo logo-light" alt="logo" src="img/logo-light.png" />
                            `-->
                        </a>

                    </div>
                    <div class="nav-module menu-module left">

                        <ul class="menu">
                            {% for  item in organise.menus %}
                                {% if item.submenus is iterable and item.submenus is not empty %}
                                    <li class="{% if item.alias == app.active_page %}active{% endif%}">
                                        <a href="{{ item.alias|default('javascript:void(0)') }}">{{ item.name }}</a>
                                        <ul>
                                            {% for sub_item in item.submenus %}
                                                <li class="{% if sub_item.alias == app.active_page %}active{% endif%}"><a href="{{ sub_item.alias }}">{{ sub_item.name }}</a></li>
                                                {% endfor %}
                                        </ul>
                                    </li>
                                {% else %}
                                    <li{% if item.alias == app.active_page %} class="active"{% endif%}>
                                        <a href="{{ item.alias|default('javascript:void(0)') }}">{{ item.name }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>


                    </div>
                    <div class="nav-module right">
                        <a href="#" class="nav-function" data-notification-link="cart-overview">
                            <i class="interface-bag icon icon--sm"></i>
                            <span>Cart</span>
                        </a>
                    </div>
                    <div class="nav-module right">
                        <a href="#" class="nav-function modal-trigger" data-modal-id="search-form">
                            <i class="interface-search icon icon--sm"></i>
                            <span>Search</span>
                        </a>
                    </div>
                </div>
            </div>
            <!--</div>-->
            <!-- /Bottom-->

        </div>
        <!-- Mobile-->
        <div class="nav-mobile-toggle visible-sm visible-xs">
            <i class="icon-Align-Right icon icon--sm"></i>
        </div>
        <!-- /Mobile-->
</nav>

