{% set active_page = active_page|default('/') %}

<nav >
    
    <!-- Nav-Top-Utility -->
    <div class="utility-bar bg--secondary">
        <div class="row"> 
        <div class="col-sm-3 ">
            <span class="type--fine-print">{{ render(url('render-content',{'language':language,'tplName':'span', 'contentCode': 'D1'}))}}</span>
        </div>
            <div class="col-sm-6 text-center ">
                <span class="type--fine-print  ">{{ render(url('render-content',{'language':language,'tplName':'span', 'contentCode': 'D2'}))}}</span> 
            </div>
            <div class="col-sm-1 right">
                {% if language == "fr" %}
                    <span><a href="{{ path('language',{'language':'en'}) }}" ><img src="https://rootelo.elocms.com/documents/users/271/editor/pics/fp2i/united-kingdom.png"></a></span>
                {% else %}
                    <span><a href="{{ path('language',{'language':'fr'}) }}" ><img src="https://rootelo.elocms.com/documents/users/271/editor/pics/fp2i/france.png"></a></span>
                {% endif %}
            </div>
            <div class="col-sm-2">
                <div class="nav-module right hidden-xs">
                    <ul class="social-list">
                        <li class="twitter">
                            <a href="#">
                                <i class="socicon-twitter"></i>
                            </a>
                        </li>
                        <li class="dribbble">
                            <a href="#">
                                <i class="socicon-dribbble"></i>
                            </a>
                        </li>
                        <li class="facebook">
                            <a href="#">
                                <i class="socicon-facebook"></i>
                            </a>
                        </li>
                        <li class="instagram">
                            <a href="#">
                                <i class="socicon-instagram"></i>
                            </a>
                        </li>
                        <li class="pinterest">
                            <a href="#">
                                <i class="socicon-pinterest"></i>
                            </a>
                        </li>
                        <li class="linkedin">
                            <a href="#">
                                <i class="socicon-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        </div>
    
    <!-- /Nav-Top-Utility -->
    <div id="log"></div>
    <!-- Nav-Bottom -->
    <div class="nav-bar" data-fixed-at="50" >
        <div class="nav-module logo-module left">
            <!-- Logo -->
            <a href="{{'/'~language~'/'}}">
                {{render(url('render-content',{'language':language,'tplName': 'logo', 'contentCode':'L1', 
                   'params': {
                       'class': 'logo logo-dark'
                   }
                }))}}
                {#{render(url('render-content',{'tplName': 'logo', 'contentCode':'L2', 
                   'params': {
                       'class': 'logo logo-light'
                   }
                }))}#}
                <!--
                <img class="logo logo-dark" alt="logo" src="img/logo-dark.png" />
                <img class="logo logo-light" alt="logo" src="img/logo-light.png" />
                `-->
            </a>
            <!-- /Logo -->
        </div>
        <div class="nav-module menu-module left">

             <ul class="menu">
                {% for  item in organise.menus %}
                    {% if item.submenus is iterable and item.submenus is not empty %}
                        <li class="{% if item.alias == app.active_page %}active{% endif%}">
                            <a href="{{ '/'~language~item.alias|default('javascript:void(0)') }}">{{ item.name }}</a>
                            <ul>
                                {% for sub_item in item.submenus %}
                                    <li class="{% if sub_item.alias == app.active_page %}active{% endif%}"><a href="{{'/'~language~sub_item.alias }}">{{ sub_item.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% else %}
                        <li{% if item.alias == app.active_page %} class="active"{% endif%}>
                            <a href="{{ '/'~language~item.alias|default('javascript:void(0)') }}">{{ item.name }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <!--end nav module-->
    </div>
    <!-- /Nav-Bottom -->
    <!--end nav bar-->
    <div class="nav-mobile-toggle visible-sm visible-xs">
        <i class="icon-Align-Right icon icon--sm"></i>
    </div>
</nav>

            
