{% set active_page = active_page|default('/') %}

<nav>
    <div class="nav-bar" data-fixed-at="70">
        <div class="nav-module logo-module left">
            <!-- Logo -->
            <a href="{{ path('accueil') }}">
                {{render(url('render-content',{'tplName': 'logo', 'contentCode':'L1', 
                   'params': {
                       'class': 'logo logo-dark'
                   }
                }))}}
                <!--
                <img class="logo logo-dark" alt="logo" src="img/logo-dark.png" />
                <img class="logo logo-light" alt="logo" src="img/logo-light.png" />
                `-->
            </a>
            <!-- /Logo -->
        </div>
        <div class="nav-module menu-module left">

            <ul class="menu">
                {% for  item in organise.menus %}
                    {% if item.submenus is iterable and item.submenus is not empty %}
                        <li class="{% if item.alias == app.active_page %}active{% endif%}">
                            <a href="{{ item.alias|default('javascript:void(0)') }}">{{ item.name }}</a>
                            <ul>
                                {% for sub_item in item.submenus %}
                                    <li class="{% if sub_item.alias == app.active_page %}active{% endif%}"><a href="{{ sub_item.alias }}">{{ sub_item.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% else %}
                        <li{% if item.alias == app.active_page %} class="active"{% endif%}>
                            <a href="{{ item.alias|default('javascript:void(0)') }}">{{ item.name }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <!--end nav module-->
    </div>
    <!--end nav bar-->
    <div class="nav-mobile-toggle visible-sm visible-xs">
        <i class="icon-Align-Right icon icon--sm"></i>
    </div>
</nav>