{% extends 'views/_layout.html.twig' %}

{% block title %}
    {{ content.title|escape }} - {{ parent() }}
{% endblock %}

{% block metadesc %}
    {{ content.introduction|escape }}
{% endblock %}

{#{% block bodyClass %}full{% endblock %}#}

{#{% block css %}
    <link href="{{ asset('css/' ~ app.theme ~ '/page.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}#}

{#{% block js %}
{% endblock %}#}



{% block breadcrumb %}
    <!-- Breadcrumb -->
    <div class="breadcrumb-wrapper">
        <div class="container">
            {{render(url('render-breadcrumb',{'viewType':'block', 'tplName': 'block', 'object': content}))}}
        </div>
    </div>
    <!-- /Breadcrumb -->
{% endblock breadcrumb %}


{% block content %}

    {% if content.highlightpic is not null %}
        <!-- Highlightpic -->
        <div class="block-image-wrapper" data-code="{{ content.code }}">
            <div class="image text-center">

                <img class="img-responsive" src="{{ content.highlightpic }}" />

            </div>
        </div>
        <!-- /Highlightpic -->
    {% endif %}

    <section class="block-content-wrapper" data-code="{{ content.code }}">
        <div class="container">
            <div class="full-content-wrapper" data-code="{{ content.code }}">
                <div class="full-content">

                    {% if content.date is not empty %}
                        <p class="date">{{ content.date }}</p>
                    {% endif %}

                    {% if content.title is not empty %}
                        <h1 class="title" data-content-id="{{ content.id }}" data-content-field="title">
                            {{ content.title }}
                        </h1>
                    {% endif %}

                    {% if content.subtitle is not empty %}
                        <div class="subtitle" data-content-id="{{ content.id }}" data-content-field="subtitle">
                            {{ content.subtitle }}
                        </div>
                    {% endif %}

                    {% if content.introduction is not empty %}
                        <div class="introduction" data-content-id="{{ content.id }}" data-content-field="introduction">
                            {{ content.introduction|raw }}
                        </div>
                    {% endif %}

                    {% if content.content is not empty %}
                        <div class="content" data-content-id="{{ content.id }}" data-content-field="content">
                            {{ content.content|raw }}
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </section>

{% endblock %}