{% extends 'views/_layout.html.twig' %}

{% block title %}
    {{content.title}} - {{ parent() }}
{% endblock %}

{% block metadesc %}
    {{ content.introduction|escape }}
{% endblock %}

{% block bodyClass %}fiche-produit{% endblock %}
{% block content %}

    <section class="block-content-wrapper" data-code="{{ content.code }}">
        <div class="container">
            <div class="full-content-wrapper" data-code="{{ content.code }}">
                <div class="full-content">


                    <!--shop-product-vanilla.html -->

                    <div class="row">
                        <div class="shop-item-detail shop-item-detail-1">
                            <div class="col-sm-6">
                                
                                {% if content.highlightpic is not empty %}
                                    <div class="card__image text-center">
                                        <img alt="Pic" src="{{ content.highlightpic }}" />
                                    </div>
                                {% else %}
                                    <div class="card__image text-center">
                                        <img alt="Pic" src="{{ content.photo1File }}" />
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-md-5 col-md-offset-1 col-sm-6">
                                <div class="item__title">
                                    {% if content.title is not empty %}
                                        <h1 class="title" data-content-id="{{ content.id }}" data-content-field="title">
                                            {{ content.title }}
                                        </h1>
                                    {% endif %}
                                </div>
                                <div class="item__subtitle">
                                    {% if content.subtitle is not empty %}
                                        <div class="subtitle" data-content-id="{{ content.id }}" data-content-field="subtitle">
                                            {{ content.subtitle }}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="item__price">
                                    {% if content.introduction is not empty %}
                                        <div class="introduction" data-content-id="{{ content.id }}" data-content-field="introduction">
                                            {{ content.introduction|raw }}
                                        </div>
                                    {% endif %}
                                </div>
                                {#<form class="item__addtocart">
                            <input type="text" value="1" name="quantity" />
                            <button type="submit" class="btn btn--primary">Add To Cart</button>
                        </form>#}
                                <div class="item__btn">
                                    <a class="btn btn--sm btn--square" href="/contact">
                                        <span class="btn__text">
                                            Nous Contacter
                                        </span>
                                    </a>
                                </div>
                     
                                <div class="tabs-container tabs-2">
                                    <ul class="tabs text-center">
                                        <li class="active">
                                            <div class="tab__title">
                                                {{ render(url('render-content',{'tplName':'block', 'contentCode': 'titre-tab-1'}))}}
                                            </div>
                                            
                                            <div class="tab__content">
                                                {{ content.extrafields.language1[5].value|raw }}                                         
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tab__title">
                                                {{ render(url('render-content',{'tplName':'block', 'contentCode': 'titre-tab-2'}))}}
                                            </div>
                                            <div class="tab__content"  >
                                                {{ content.extrafields.language1[6].value|raw }}
                                            </div>
                                        </li>
                                        <li>
                                            <div class="tab__title">
                                                {{ render(url('render-content',{'tplName':'block', 'contentCode': 'titre-tab-3'}))}}
                                            </div>
                                            <div class="tab__content" >
                                                {{ content.extrafields.language1[7].value|raw }}
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--/end  shop-product-vanilla.html -->
                </div>
            </div>  
        </div>
    </div>
</section>

{% endblock content %}