{% extends 'views/_layout.html.twig' %}

{% block title %}
    {% for content in contents %}
        {{ content.title }} - {{ parent() }}
    {% endfor%} 
{% endblock %}

{% block addMeta %}
    {% for content in contents %}
        <meta name="description" value="{{content.fields[0][0].valeur~"-"~content.fields[0][1].valeur~"-"~content.fields[0][2].valeur }}"/>
    {% endfor %}
{% endblock addMeta %}

{% block metadesc %}
    {% for content in contents %}
        {{ content.introduction|escape }}
    {% endfor%} 
{% endblock %}
{% block bodyClass %}fiche-produit{% endblock %}
{% block content %}
    <!-- Moteur de recherche -->
    {{ render(url('render-recherche',{'language': language,'target' : 'liste-annonces','buttonType':'submit'}))}}
    <!-- Moteur de recherche -->
    {% for content in contents %}
        {% if messageForm == 2 %}
            <p class='alert text-center'>
                Une erreur s'est produite durant l'envoi du formulaire, merci de vérifier vos informations.
            </p>
        {% endif %}
        {% if messageForm == 1 %}
            <p class='contact-success text-center'>Nous vous remercions pour l'attention que vous nous portez. Nous traiterons votre demande dans les plus brefs délais.</p>
        {% endif %}
        {#<div class="container">
            <div class="row">
                <div class="col-md-10">
                        {% if content.title is not empty %}
                           <h4 class="title titleAnnonce bordeau" data-content-id="{{ content.id }}" data-content-field="title">{{ content.title }}</h4> 
                        {% endif %}
                </div>
                <div class="col-md-2 ">
                    {% if content.isPromoted == 1 %}
                        <h4 class="title titleAnnonce new bordeau text-center">Nouveau !</h4>
                    {% endif %}   
                </div>
             </div>
         </div>#}
        <div class="row rowSlider">
            <div class="col-md-6" id="printPhoto">
                <img src="{{content.filePhoto[0].photo}}" alt="image">
            </div>
            <div class="col-md-6 slider slider--animate cover cover-5 parallax" data-arrows="true" data-paging="true" data-timing="7000" id="carrousel">
                <ul class="slides owl-carousel owl-theme owl-loaded owl-text-select-on">
                    {% for photo in content.filePhoto %}
                        <li class="imagebg coverCarousel" style="background-image: url('{{photo.photo}}');background-size:cover;background-position: center center;width:100%;">{#<img id="{{photo.id}}" class="" src="{{photo.photo}}" alt="image" >#}</li>
                        {% endfor %}
                </ul>
            </div>
            <div class="col-md-6 hidden-xs">
                {% if content.fields[0][4].valeur  is not empty and content.fields[0][5].valeur  is not empty  %}
                    {{ render(url('render-map',{'lat': content.fields[0][4].valeur, 'lng': content.fields[0][5].valeur, 'title':content.title}))}} 
                {% else %}
                    {{ render(url('render-map',{'lat': 43.91657499999999, 'lng': 4.892039999999952, 'title':content.title}))}} 
                {% endif %}

            </div>
            {#<div class="col-md-6" id="mignature">
                {% for photo in content.filePhoto %}
                    <div class="containerImageMin col-md-4 col-xs-1 "><div class="buttonImage" type="button" onclick="btnJump({{photo.id}});"><img id="btnJump"class="imageMin {{photo.id}}" src="{{photo.photo}}" alt="image"></div></div>
                {% endfor %}
            </div>#}
        </div>
        <div class="bandeauAnnonce gras">

            <div class="container">
                <div class="row ">
                    <div class="col-md-8">
                        {% if content.fields[0][1].valeur  is not empty %}
                            <H1 class=" bottomH4">{{content.fields[0][1].valeur}}</H1>
                            {% endif %}
                    </div>
                    <div class="col-md-4 ">
                        <div class="row">
                            {% if content.fields[0][0].valeur is not empty %}
                                {% if content.fields[0][0].valeur == "Location" %} 
                                    {% if content.fields[0][3].valeur == "Loué" %} 
                                        <div class="col-md-5 AVendre AVendreRouge">{{language == 'fr' ? 'LOUÉ' : 'RENTED'}}</div>
                                    {% else %}
                                        <div class=" col-md-5 AVendre">{{language == 'fr' ? 'A LOUER' : 'TO RENT'}}</div>
                                    {% endif %}

                                {% else %}
                                    {% if content.fields[0][3].valeur == "Vendu" %} 
                                        <div class="col-md-5 AVendre AVendreRouge">{{language == 'fr' ? 'VENDU' : 'SOLD'}}</div>
                                    {% else %}
                                        <div class="col-md-5 AVendre">{{language == 'fr' ? 'A VENDRE' : 'FOR SALE'}}</div>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                            <div class=" col-md-6 AVendre text-right">
                                {#<a href="javascript:void(0)" onclick="window.print()"><i class="fa fa-print"></i></a>#}
                                <a href="javascript:void(0)" onclick="window.open('/render-pdf/{{content.id}}', '_blank');"><i class="fa fa-print"></i></a>&nbsp;
                                <a href="mailto:?subject={{content.title}}&body={{ lienMailUrl }}"><i class="fa fa-envelope"></i></a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row rowBandeau">
                    <div class="col-md-4">
                        {% if content.fields[0][2].valeur  is not empty %}
                            <div class="row">
                                <div class="col-md-3 defLigneBandeau">{{ content.fields[0][2].label }}:</div><H2 class="col-md-9 ligneBandeau ">{{content.fields[0][2].valeur}}</H2>
                            </div>
                        {% endif %} 
                    </div>
                    <div class="col-md-4 ">
                        {% if content.fields[4][11].valeur  is not empty %}
                            <div class="row">
                                <div class="col-md-5 defLigneBandeau">{{content.fields[4][11].label}}:</div><div class="col-md-7 ligneBandeau">{{content.fields[4][11].valeur}} m²</div>
                            </div>
                        {% endif %}
                        {% if content.fields[4][14].valeur  is not empty %}
                            <div class="row">
                                <div class="col-md-5 defLigneBandeau">{{content.fields[4][14].label}}:</div><div class="col-md-7 ligneBandeau">{{content.fields[4][14].valeur}} m²</div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-md-4 ">
                        {% if content.fields[6][0].valeur  is not empty %}
                            <div class="row ">
                                {% if content.fields[0][0].valeur == "Location" %} 
                                    {% if content.fields[6][0].valeur matches '/^\\d+$/' %}
                                        <div class="col-md-5 defLigneBandeau">{{language == 'fr' ? 'Loyer Mensuel Global' : 'Global Monthly Rent'}} HT/HD : </div><div class="col-md-7 ligneBandeau">{{content.fields[6][0].valeur | number_format(2, '.', ' ') }} €</div>
                                    {% else %}
                                        <div class="col-md-5 defLigneBandeau">{{language == 'fr' ? 'Loyer Mensuel Global' : 'Global Monthly Rent'}} HT/HD : </div><div class="col-md-7 ligneBandeau">{{content.fields[6][0].valeur }}</div>
                                    {% endif %}
                                {% else %}
                                    {% if content.fields[6][0].valeur matches '/^\\d+$/' %}
                                        <div class="col-md-5 defLigneBandeau">{{language == 'fr' ? 'Prix de Vente' : 'Selling price'}}:</div><div class="col-md-7 ligneBandeau">{{content.fields[6][0].valeur |number_format(2, '.', ' ')}} € HT </div>
                                    {% else %}
                                        <div class="col-md-5 defLigneBandeau">{{language == 'fr' ? 'Prix de Vente' : 'Selling price'}}:</div><div class="col-md-7 ligneBandeau">{{content.fields[6][0].valeur }}</div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        {% endif %}

                        {% if content.fields[6][4].valeur  is not empty %}
                            {% if content.fields[0][0].valeur == "Location" %} 
                                <div class="col-md-5 defLigneBandeau">{{language == 'fr' ? 'Loyer Annuel Global' : 'Annual rent Global'}}&nbsp;:</div>
                                {% if content.fields[6][4].valeur matches '/^\\d+$/' %}
                                    <div class="col-md-7 ligneBandeau">{{content.fields[6][4].valeur |number_format(2, '.', ' ')}} € {{language == 'fr' ? 'le' : 'per'}} M² HT</div>
                                {% else %}
                                    <div class="col-md-7 ligneBandeau">{{content.fields[6][4].valeur}}</div>
                                {% endif %}
                            {% else %}   
                                <div class="col-md-5 defLigneBandeau">{{language == 'fr' ? 'Prix de Vente' : 'Sale price'}}&nbsp;:</div>
                                {% if content.fields[6][4].valeur matches '/^\\d+$/' %}
                                    <div class="col-md-7 ligneBandeau">{{content.fields[6][4].valeur |number_format(2, '.', ' ')}} € {{language == 'fr' ? 'le' : 'per'}} M² HT</div>
                                {% else %}
                                    <div class="col-md-7 ligneBandeau">{{content.fields[6][4].valeur}}</div>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                                                                
                    </div>
                </div>
                <div class="row rowBandeau">
                    <div class="col-md-4 ">
                        {% if content.reference is not empty %}
                            <div class="row">
                                <div class="col-md-3 defLigneBandeau">{{language == 'fr' ? 'Référence' : 'reference'}}:</div><div id="reference" class="col-md-9 ligneBandeau"> {{content.reference}}</div>
                            </div>
                        {% endif %}          
                    </div>
                    <div class="col-md-4">
                        {% if content.fields[0][7].valeur == "Oui" %}
                            <div class="row">
                                <div class="title titleAnnonce new bordeau text-center">{{language == 'fr' ? 'Nouveau' : 'New'}} !</div>
                            </div>
                        {% endif %}  
                    </div>
                    <div class="col-md-4 " style="display:none !important;">
                        {% if content.fields[0][8].valeur is not empty %}
                            <div class="row">
                                <div class="col-md-3 defLigneBandeau">{{language == 'fr' ? 'Superficie' : 'surface'}}:</div><div id="superficie" class="col-md-9 ligneBandeau"> {{content.fields[0][8].valeur }}</div>
                            </div>
                        {% endif %}          
                    </div>
                </div>
            </div>
        </div>
        <section class="annonce sectionFicheAnnonce">
            <div class="container ">
                <div class="row cont-annonce">
                    {#<div class="col-md-12 ">
                        <div class="row row-annonce ">
                                % if content.fields[1].valeur is not empty %}
                                    <div class="col-md-3">
                                        <h2>{{ content.fields[1].valeur }}</h2>
                                    </div>
                                {% endif %}
                                {% if content.fields[3].valeur is not empty %}
                                    <div class="col-md-3">
                                        <h2>{{ content.fields[3].valeur }}</h2>
                                    </div>
                                {% endif %}
                                {% if content.fields[2].valeur is not empty %}
                                    <div class="col-md-3">
                                        <h2>{{ content.fields[2].valeur }} m2</h2>
                                    </div>
                                {% endif %}
                                {% if content.reference is not empty %}
                                    <div class="col-md-3">
                                        <h2>Réf: {{ content.reference }}</h2>
                                    </div>
                                {% endif %
    
                        </div>
                    </div>#}
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-6 col-xs-12 nopadding float-left">
                                {% set displayDescription = false %}
                                {% for field in content.fields[1] %}
                                    {% if field.valeur|trim != '' %}
                                        {% set displayDescription = true %}
                                    {% endif %}    
                                {% endfor %}
                                
                                {% if displayDescription == true %}
                                    <div class="col-md-12 nopadding-right cont-annonce">
                                        <div class="card box-shadow content-annonce">
                                            <div class="">
                                                <table class="table table-sm table-striped">
                                                    <th class="ficheProdTh text-center" colspan="2" scope="col"><h3 class="h3ficheProduit ">{{language == 'fr' ? 'Description' : 'Description'}}</h3></th>
                                                        {% for field in content.fields[1] %}
                                                            {% if field.valeur is not empty %}
                                                            <tr>
                                                                <td class="text-left labelAnnonce">{{ field.label}}&nbsp;:</td>
                                                                <td class="tdContent">{{ field.valeur}}</td>
                                                            </tr>
                                                        {% endif %}
                                                    {% endfor %}
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                
                                {% set displayCaracte = false %}
                                {% for field in content.fields[2] %}
                                    {% if field.valeur|trim != '' %}
                                        {% set displayCaracte = true %}
                                    {% endif %}    
                                {% endfor %}
                                
                                {% if displayCaracte == true %}
                                    <div class="col-md-12 nopadding-left cont-annonce">
                                        <div class="card box-shadow content-annonce">
                                            <div class="">
                                                <table class="table table-sm table-striped">
                                                    <th class="ficheProdTh text-center" colspan="2" scope="col"><h3 class="h3ficheProduit">{{language == 'fr' ? 'Caractéristiques' : 'Characteristics'}}</h3></th>
                                                        {% for field in content.fields[2] %}
                                                            {% if field.valeur is not empty %}
                                                                {% if field.id <= 13 %}
                                                                <tr>
                                                                    <td class="text-left labelAnnonce">{{ field.label}}&nbsp;:</td>
                                                                    <td class="tdContent">{{ field.valeur}}</td>
                                                                </tr>
                                                                {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                    {% for field in content.fields[2] %}
                                                            {% if field.valeur is not empty %}
                                                                {% if field.id == 69 %}
                                                                <tr>
                                                                    <td class="text-left labelAnnonce">{{ field.label}}&nbsp;:</td>
                                                                    <td class="tdContent">{{ field.valeur}}</td>
                                                                </tr>
                                                                {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                    {% for field in content.fields[2] %}
                                                            {% if field.valeur is not empty %}
                                                                {% if field.id > 13 and field.id != 69 %}
                                                                <tr>
                                                                    <td class="text-left labelAnnonce">{{ field.label}}&nbsp;:</td>
                                                                    <td class="tdContent">{{ field.valeur}}</td>
                                                                </tr>
                                                                {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-md-6 col-xs-12 nopadding float-right">
                                
                                {% set displaySurfaces = false %}
                                {% for field in content.fields[4] %}
                                    {% if field.valeur|trim != '' %}
                                        {% set displaySurfaces = true %}
                                    {% endif %}    
                                {% endfor %}
                                
                                {% if displaySurfaces == true %}
                                    <div class="col-md-12 nopadding-right cont-annonce">
                                        <div class="card box-shadow content-annonce">
                                            <div class="">
                                                <table class="table table-sm table-striped">
                                                    <th class="ficheProdTh text-center" colspan="2" scope="col"><h3 class="h3ficheProduit">Surfaces</h3></th>
                                                        {% for field in content.fields[4] %}
                                                            {% if field.valeur is not empty %}
                                                                {% if field.id >=18 and field.id <=31 %}
                                                                <tr>
                                                                    <td class="text-left labelAnnonce">{{ field.label}}&nbsp;:&nbsp;{{ field.valeurLabel}}</td>
                                                                    <td class="tdContent">{{ field.valeur}} m² </td> 
                                                                </tr>
                                                            {% elseif field.id == 35 or field.id == 68 %}
                                                                {# le champ surface totale est affiché a la fin #}
                                                            {% elseif field.id > 30 and field.id <= 35 %}
                                                                <tr>
                                                                    <td class="text-left labelAnnonce">{{ field.label}}&nbsp;:</td>
                                                                    <td class="tdContent">{{ field.valeur}} m²</td>
                                                                </tr>
                                                            {% else %}
                                                                <tr>
                                                                    <td class="text-left labelAnnonce">{{ field.label}}&nbsp;:</td>
                                                                    <td class="tdContent">{{ field.valeur}} </td>
                                                                </tr>
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                    {% for field in content.fields[4] %}
                                                        {% if field.id == 68 and field.valeur is not empty%}
                                                            <tr>
                                                                <td class="text-left labelAnnonce">{{ field.label}}&nbsp;:</td>
                                                                <td class="tdContent">{{ field.valeur}} m²</td>
                                                            </tr>
                                                        {% endif %}
                                                    {% endfor %}
                                                    {% for field in content.fields[4] %}
                                                        {% if field.id == 35 and field.valeur is not empty %}
                                                            <tr>
                                                                <td class="text-left labelAnnonce">{{ field.label}}&nbsp;:</td>
                                                                <td class="tdContent">{{ field.valeur}} m²</td>
                                                            </tr>
                                                        {% endif %}
                                                    {% endfor %}
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %} 
                            </div>
                            <div class="col-md-6 col-xs-12 nopadding float-right">

                                {% set displayICPE = false %}
                                {% for field in content.fields[5] %}
                                    {% if field.id == 55  and field.valeur != '' %}
                                        {% set displayICPE = true %}
                                    {% endif %}    
                                {% endfor %}

                                {% if displayICPE == true %}
                                    <div class="col-md-12 nopadding-right cont-annonce">
                                        <div class="card box-shadow content-annonce">
                                            <div class="">
                                                <table class="table table-sm table-striped">
                                                    <th class="ficheProdTh text-center" colspan="2" scope="col"><h3 class="h3ficheProduit">ICPE</h3></th>
                                                        {% for field in content.fields[5] %}
                                                            {% if field.valeur is not empty %}
                                                                {% if field.id == 56 %}
                                                                    {% for icpe in field.valeur %}
                                                                    <tr>
                                                                        <td class="text-left labelAnnonce">{{icpe.numero}}</td>
                                                                        <td class="tdContent">{{icpe.content}}</td>
                                                                    </tr> 
                                                                {% endfor %}
                                                            {% else %}  
                                                                <tr>
                                                                    <td class="text-left labelAnnonce">{{ field.label}}&nbsp;:</td>
                                                                    <td class="tdContent">{{ field.valeur}}</td>
                                                                </tr>
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                {#{ dump(content.fields[6]) }#}
                                
                                 {% set displayCondiFinan = false %}
                                {% for field in content.fields[6] %}
                                    {% if field.valeur|trim != '' %}
                                        {% set displayCondiFinan = true %}
                                    {% endif %}    
                                {% endfor %}
                                
                                {% if (displayCondiFinan == true)%}

                                    <div class="col-md-12 nopadding-left cont-annonce">
                                        <div class="card box-shadow content-annonce">
                                            <div class="">
                                                <table class="table table-sm table-striped">
                                                    <th class="ficheProdTh text-center" colspan="2" scope="col"><h3 class="h3ficheProduit">{{language == 'fr' ? 'Conditions financières' : 'Financial conditions'}}</h3></th>
                                                        {% for field in content.fields[6] %}
                                                            {% if field.valeur is not empty %}
                                                                {% if field.id == 4  %}
                                                                {% if content.fields[0][0].valeur == "Location" %} 
                                                                    <tr>
                                                                        {#% if content.fields[6][0].valeur matches '/^\\d+$/' %#}
                                                                        <td class="text-left labelAnnonce">{{language == 'fr' ? 'Loyer Mensuel Global' : 'Global Monthly Rent'}} HT/HD&nbsp;:</td>
                                                                        <td class="tdContent">{{ field.valeur matches '/^\\d+$/' ? field.valeur | number_format(2, '.', ' ') ~ '€' : field.valeur }}</td>
                                                                    </tr>  
                                                                {% else %}   
                                                                    <tr>
                                                                        <td class="text-left labelAnnonce">{{language == 'fr' ? 'Prix de Vente' : 'Selling price'}} HT/HD&nbsp;:</td>
                                                                        <td class="tdContent">{{ field.valeur matches '/^\\d+$/' ? field.valeur | number_format(2, '.', ' ') ~ '€' : field.valeur }}</td>
                                                                    </tr>
                                                                {% endif %}
                                                           
                                                            {% elseif field.id == 71  %}
                                                                {% if content.fields[0][0].valeur == "Location" %} 
                                                                    <tr>
                                                                        <td class="text-left labelAnnonce">{{language == 'fr' ? 'Loyer Annuel Global HT/HD le m²' : 'Annual rent Global HT/HD per m²'}}&nbsp;:</td>
                                                                        <td class="tdContent">{{ field.valeur matches '/^\\d+$/' ? field.valeur | number_format(2, '.', ' ') ~ '€' : field.valeur }}</td>
                                                                    </tr>  
                                                                {% else %}   
                                                                    <tr>
                                                                        <td class="text-left labelAnnonce">{{language == 'fr' ? 'Prix de Vente HT/HD le m²' : 'Sale price HT/HD per m²'}}&nbsp;:</td>
                                                                        <td class="tdContent">{{ field.valeur matches '/^\\d+$/' ? field.valeur | number_format(2, '.', ' ') ~ '€' : field.valeur }}</td>
                                                                    </tr>
                                                                {% endif %}
                                                            {% endif %}
                                                             {% endif %}
                                                    {% endfor %}
                                                    
                                                        {% for field in content.fields[6] %}
                                                            {% if field.valeur is not empty %}
                                                                {% if field.id == 37 %}
                                                                <tr>
                                                                    <td class="text-left labelAnnonce">{{language == 'fr' ? 'Taxe Foncier' : 'Property Tax'}} {{ field.valeurLabel}}&nbsp;:</td>
                                                                    <td class="tdContent">{{ field.valeur | number_format(2, '.', ' ') }} €</td> 
                                                                </tr>
                                                            {% elseif field.id == 39 %}
                                                                <tr>
                                                                    <td class="text-left labelAnnonce">{{ field.label}} {{ field.valeurLabel}}&nbsp;:</td>
                                                                    {% if field.valeur == 'Nous consulter' %}
                                                                        <td class="tdContent">{{ field.valeur}}</td> 
                                                                    {% else %}  
                                                                        <td class="tdContent">{{ field.valeurPourcent}}% {{language == 'fr' ? 'du' : 'of'}} {{ field.valeur}}</td> 
                                                                    {% endif %}    
                                                                </tr>
                                                            {% elseif field.id == 62 %}
                                                                <tr>
                                                                    <td class="text-left labelAnnonce">{{ field.label|replace({'2': ''}) }} {{ field.valeurLabel}}&nbsp;:</td>
                                                                    {% if field.valeur == 'Nous consulter' %}
                                                                        <td class="tdContent">{{ field.valeur}}</td> 
                                                                    {% else %}  
                                                                        <td class="tdContent">{{ field.valeurPourcent}}% {{language == 'fr' ? 'du' : 'of'}} {{ field.valeur}}</td> 
                                                                    {% endif %}    
                                                                </tr>
                                                            
                                                            {% endif %}
                                                             {% endif %}
                                                    {% endfor %}
                                                    <tr class="hidden-print">
                                                        <td class="text-left labelAnnonce" colspan="2"><a class="" href="/{{language}}/nos-honoraires" style="color:#6b101a;font-weight:bold;">{{language == 'fr' ? 'Voir nos honoraires' : 'See our fees'}}</a></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %} 
                            </div>


                            <div class="col-md-6 col-xs-12 nopadding float-left">
                                {% set displayPresta = false %}
                                {% for field in content.fields[3] %}
                                    {% if field.valeur|trim != '' and field.valeur != 'Non' %}
                                        {% set displayPresta = true %}
                                    {% endif %}    
                                {% endfor %}
                                {% if displayPresta == true %}
                                    <div class="col-md-12 nopadding-right cont-annonce">
                                        <div class="card box-shadow content-annonce">
                                            <div class="">
                                                <table class="table table-sm table-striped">
                                                    <th class="ficheProdTh text-center" colspan="2" scope="col"><h3 class="h3ficheProduit">{{language == 'fr' ? 'Prestations' : 'Benefit'}}</h3></th>
                                                        {% for field in content.fields[3] %}
                                                            {% if field.valeur is not empty and field.valeur != 'Non' %}
                                                                {% if field.id == 53 or field.id == 54  %}
                                                                <tr>
                                                                    <td class="text-left labelAnnonce">{{ field.label}}&nbsp;:</td>
                                                                    <td class="tdContent">{{ field.valeur}} Places</td>
                                                                </tr>
                                                            {% else %}
                                                                <tr>
                                                                    <td class="text-left labelAnnonce">{{ field.label}}&nbsp;:</td>
                                                                    <td class="tdContent">{{ field.valeur}}</td>
                                                                </tr>
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endfor %}
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}   
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 dpeContact">


                        {#<div class="row ">
                            <div class="col-md-12">
                                <div class="card box-shadow cont-annonce">
                                    <div class="card-body">
                                        {{ render(url('render-map',{'lat': 43.91657499999999, 'lng': 4.892039999999952, 'title':content.title}))}} 
                                    </div>
                                </div>
                           </div>
                       </div>#}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card box-shadow cont-annonce">
                                    <div class="card-header contactTh"><h3 class="h3ficheProduit">CONTACT</h3></div>
                                    <div class="card-body">
                                        <div class="contact-annonce type--fine-print col-md-12 col-sm-12">{{ render(url('render-content',{'language': language,'tplName':'span', 'contentCode': 'C10'}))}}</div>
                                        <div class="contactBody">
                                            {{content.url is defined ? content.url : ''}}
                                            {{render(url('contactFiche',{'language': language,'id':content.id,'collectionTpl':'contactAnnonce','urlLink': content.url is defined ? content.url : '','criteria0' : content.fields[0][0].valeur,'criteria1' : content.fields[0][1].valeur,'criteria3' : content.fields[0][61].valeur is defined ? content.fields[0][61].valeur : ""})) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <div class="row">
                            <div class="col-md-8 col-xs-8 ">
                                <span id="dpeEnCours" class=""></span>
                                <img class="dpeImg" src="https://rootelo.elocms.com/assets/images/www.fp2i-entreprises.com/DPE2.png" />
                            </div>
                            <div class="col-md-4 col-xs-2">
                                {% if content.fields[7][0].valeur is not empty %}
                                    <div id="pointerDpe" class="pointerDpe "><div class="valeurDpe"><i class="fa fa-arrow-left"></i> {{ content.fields[7][1].valeur}}</div>kWh/m2.an</div>
                                {% endif %}
                                <span id="dpeEnCoursTitre" class="dpeEnCoursTitre">{{language == 'fr' ? 'Dpe en cours' : 'Dpe in progress'}}</span>
                                <div id="classDpe">{{ content.fields[7][0].valeur|upper}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row annonceSimilaires">
                        <div class="col-sm-12">
                            <div class="elements--title">
                                <h4 class="text-center">{{language == 'fr' ? 'Annonces similaires à proximité' : 'Similar ads nearby'}}</h4>
                            </div>
                        </div> 
                        {{ render(url('render-annonces',{'language': language,'criteria0' : content.fields[0][0].valeur,'criteria1' : content.fields[0][1].valeur,'criteria3' : content.fields[0][61].valeur is defined ? content.fields[0][61].valeur : "",'collectionTpl':'vertical-blog-cards','tplName': 'vertical-blog-cards-item', 'areaName' : 'page-personnalisee', 'order': 'id', 'limit': '3','direction': 'asc' })) }}
                    </div> 
                </div>
            </div>

        </section>      
    {% endfor%} 
{% endblock content %}
