{% extends 'views/_layout.html.twig' %}

{% block title %}
    {{ content.title|escape }} - {{ parent() }}
{% endblock %}

{% block metadesc %}
    {{ content.introduction|escape }}
{% endblock %}

{% block bodyClass %}galerie-modal{% endblock %}
{% block content %}

    <section class="block-content-wrapper" data-code="{{ content.code }}">

        <div class="full-content-wrapper" data-code="{{ content.code }}">
            <div class="full-content">
                <div class="container">
                    {#{% if content.date is not empty %}
                        <p class="date">{{ content.date }}</p>
                    {% endif %}#}

                    {% if content.title is not empty %}
                        <h1 class="title" data-content-id="{{ content.id }}" data-content-field="title">
                            {{ content.title }}
                        </h1>
                    {% endif %}

                    {% if content.subtitle is not empty %}
                        <div class="subtitle" data-content-id="{{ content.id }}" data-content-field="subtitle">
                            {{ content.subtitle }}
                        </div>
                    {% endif %}

                    {% if content.introduction is not empty %}
                        <div class="introduction" data-content-id="{{ content.id }}" data-content-field="introduction">
                            {{ content.introduction|raw }}
                        </div>
                    {% endif %}

                    {% if content.content is not empty %}
                        <div class="content" data-content-id="{{ content.id }}" data-content-field="content">
                            {{ content.content|raw }}
                        </div>
                    {% endif %}
                </div>
                <div class="wide-grid masonry ">
                    <div class="masonry__container masonry--animate">
                        {{ render(url('render-content-collection', {'collectionTpl':'masonry-modal', 'tplName': 'masonry-modal', 'code':content.id ~ '-photos-galerie', 'order': 'position', 'limit': '100','direction': 'asc', 'noElementText':'' })) }}
                    </div>
                </div>           
            </div>  
        </div>

    </section>

{% endblock content %}