{% extends 'views/_layout.html.twig' %}

{% block title %}
    {{ content.title|escape }} - {{ parent() }}
{% endblock %}

{% block metadesc %}
    {{ content.introduction|escape }}
{% endblock %}

{% block bodyClass %}galerie{% endblock %}

{% block content %}
    
    <div class="main-container transition--fade">
        
        <section class="imagebg parallax height-40" data-overlay="2">
            {% if content.highlightpic is not empty %}
                <div class="background-image-holder background--bottom">
                    <img alt="image" src="{{ content.highlightpic }}" />
                </div>
            {% endif %}
            <div class="container pos-vertical-center">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        {% if content.title is not empty %}
                            <h1>{{ content.title }}</h1>
                        {% endif %}
                        {% if content.subtitle is not empty %}
                            <p class="lead">{{ content.subtitle }}</p>
                        {% endif %}
                    </div>
                </div>
                <!--end row-->
            </div>
            <!--end container-->
        </section>
                    
        <div class="container">
            {{ content.content|raw }}
        </div>

        <section class="masonry-contained">
            <div class="container">
                <div class="row">
                            
                            {{ render(url('render-content-collection', 
                                {
                                    'collectionTpl':'shop-cards-small', 
                                    'tplName': 'masonry',
                                    'code':'premium-actif',
                                    'order': 'position', 
                                    'limit': '20',
                                    'direction': 'asc', 
                                    'noElementText':'' 
                                }
                            )) }}
                            <!--
                            <div class="col-md-4 col-sm-6 masonry__item">
                                <a href="#">
                                    <div class="portfolio-item portfolio-item-1 text-center">
                                        <img alt="pic" src="img/work10.jpg" />
                                        <h5>Wave Poster</h5>
                                        <span>
                                            <em>Branding & Identity</em>
                                        </span>
                                    </div>
                                </a>
                            </div>
                            -->
                            <!--end item-->
                </div>
            </div>
        </section>
                               
    </div>
    
{% endblock %}