{% extends 'views/_layout.html.twig' %}

{% block title %}
    {{ content.title|escape }} - {{ parent() }}
{% endblock %}

{% block metadesc %}
    {{ content.introduction|escape }}
{% endblock %}

{% block bodyClass %}services{% endblock %}
{% block content %}

    <section class="block-content-wrapper" data-code="{{ content.code }}">
        <div class="full-content-wrapper" data-code="{{ content.code }}">
            <div class="full-content">
                <!-- Couloir contenu services -->
                <div class="wrap-title bg--white">
                    <div class="container">

                        {% if content.title is not empty %}
                            <h1 class="title" data-content-id="{{ content.id }}" data-content-field="title">
                                {{ content.title }}
                            </h1>
                        {% endif %}
                    </div>
                </div>
                <div class="wrap-intro">
                    <div class="container">
                        {% if content.subtitle is not empty %}
                            <div class="subtitle" data-content-id="{{ content.id }}" data-content-field="subtitle">
                                {{ content.subtitle }}
                            </div>
                        {% endif %}

                        {% if content.introduction is not empty %}
                            <div class="introduction" data-content-id="{{ content.id }}" data-content-field="introduction">
                                {{ content.introduction|raw }}
                            </div>
                        {% endif %}
                        
                    </div>
                </div>
                <!-- /Couloir contenu services -->
                <!-- Couloir Services partie 1 -->
                <div class="block-presentation">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                {{ render(url('render-content',{'tplName':'block', 'contentCode': 'B9'}))}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block-liste">
                    <div class="container">
                        <div class="row">
                            {{ render(url('render-content-collection', 
                                {
                                    'collectionTpl':'masonry', 
                                    'tplName': 'masonry',
                                    'code': content.id ~ '-services1',
                                    'order': 'date', 
                                    'limit': '20',
                                    'direction': 'asc', 
                                    'noElementText':'' 
                                }
                            )) }}
                        </div>
                    </div>
                </div>
                <!-- /Couloir Services partie 1  -->
                <!-- Couloir Services partie 2 -->
                <div class="block-presentation">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                {{ render(url('render-content',{'tplName':'block', 'contentCode': 'B10'}))}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block-liste">
                    <div class="container">
                        <div class="row">
                            {{ render(url('render-content-collection', 
                                {
                                    'collectionTpl':'masonry', 
                                    'tplName': 'masonry',
                                    'code': content.id ~ '-services2',
                                    'order': 'date', 
                                    'limit': '20',
                                    'direction': 'asc', 
                                    'noElementText':'' 
                                }
                            )) }}
                        </div>
                    </div>
                </div>
                <!-- /Couloir Services partie 2  -->
                <div class="wrap-intro">
                    <div class="container">
                        {% if content.content is not empty %}
                            <div class="content" data-content-id="{{ content.id }}" data-content-field="content">
                                {{ content.content|raw }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}