{% extends 'views/_layout.html.twig' %}

{% block title %}
    {{ content.title|escape }} - {{ parent() }}
{% endblock %}

{% block metadesc %}
    {{ content.introduction|escape }}
{% endblock %}

{% block bodyClass %}zone-push{% endblock %}
{% block content %}

    <section class="block-content-wrapper" data-code="{{ content.code }}">
        <div class="full-content-wrapper" data-code="{{ content.code }}">
            <div class="full-content">
                <!-- Section title -->
                <div class="wrap-title bg--white">
                    <div class="container">

                        {% if content.title is not empty %}
                            <h1 class="title" data-content-id="{{ content.id }}" data-content-field="title">
                                {{ content.title }}
                            </h1>
                        {% endif %}
                    </div>
                </div>
                <!-- /Section title -->
                
                <!-- Section subtitle + intro -->
                <div class="wrap-intro">
                    <div class="container">
                        {% if content.subtitle is not empty %}
                            <div class="subtitle" data-content-id="{{ content.id }}" data-content-field="subtitle">
                                {{ content.subtitle }}
                            </div>
                        {% endif %}

                        {% if content.introduction is not empty %}
                            <div class="introduction" data-content-id="{{ content.id }}" data-content-field="introduction">
                                {{ content.introduction|raw }}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <!-- /Section subtitle + intro -->
                
               
                
                <!-- Section zone-push -->
                <div class="zone-push-wrap section bg--secondary">
                    <div class="container">
                        <div class="row">
                            {{ render(url('render-content-collection', 
                                {
                                    'collectionTpl':'vertical-blog-cards', 
                                    'tplName': 'push',
                                    'code': content.id ~ '-push',
                                    'order': 'date', 
                                    'limit': '20',
                                    'direction': 'asc', 
                                    'noElementText':'' 
                                }
                            )) }}
                        </div>
                    </div>
                </div>
                <!-- /Section zone-push -->
                
                <!-- Section contenu -->
                <div class="wrap-content">
                    <div class="container">
                        {% if content.content is not empty %}
                            <div class="content" data-content-id="{{ content.id }}" data-content-field="content">
                                {{ content.content|raw }}
                            </div>
                        {% endif %}

                    </div>
                </div>
                <!-- /Section contenu -->
            </div>
        </div>
    </section>

{% endblock content %}