{% extends 'views/_layout.html.twig' %}

{% block title %}
    Temoignages - {{ parent() }}
{% endblock %}

{% block bodyClass %}Temoignages{% endblock %}
{% block content %}

        <section class=" page-contenu  bg--primary page-title page-title--animate parallax">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 text-center">
                    <h1>NOS TEMOIGNAGES</h1>
                </div>
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
        
    <section class="block-content-wrapper">
        <div class="container">
            {% if contents|length > 0 %}
                {% for content in contents %}
                    <div class=" row-temoignage ">
                        <div class="masonry__container masonry--animate">
                            <div class="card card--horizontal card-6 temoignage-card">
                                <div class=" col-sm-7 col-md-8 boxed boxed--lg temoignage-content">
                                    {% if content.content is not empty %}
                                        {{ content.content|raw }}
                                    {% endif %}                                        
                                </div>
                                <div class="card__body col-sm-5 col-md-4 boxed boxed--lg">
                                    {% if content.date is not empty %}
                                        <span>
                                            {{ content.date| date('d/m/Y') }}
                                        </span>
                                    {% endif %}
                                    {% if content.subtitle is not empty %}
                                        <span>
                                            <h6>{{ content.subtitle }}</h6>
                                        </span>
                                    {% endif %}

                                    {% if content.title is not empty %}
                                        <div class="card__title">
                                            <h4>{{ content.title }}</h4>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>                                            
                        </div>
                    </div>
                    <hr>
                {% endfor %}
            {% endif %}
        </div>
    </section>

{% endblock content %}
