{% extends 'views/_layout.html.twig' %}

{% block title %}
    {{ content.title|escape }} - {{ parent() }}
{% endblock %}

{% block metadesc %}
    {{ content.introduction|escape }}
{% endblock %}


{% block content %}

    <section class="height-40 bg--primary imagebg page-title page-title--animate parallax"{% if content.highlightpic is not empty %} data-overlay="2"{% endif %}>
        {% if content.highlightpic is not empty %}
            <div class="background-image-holder">
                <img alt="image" src="{{ content.highlightpic }}" />
            </div>
        {% endif %}
        <div class="container pos-vertical-center">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 text-center">
                    <h1>{{ content.title }}</h1>
                </div>
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </section>
    
    <section class="block-content-wrapper" data-code="{{ content.code }}">
        <div class="container">
            <div class='row'>
                    {{ render(url('render-content-collection', 
                        {
                            'collectionTpl':'horizontal-cards', 
                            'tplName': 'horizontal-card-right',
                            'code': content.id ~ '-card1',
                            'order': 'date', 
                            'limit': '20',
                            'direction': 'asc', 
                            'noElementText':'' 
                        }
                    )) }}
              
                    {{ render(url('render-content-collection', 
                        {
                            'collectionTpl':'horizontal-cards', 
                            'tplName': 'horizontal-card-right',
                            'code': content.id ~ '-card2',
                            'order': 'date', 
                            'limit': '20',
                            'direction': 'asc', 
                            'noElementText':'' 
                        }
                    )) }}
            </div>
        </div>
    </section>

{% endblock content %}